
/*
Theme Name: Replace with your Theme's name.
Theme URI: Your Theme's URI
Description: A brief description.
Version: 1.0
Author: You
Author URI: Your website address.
*/



 .logo {
  width: 200px;
	height: 200px;
	position: absolute;
	display: none;
	text-align: center;
	pointer-events: none;
	user-select: none;
	cursor: pointer;
}



.display-banner {
    /* background-image: url(../images/display-roof-background.jpg); */
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    margin-top: -20px;
  }

  .display-banner h1 {
    font-family: 'Reem Kufi', sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 4px;
    padding-top: 10%;
    padding-bottom: 20px;
    line-height: 70px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  }
  .quote-main {
    padding-bottom: 10%;
    
    }  
    
    #free-quote {
        background-color: transparent;
        color: #E5D600;
        border-radius: 0px;
        font-family: 'Reem Kufi', sans-serif; 
        font-size: 26px;
        padding: 17px 12px 12px 12px;
        border: 5px solid #E5D600;
      }
    
      
#free-quote:hover, #free-quotet:focus, #free-quote:active, #free-quote.active, .open>.dropdown-toggle #free-quote {
  color: #864A40;
  background-color: #E5D600;
}

#free-quote:active:focus {
  color: #864A40;
  background-color: #E5D600;
}

.get-quote-form {
  background-color: #ffffff;
  border-radius: 0px;
  padding-top: 60px;
  padding-bottom: 100px;
}

form {
  background-color: #f9eee5;
  border-radius: 0px;
  -webkit-box-shadow: 0px 2px 46px 0px rgba(243, 238, 222, 1);
  -moz-box-shadow: 0px 2px 46px 0px rgba(243, 238, 222, 1);
  box-shadow: 0px 2px 46px 0px rgba(243, 238, 222, 1);
  padding-top: 20px;
  padding-bottom: 80px;
}

input {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
  margin-bottom: -1px !important;
  border-radius: 0 !important;
}

option {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
}

select {
  height: 50px !important;
  border: 1px solid #aaaaaa;
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
  border-radius: 0 !important;
}

.disabled {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
}

#message {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
}

option {
  color: #565656 !important;
}

label {
  font-size: 18px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
  margin-bottom: -1px !important;
  margin-left: 5px;
}

.form-group {
  padding-left: 15px;
  padding-right: 15px;
}

.disclaimer {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after, .icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 5px;
}

.icon-addon.addon-md .form-control, .icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa, .icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px
}

.icon-addon .form-control:focus+.glyphicon, .icon-addon:hover .glyphicon, .icon-addon .form-control:focus+.fa, .icon-addon:hover .fa {
  color: #774220;
}

.glyphicon {
  color: #774220;
}

a:hover {
  text-decoration: none !important;
  color: #e5e5e5;
}

form p {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 22px;
  color: #774220;
  line-height: 35px;
  position: relative;
  top: 30px;
}

.intro-text {
  padding-top: 80px;
  padding-bottom: 80px;
}

.intro-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #4F4D4F;
  text-align: center;
  line-height: 32px;
}

.quote-submit {
  background-color: #E5D600;
  color: #864A40;
  border-color: #E5D600;
  border-radius: 2px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px !important;
  font-family: 'Reem Kufi', sans-serif !important;
  position: relative;
  top: 8px !important;
  border: 5px solid #E5D600;
}

.quote-submit:hover, .quote-submit:focus, .quote-submit:active, .quote-submit.active, .open>.dropdown-toggle .quote-submit {
  color: #774220;
  background-color: #ffffff;
  border: 5px solid #774220;
}

.quote-submit:active:focus {
  color: #774220;
  background-color: #ffffff;
  border: 5px solid #774220;
}

.padding-0 {
  padding: 0 !important;
}

h1 {
  padding: 0;
  margin: 0;
}
h4{
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.row {
  padding: 0;
  margin: 0;
}

#get-quote {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background-color: #E5D600;
  color: #864A40;
  border-radius: 0;
  border: 4px solid #E5D600;
}

#get-quote:hover, #get-quote:focus, #get-quote:active, #get-quote.active, .open>.dropdown-toggle #get-quote {
  color: #864A40;
  background-color: #ffffff;
  border: 4px solid #864A40;
  font-size: 32px;
}

#get-quote:active:focus {
  color: #864A40;
  background-color: #ffffff;
  border: 4px solid #864A40;
}

.terms a {
  color: #ed3641;
  font-weight: bold;
}

.terms-banner h2 {
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  font-size: 65px;
  color: #ffffff;
  position: relative;
  top: 80px;
}