.section {
  overflow: auto;
  min-height: 1107px;
  margin-top: -1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 39, 66, .42)), to(rgba(35, 39, 66, .42))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .3))), url('../images/arm-1-pic.jpg');
  background-image: linear-gradient(180deg, rgba(35, 39, 66, .42), rgba(35, 39, 66, .42)), linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/arm-1-pic.jpg');
  background-position: 0px 0px, 0px 0px, -579px -2px;
  background-size: auto, auto, cover;
}

.div-block {
  display: -ms-grid;
  display: grid;
  min-height: 959px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto;
}

.upper-wrapper {
  display: block;
  min-height: 397px;
  margin-top: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mid-wrapper {
  min-height: 421px;
}

.bottom-wrapper {
  min-height: 397px;
}

.columns {
  min-height: 397px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 397px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-2 {
  min-height: 397px;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 397px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrist-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph {
  max-width: 250px;
  margin-top: 14px;
  color: #fff;
}

.body {
  min-height: 0%;
  background-color: transparent;
}

.hand-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 91px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  max-width: 275px;
  margin-top: 0px;
  padding-top: 0px;
  color: #fff;
}

.div-block-2 {
  font-family: 'PT Serif', serif;
}

.heading {
  color: #172554;
  font-size: 39px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

.header-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading-2 {
  font-family: 'Droid Serif', serif;
  color: #1d1c5d;
  text-shadow: 1px 1px 6px #fff;
}

.arm-container {
  min-height: 397px;
}

.column-4 {
  display: -ms-grid;
  display: grid;
  min-height: 397px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.column-5 {
  min-height: 397px;
}

.upper-arm-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.lower-arm-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  align-self: start;
}

.upper-arm-image-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 57px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  align-self: start;
}

.elbow-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -54px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-3 {
  max-width: 250px;
  margin-left: 211px;
  color: #fff;
}

.paragraph-4 {
  margin-top: 41px;
  color: #fff;
}

.paragraph-5 {
  max-width: 445px;
  margin-left: 253px;
  color: #fff;
}

.paragraph-6 {
  color: #fff;
}

.heading-3 {
  color: #fff;
}

.columns-2 {
  min-height: 397px;
}

.column-6 {
  min-height: 397px;
}

.column-7 {
  min-height: 397px;
}

.lower-arm2-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.shoulder-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.paragraph-7 {
  color: #fff;
}

.attachment-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 111px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-8 {
  max-width: 364px;
  margin-top: 22px;
  color: #fff;
}

.image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-2 {
  margin-left: 259px;
}

.image-3 {
  cursor: pointer;
}

.slider {
  min-height: 0px;
  min-width: 343px;
  margin-top: 13px;
}

.main-section-wrapper {
  min-height: 1000px;
  margin: 47px 14px;
  padding-top: 0px;
  background-color: #213e6a;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  margin-top: 0px;
  margin-bottom: 68px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  font-family: 'Droid Serif', serif;
  color: #fff;
}

.arm-wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 1047px;
  margin-top: 83px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . ." ". . . . . . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .33)), to(rgba(0, 0, 0, .33))), url('../images/arm-1-pic.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .33), rgba(0, 0, 0, .33)), url('../images/arm-1-pic.jpg');
  background-position: 0px 0px, -83px 1px;
  background-size: auto, cover;
}

.div-block-5 {
  margin-right: 1px;
}

.image-4 {
  margin-left: 1px;
}

.div-block-6 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.div-block-7 {
  background-image: url('../images/ecentric-con-pic.jpg');
  background-position: -50px 0px;
  background-size: cover;
}

.div-block-8 {
  background-image: url('../images/iso-met-pic.jpg');
  background-position: -54px 18px;
  background-size: cover;
}

.div-block-9 {
  background-image: url('../images/concen-con-pic.jpg');
  background-position: -114px 0px;
  background-size: cover;
}

.paragraph-9 {
  color: #fff;
  font-size: 17px;
}

.paragraph-10 {
  color: #fff;
  font-size: 17px;
}

.paragraph-11 {
  color: #fff;
  font-size: 17px;
}

.paragraph-12 {
  color: #fff;
  font-size: 17px;
}

.paragraph-13 {
  color: #fff;
  font-size: 17px;
}

.paragraph-14 {
  color: #fff;
}

.paragraph-15 {
  margin-top: 354px;
  color: #fff;
}

.paragraph-16 {
  color: #fff;
}

.arm-function-wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 900px;
  margin-top: 6px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .48)), to(rgba(0, 0, 0, .48))), url('../images/arm-1-pic.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .48), rgba(0, 0, 0, .48)), url('../images/arm-1-pic.jpg');
  background-position: 0px 0px, 0px -31px;
  background-size: auto, cover;
}

.arm-move-diar-item {
  margin-top: 83px;
  border: 2px solid #000;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .55);
  cursor: pointer;
}

.peck-pic-item {
  border: 2px solid #000;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .62);
  cursor: pointer;
}

.paragraph-17 {
  color: #fff;
  font-size: 20px;
}

.paragraph-18 {
  color: #fff;
  font-size: 20px;
}

.paragraph-19 {
  margin-left: 33px;
  color: #fff;
  font-size: 20px;
}

.heading-5 {
  margin-left: 33px;
  font-family: 'Droid Serif', serif;
  color: #fff;
}

.paragraph-20 {
  color: #fff;
  font-size: 20px;
}

.con-cen-tric-contr-item {
  margin-top: 42px;
  border: 2px solid #000;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .47);
  cursor: pointer;
}

.paragraph-21 {
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
}

.ecen-tric-contrac-pic-item {
  border: 2px solid #000;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .44);
  cursor: pointer;
}

.paragraph-22 {
  color: #fff;
  font-size: 20px;
}

.arm-diarg-pic-item {
  margin-top: 29px;
  margin-right: 9px;
  padding-right: 0px;
  border: 2px solid #000;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .7);
  cursor: pointer;
}

.paragraph-23 {
  color: #fff;
  font-size: 20px;
}

.paragraph-24 {
  color: #fff;
}

.ico-metric-contrac-pic-item {
  margin-top: 0px;
  margin-bottom: 59px;
  margin-left: 18px;
  border: 2px solid #000;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .74);
  cursor: pointer;
}

.heading-6 {
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 29px;
  text-align: center;
}

.heading-7 {
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 31px;
  text-align: center;
}

.heading-8 {
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.heading-9 {
  font-family: 'Droid Serif', serif;
  color: #fff;
  text-align: center;
}

.heading-10 {
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.heading-11 {
  font-family: 'Droid Serif', serif;
  color: #fff;
  text-align: center;
}

.list-item {
  color: #fff;
  font-size: 17px;
  line-height: 27px;
}

.list-item-2 {
  color: #fff;
  font-size: 17px;
  line-height: 27px;
}

.list-item-3 {
  color: #fff;
  font-size: 17px;
  line-height: 27px;
}

.image-5 {
  margin-right: 44px;
  margin-left: 0px;
  padding-left: 0px;
}

.heading-12 {
  font-family: 'Droid Serif', serif;
  color: #fff;
  text-align: center;
}

#w-node-ea7b473f5150-4248c76c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-ae6285c9a718-4248c76c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}

#w-node-60804ac1fd1e-4248c76c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-5d61354abc38-4248c76c {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-887194640982-4248c76c {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 3;
  grid-row-end: 4;
}

#w-node-7a11f1563601-4248c76c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-738499d78846-4248c76c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-6d714fd34b36-4248c76c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-167242c2dee7-4248c76c {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-eccdaa4e2b4e-4248c76c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-34d04a8f13a5-4248c76c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-6e6d4f5d6f82-4248c76c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-629d3fb2b0a7-4248c76c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-6163cdbba29c-4248c76c {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 3;
  grid-column-end: 6;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}