
  .resource-banner {
    background-image: url(../images/mark-keller-paint1.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-top: -20px;
  }

  .resource-banner h2 {
    font-family: 'Reem Kufi', sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 4px;
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 70px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  }

  /* end of resource banner */

  /* General Body Look  */

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

section{
    margin: 0;
	padding: 30px;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
    


/* basic styling */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f3f6fa;
}

    body.is-preload *, body.is-preload *:before, body.is-preload *:after {
        -moz-animation: none !important;
        -webkit-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

body, input, select, textarea {
    color: #5e86d6;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}


a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #29335C;
    text-decoration: none;
    
}

a:hover {
    border-bottom-color: transparent;
}

strong, b {
    font-weight: 400;
}

p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.75em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

h3 {
    font-size: 1.15em;
    letter-spacing: 0.025em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border-top: solid 1px rgba(124, 128, 129, 0.2);
    border: 0;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: solid 0.5em rgba(124, 128, 129, 0.2);
    font-style: italic;
    padding: 1em 0 1em 2em;
}



/* container */

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
}
.container.medium {
    width: 1050px;
}
/* end of container */


/* row styling */

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

    .row > * {
        box-sizing: border-box;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }

    .row.aln-left {
        justify-content: flex-start;
    }

    .row.aln-center {
        justify-content: center;
    }

    .row.aln-right {
        justify-content: flex-end;
    }

    .row.aln-top {
        align-items: flex-start;
    }

    .row.aln-middle {
        align-items: center;
    }

    .row.aln-bottom {
        align-items: flex-end;
    }

    .row > .imp {
        order: -1;
    }

    .row > .col-1 {
        width: 8.3333333333%;
    }

    .row > .off-1 {
        margin-left: 8.3333333333%;
    }

    .row > .col-2 {
        width: 16.6666666667%;
    }

    .row > .off-2 {
        margin-left: 16.6666666667%;
    }

    .row > .col-3 {
        width: 25%;
    }

    .row > .off-3 {
        margin-left: 25%;
    }

    .row > .col-4 {
        width: 33.3333333333%;
    }

    .row > .off-4 {
        margin-left: 33.3333333333%;
    }

    .row > .col-5 {
        width: 41.6666666667%;
    }

    .row > .off-5 {
        margin-left: 41.6666666667%;
    }

    .row > .col-6 {
        width: 50%;
    }

    .row > .off-6 {
        margin-left: 50%;
    }

    .row > .col-7 {
        width: 58.3333333333%;
    }

    .row > .off-7 {
        margin-left: 58.3333333333%;
    }

    .row > .col-8 {
        width: 66.6666666667%;
    }

    .row > .off-8 {
        margin-left: 66.6666666667%;
    }

    .row > .col-9 {
        width: 75%;
    }

    .row > .off-9 {
        margin-left: 75%;
    }

    .row > .col-10 {
        width: 83.3333333333%;
    }

    .row > .off-10 {
        margin-left: 83.3333333333%;
    }

    .row > .col-11 {
        width: 91.6666666667%;
    }

    .row > .off-11 {
        margin-left: 91.6666666667%;
    }

    .row > .col-12 {
        width: 100%;
    }

    .row > .off-12 {
        margin-left: 100%;
    }

    .row.gtr-0 {
        margin-top: 0px;
        margin-left: 0px;
    }

        .row.gtr-0 > * {
            padding: 0px 0 0 0px;
        }

        .row.gtr-0.gtr-uniform {
            margin-top: 0px;
        }

            .row.gtr-0.gtr-uniform > * {
                padding-top: 0px;
            }

    .row.gtr-25 {
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

        .row.gtr-25 > * {
            padding: 12.5px 0 0 12.5px;
        }

        .row.gtr-25.gtr-uniform {
            margin-top: -12.5px;
        }

            .row.gtr-25.gtr-uniform > * {
                padding-top: 12.5px;
            }

    .row.gtr-50 {
        margin-top: -25px;
        margin-left: -25px;
    }

        .row.gtr-50 > * {
            padding: 25px 0 0 25px;
        }

        .row.gtr-50.gtr-uniform {
            margin-top: -25px;
        }

            .row.gtr-50.gtr-uniform > * {
                padding-top: 25px;
            }

    .row {
        margin-top: -50px;
        margin-left: -50px;
    }

        .row > * {
            padding: 50px 0 0 50px;
        }

        .row.gtr-uniform {
            margin-top: -50px;
        }

            .row.gtr-uniform > * {
                padding-top: 50px;
            }

    .row.gtr-150 {
        margin-top: -55px;
        margin-left: -75px;
    }

        .row.gtr-150 > * {
            padding: 75px 0 0 75px;
        }

        .row.gtr-150.gtr-uniform {
            margin-top: -75px;
        }

            .row.gtr-150.gtr-uniform > * {
                padding-top: 75px;
            }

    .row.gtr-200 {
        margin-top: -100px;
        margin-left: -100px;
    }

        .row.gtr-200 > * {
            padding: 100px 0 0 100px;
        }

        .row.gtr-200.gtr-uniform {
            margin-top: -100px;
        }

            .row.gtr-200.gtr-uniform > * {
                padding-top: 100px;
            }

            /* end of row styling */
/* content styling */
.row > .col-4{
width: 33.3333333333%;
}
.row > .col-8{
    width: 66.66666667%;
    }
/* end of content */


/* section styling */
section.special, article.special {
    text-align: center;
    padding
}

header.major {
    padding-bottom: 2em;
}
header.special {
    margin-bottom: 5em;
    padding-top: 7em;
    position: relative;
    text-align: center;
}

header.special:before, header.special:after {
    border-bottom: solid 1.5px;
    border-top: solid 1.5px;
    content: '';
    height: 7px;
    opacity: 0.1;
    position: absolute;
    top: 1.75em;
    width: 43%;
}

header.special:before {
    left: 0;
}

header.special:after {
    right: 0;
}

header.special h2 {
    margin-bottom: 0;
}

header.special h2 + p {
    margin-bottom: 0;
    padding-top: 1.5em;
}

header.special .icon {
    cursor: default;
    height: 7em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
}

    header.special .icon:before {
        font-size: 3.5em;
        opacity: 0.35;
    }


/* image styling */
.image {
    border: 0;
    position: relative;
}

    .image:before {
        background: url("images/overlay.png");
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .image.fit {
        display: block;
    }

        .image.fit img {
            display: block;
            width: 100%;
        }

    .image.featured {
        display: block;
        margin: 0 0 2em 0;
    }

        .image.featured img {
            display: block;
            width: 27%;
        }


/* list styling */
ol {
    list-style: decimal;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

ul {
    list-style: disc;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }
    


/* Buttons styling */
ul.buttons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.buttons:last-child {
        margin-bottom: 0;
    }

    ul.buttons li {
        display: inline-block;
        padding: 0 0 0 1.5em;
    }

        ul.buttons li:first-child {
            padding: 0;
        }

    ul.buttons.stacked li {
        display: block;
        padding: 1.5em 0 0 0;
    }

        ul.buttons.stacked li:first-child {
            padding: 0;
        }