.display-banner {
  background-image: url(../images/mark-keller-paint1.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-top: -20px;
}

.display-banner h1 {
  font-family: 'Reem Kufi', sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 4px;
  padding-top: 10%;
  padding-bottom: 20px;
  line-height: 70px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.quote-main {
padding-bottom: 10%;

}

#free-quote {
  background-color: transparent;
  color:#29335C;
  border-radius: 0px;
  font-family: 'Reem Kufi', sans-serif; 
  font-size: 26px;
  padding: 17px 12px 12px 12px;
  border: 5px solid #5E86D6;
}

#free-quote:hover, #free-quotet:focus, #free-quote:active, #free-quote.active, .open>.dropdown-toggle #free-quote {
  color:#5E86D6;
  background-color: #29335C;;
}

#free-quote:active:focus {
  color: #5E86D6;
  background-color:#29335C ;
}

.get-quote-form {
  background-color: #ffffff;
  border-radius: 0px;
  padding-top: 60px;
  padding-bottom: 100px;
}

form {
  background-color: #f0cea0;
  border-radius: 0px;
  -webkit-box-shadow: 0px 2px 46px 0px rgba(243, 238, 222, 1);
  -moz-box-shadow: 0px 2px 46px 0px rgba(243, 238, 222, 1);
  box-shadow: 0px 2px 46px 0px rgba(243, 238, 222, 1);
  padding-top: 20px;
  padding-bottom: 80px;
}

input {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
  margin-bottom: -1px !important;
  border-radius: 0 !important;
}

option {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
}

select {
  height: 50px !important;
  border: 1px solid #aaaaaa;
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
  border-radius: 0 !important;
}

.disabled {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
}

#message {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
}

option {
  color: #565656 !important;
}

label {
  font-size: 18px !important;
  font-family: 'Montserrat', sans-serif;
  color: #3f3f3f;
  margin-bottom: -1px !important;
  margin-left: 5px;
}

.form-group {
  padding-left: 15px;
  padding-right: 15px;
}

.disclaimer {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after, .icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 5px;
}

.icon-addon.addon-md .form-control, .icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa, .icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px
}

.icon-addon .form-control:focus+.glyphicon, .icon-addon:hover .glyphicon, .icon-addon .form-control:focus+.fa, .icon-addon:hover .fa {
  color: #774220;
}

.glyphicon {
  color: #774220;
}

a:hover {
  text-decoration: none !important;
  color: #e5e5e5;
}

form p {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 22px;
  color: #29335C ;
  line-height: 35px;
  position: relative;
  top: 30px;
}

.intro-text {

  padding-top: 80px;
  padding-bottom: 80px;
}

.intro-text p {
  font-family: sans-serif;
  font-size: 30px;
  color:  #5e86d6;
  text-align: center;
  line-height: 32px;
}

.quote-submit {
  background-color: #F3A712;
  color: #29335C ;
  border-color: #F3A712;
  border-radius: 2px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px !important;
  font-family: 'Reem Kufi', sans-serif !important;
  position: relative;
  top: 8px !important;
  border: 5px solid #F3A712;
}

.quote-submit:hover, .quote-submit:focus, .quote-submit:active, .quote-submit.active, .open>.dropdown-toggle .quote-submit {
  color: #29335C ;
  background-color: #ffffff;
  border: 5px solid #29335C ;
}

.quote-submit:active:focus {
  color: #29335C;
  background-color: #ffffff;
  border: 5px solid #29335C;
}

.padding-0 {
  padding: 0 !important;
}

h1 {
  padding: 0;
  margin: 0;
}

.durable-decks {
  font-family: 'Reem Kufi', sans-serif !important;
  padding: 150px 10px 150px 10px !important;
  font-size: 55px !important;
  color: #5E86D6 !important;
  font-weight: bold;
  letter-spacing: 2px;
}

.cities {
  background-image: url(../images/mark-keller-paint1.jpg);
  min-height: 400px;
  max-height: 630px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cities a:hover {
  color: #F3A712 !important;
}

.cities h3 {
  font-family: 'Reem Kufi', sans-serif;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  font-size: 60px;
  color: #5e86d6;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  top: 70px;
}

.cities a {
  font-family: 'Reem Kufi', sans-serif;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  font-size: 22px;
  color: #5e86d6;
  letter-spacing: 1px;
}

.choose-cities  {
  margin-top: 60px;
}

.description p {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: #4F4D4F;
  line-height: 29px;
  text-align: center;
}

.city-description p {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: #4F4D4F;
  line-height: 29px;
  text-align: center;
}

.why-deck-installation p {
  color: #ffffff;
  padding-top: 25%;
  padding-bottom: 25%;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.patterned {
  background-color:#534D41;
  height: 570px;
}

.side-img1 {
  background-image: url(../images/Mountains.jpg);
  height: 570px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.side-img2 {
  background-image: url(../images/deck-side-img2.jpg);
  height: 570px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.row {
  padding: 0;
  margin: 0;
}

#get-quote {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background-color: #F3A712;
  color: #29335C;
  border-radius: 0;
  border: 4px solid #F3A712;
}

#get-quote:hover, #get-quote:focus, #get-quote:active, #get-quote.active, .open>.dropdown-toggle #get-quote {
  color: #29335C;
  background-color: #ffffff;
  border: 4px solid #29335C;
  font-size: 32px;
}

#get-quote:active:focus {
  color: #29335C;
  background-color: #ffffff;
  border: 4px solid #29335C;
}


/* portfolio styles */
/* .negative-wrap{
  margin:0 -10px 0 -10px;
}

 a, a:visited{
  color: #245F96;
  text-decoration: none;
  outline: 0;
 }
 a:hover {
   color:#bab293
 }

.portfolio-item img{
  display: block;
  width: 220px;
  height: 143px;
}

.portfolio-item .portfolio-pic .portfolio-overlay {
  display: block;
    width: 220px;
    height: 143px;
    overflow: hidden;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
} */

/* .portfolio-item .portfolio-pic .portfolio-overlay
.overlay-link{
  width: 48px;
    height: 48px;
    background: rgba(0,0,0,0.7) url(../images/overlay-link.png) no-repeat center center;
    position: absolute;
    top: -25px;
    left: 85px;
    display: block;
    text-indent: -9999px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
} */

.grid-container{
  display:grid; 
  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

}

.box  {
  background-color: #373737;
  width: 380px;
  height: 220px;
  position:relative;
  border-radius: 60px;
  margin: 20px;
  display: inline-block;
  border: 1px solid #fff;
  transition: all .3s ease-in-out;
}
.box:hover {
  background: #373737;
  border: 1px solid #232323;
  box-shadow: inset 0 0 0px 10px #000;
  cursor: pointer;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}
.box img.thumb {
  border-radius: 60px;
  max-width: 100%;
  transition: all .5s ease-in-out;
}
.box:hover img.thumb {
  border-radius: 60px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.box:after {
  content: attr(data-description);
  margin: 0;
  width: 85px;
  visibility: hidden;
  display: block;
  font-family: Arial, sans-serif;
  position: absolute;
  color: white;
  bottom: -20px;
  text-align: center;
  font-size: 13px;
  background-color: black;
  padding: 10px;
  transition: all .3s ease-in-out;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.box:hover::after {
  visibility: visible;
  bottom: -45px;
  opacity:1;
} */


.terms {
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: #515151;
}

.about-banner {
  background-image: url(../images/mark-keller-paint1.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-top: -20px;
}

.about-banner h2 {
  font-family: 'Reem Kufi', sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 4px;
  padding-top: 10%;
  padding-bottom: 10%;
  line-height: 70px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about p {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  color: #5e86d6;
}

.about ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #5e86d6;
}
.terms a {
  color: #ed3641;
  font-weight: bold;
}

.terms-banner h2 {
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  font-size: 65px;
  color: #ffffff;
  position: relative;
  top: 80px;
}

.terms-banner {
  margin-top: -20px;
  background-image: url(../images/deck-installers-banner.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.decks {
  background-image: url(../images/patterned-backgroud.png);
  height: 550px;
}

.decks img {
  position: relative;
  top: 35px;
}


.row.gtr-150 {
  margin-top: -75px;
  margin-left: -75px;
}

  .row.gtr-150 > * {
    padding: 75px 0 0 75px;
  }

  .row.gtr-150.gtr-uniform {
    margin-top: -75px;
  }

    .row.gtr-150.gtr-uniform > * {
      padding-top: 75px;
    }


 .sidebar section {
  border-top: solid 1px rgba(124, 128, 129, 0.2);
  margin: 3em 0 0 0;
  padding: 3em 0 0 0;
}


.sidebar section:first-child {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}

.sidebar {
  border-top: solid 1px rgba(124, 128, 129, 0.1);
  padding-top: 3em;
}

.image {
  border:0;
  position: relative;
}
.image.featured{
  display: block;
  width: 100%;
}

ul.buttons:last-child{
  margin-bottom:0;

}
ul.buttons{
  cursor: default;
  list-style: none;
  padding-left: 0;
}

/* #page-wrap {
  padding: 30px 0px 30px 0px; 
}
#content .sidebar-left {
float: left; 
width: 923px;

}

.container .twelve.columns {
  width: 923px;
}


.container .columns{
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
    
}

.post{
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}


.callout{
  height: fit-content;
  widows: 690px;
  float: left;
  margin: 0 0px 0 0px;
    padding: 10px;
    border: 1px solid rgb(82, 79, 79);
    display: block;
    background: #ffffff url(../images/patterned-backgroud.jpg) !important;
    box-shadow: 1px 1px 3px 0px rgba(180, 180, 180, 0.2);
}

.callout .boarder{
  background: #ffffff;
    border: 1px solid #e3e3e3;
    padding: 20px 20px 0px 20px;
    -webkit-box-shadow: inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);
    -moz-box-shadow: inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);
    box-shadow: inset 1px 1px 2px 0px rgba(180, 180, 180, 0.1);

}

.callout .clearfix{
  zoom: 1;
}
.callout-content h2{
  font-family: georgia, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #5e86d6;
}
.callout-content p{
  font-family: georgia, Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  color: #4F4D4F;
}

.callout-content{
  float: left;
}

.callout-button{
  float:right;
  font-size: 25px;
  margin:0px;
  background-color:#F3A712;
}

.break{
  margin: 10px 0px 10px 0px; 
  width:879px;
}
.sidenav{
  margin-bottom: 0px;
}

#sidebar .four-columns{

  position: relative;
    width: 197px;
    float: right;
    border: 4px ridge #fff;
    border-radius: 15px;
    top: 60px;
}
#sidebar .widget{
  margin-bottom: 0px;
  
}
#sidebar .widget h3{
  font-size: 15px;
  margin: 0 0 15px 0; 
}
.one-half{
  position: relative;
  margin-right: 4%;
  margin-bottom: 20px;
  float:left;
  width:340px;
}
.dropcap {
  display: block;
    float: left;
    font-size: 25px;
    line-height: 54px;
    margin: 6px 8px 0 0;
}


.one-half p{
  margin: 0 0 20px 0;
}

.clear{
  clear: both;
  visibility: hidden;
  width: 0;
  height: 0;
}

.one-half h1{
  font-family: georgia, Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #5e86d6;
}

.one-half h2{
    font-family: georgia, Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #5e86d6;
}

.title{
  padding: 0;
  margin: 0 0 20px 0;
  background: url(../images/patterned-backgroud.jpg) left top;
  line-height: 1 !important;

}
.widget-portfolio .portfolio-widget-item{
  float: left;
    padding: 0 0 0px 0;
    margin: 0 10px 10px 0;
} */

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 600px) {
  .display-banner {
    background-image: url(../images/mark-keller-paint1.jpg);
  }
  .display-banner h1 {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 50px;
  }
  .about-banner h2 {
    font-size: 35px;
    position: relative;
    top: 120px;
    line-height: 50px;
    padding-bottom: 120px !important;
  }
  #free-quote {
    position: relative;
    top: 0px;
    font-size: 20px;
    padding: 10px;
    border: 5px solid #E5D600;
  }

  .composite-deck-div {
    margin-top: -30px;
  }
  .choose-cities  {
    padding-bottom: 30px;
  }
  input {
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3f;
    margin-bottom: -1px !important;
  }
  .durable-decks {
    font-size: 45px !important;
    color: #515151 !important;
  }
  .terms-banner h2 {
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    position: relative;
    top: 120px;
  }
  .terms {
    margin-top: 40px;
  }
  .about-banner {
    margin-top: -20px;
    background-image: url(../images/mark-keller-paint1.jpg);
    height: 350px;
    background-size: 100% 100%;
    background-attachment: scroll;
  }
  .side-img1 {
    height: 450px;
  }
  .side-img2 {
    height: 450px;
  }
  .patterned {
    height: auto !important;
  }
  .patterned p {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  form {
    padding-left: 10px;
    padding-right: 10px;
  }
   h1 {
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .wooden-type {
    margin-top: -40px;
  }
}



@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .display-banner {
    background-image: url(../images/mark-keller-paint1.jpg);
  }
  .about-banner {
    background-image: url(../images/mark-keller-paint1.jpg);
  }
  .display-banner h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    line-height: 50px;
  }
  #free-quote {
    position: relative;
    top: 0px;
    font-size: 22px;
    padding: 14px 12px 12px 12px;
  }
 h1 {
    padding-top: 30%;
    padding-bottom: 30%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .choose-cities  {
    padding-bottom: 30px;
  }
  .deck-installation img {
    height: 550px !important;
  }
  label {
    font-size: 18px !important;
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3f;
    margin-bottom: -1px !important;
    margin-left: 5px;
  }
  .form-group {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
    position: relative;
    left: 0px;
  }
  .terms-banner h2 {
    font-family: 'Reem Kufi', sans-serif;
    text-align: center;
    font-size: 55px;
    color: #ffffff;
    position: relative;
    top: 120px;
  }
  .terms {
    margin-top: 40px;
  }
  .get-quote-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* iPads (landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .choose-cities  {
    padding-bottom: 30px;
  }
  .form-group {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: relative;
    left: 0px;
  }
  .terms-banner h2 {
    position: relative;
    top: 100px;
  }
}

/* iPads (landscape) ----------- */

@media only screen and (min-width: 400px) and (max-width: 1200px) and (orientation: landscape) {
  .deck-installation img {
    height: 700px !important;
  }
}