@charset "utf-8";
/* CSS Document */
html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
}

h1 {
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	color:#003300;
}

h2 {
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	color:#003300;
}

#greenstripe {
	background-color:#1e4d2b; 
	width:100%;
}

#logocontainer {
	max-width: 1140px; 
	margin: 0 auto;
	height:86px;
}

#csulogo {
	display: inline-block;
	width:350px;
	height:45px;
	vertical-align:middle;
	padding-right:20px;
	border-right: 2px solid white;
	background:transparent url(../images/signature-oneline.png) no-repeat;
	min-height:45px;
}

.NotToShow {
    display: none;
}

#collegelogo {
	display: inline-block;
	vertical-align:middle;
	padding-left:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	letter-spacing: 2px;
}

.rwd-line {
    display: inline;
}

#collegelogo a {
	color:#FFF;
	text-decoration:none;
}


#greenstripe2 {
	background-color:#286739; 
	width:100%;
}

#deptcontainer {
	max-width: 1140px; 
	margin: 0 auto;
	height:50px;
	vertical-align:middle;
}

#deptlogo {
	display: inline-block;
	vertical-align:middle;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
}

#deptlogo a {
	color: rgba(255, 255, 255, 0.9);
	text-decoration:none;
}

#textarea {
	max-width: 1140px; 
	margin: 0 auto;
	color: #777777;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}

#textarea a {
	color: #003300;
}

#textarea b,strong {
	color: #cc6600;
}

#textarea a:hover {
    color: #cc6600;
}

