<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href=" https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <style type="text/css"> body { padding-top: 180px}</style>
</head>
<body>
<!--download for Vue js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>

<div id="root" class="container">

    <modal v-if="showModal" @close="showModal = false"></modal>
    <!--<div class="modal is-active">-->
        <!--<div class="modal-background"></div>-->
        <!--<div class="modal-content">-->
            <!--<div class='box'>-->
            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. -->
                <!--Suspendisse varius enim in eros elementum tristique. -->
                <!--Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero -->
                <!--vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.-->
                 <!--Nunc ut sem vitae risus tristique posuere.-->
            <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<button class="modal-close is-large" aria-label="close"></button>-->
      <!--</div>-->

   

    <button @click="showModal = true">Click Here to Log In</button>

</div>
<!--end of container-->

<script src="modal.js"></script>

</body>
</html>