body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  line-height: 40px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  line-height: 33px;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 22px;
  font-weight: 400;
}

a {
  color: #2196f3;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

strong {
  font-weight: bold;
}

blockquote {
  margin-bottom: 20px;
  padding: 0px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 16px;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 7px;
  color: rgba(51, 51, 51, .56);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.button {
  position: relative;
  left: 37px;
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #a8a8a8;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #1565c0;
}

.button.w--current {
  background-color: #c1d6d9;
}

.button.white {
  background-color: #fff;
  color: #333;
}

.button.white:hover {
  background-color: hsla(0, 0%, 100%, .77);
}

.button.black {
  background-color: #333;
}

.button.black:hover {
  background-color: #000;
}

.button.black.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.button.full-width {
  display: block;
  width: 100%;
  background-color: #95bf8a;
}

.button.small {
  padding: 7px 12px;
  background-color: #2196f3;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

.button.small:hover {
  background-color: #1565c0;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #a8a8a8;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: easeundefined;
  transition-timing-function: easeundefined;
}

.button.tab:hover {
  background-color: #7e7e7e;
}

.button.tab.w--current {
  background-color: #95bf8a;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.button.tab.w--current:hover {
  background-color: #1565c0;
}

.button.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.navigation-link {
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navigation-link:hover {
  color: #2196f3;
}

.navigation-link.white {
  right: 0px;
  color: #fff;
}

.navigation-bar {
  background-color: #fff;
}

.navigation-bar.dark {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  font-family: 'PT Serif', serif;
  color: #000;
  font-size: 20px;
}

.navigation-bar.top {
  margin-top: 58px;
  margin-bottom: 124px;
  border-radius: 5px;
  background-color: #fff;
}

.navigation-menu {
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navigation-menu.left {
  float: left;
}

.navigation-menu.on-bottom {
  float: none;
  text-align: center;
}

.brand-text {
  position: relative;
  right: 0px;
  display: block;
  margin-top: 16px;
  margin-bottom: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'PT Serif', serif;
  color: #dbdbdb;
  font-size: 31px;
  line-height: 26px;
  font-weight: 400;
}

.brand-link {
  height: 60px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.brand-link:hover {
  opacity: 0.66;
}

.brand-link.right {
  float: right;
}

.brand-link.on-top {
  display: block;
  float: none;
  text-align: center;
}

.brand-link.white {
  color: #fff;
}

.brand-link.left-spacing {
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.brand-link.left-spacing.w--current {
  left: -222px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.brand-link.left {
  margin-left: 16px;
}

.brand-link.left-spacing {
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.brand-link.left-spacing.w--current {
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-two {
  position: relative;
  min-height: 758px;
  margin-bottom: -7px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e6e6e6;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.section-two.centered {
  text-align: center;
}

.section-two.accent {
  background-color: #f3f3f3;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.section-two.dark {
  background-color: #5d5d5d;
  color: #fff;
}

.hero-slider {
  min-height: 588px;
  background-color: transparent;
}

.slide {
  background-color: #a8a8a8;
}

.slide.two {
  background-color: #254449;
}

.header-section {
  padding-top: 104px;
  padding-bottom: 104px;
  background-color: #5d5d5d;
  color: #fff;
  text-align: center;
}

.page-heading {
  margin-top: 0px;
  margin-bottom: 11px;
  color: #fff;
  font-size: 41px;
  text-shadow: 0 1px 0 #000;
}

.page-subheading {
  padding-top: 34px;
  font-size: 27px;
  line-height: 27px;
  text-shadow: 0 1px 0 #000;
}

.cta-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #dbdbdb;
}

.cta-section.centered {
  text-align: center;
}

.cta-section.centered-accented {
  background-color: #2196f3;
  color: #fff;
  text-align: center;
}

.cta-heading {
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 400;
}

.cta-heading.inline-block {
  display: inline-block;
  margin-top: 0px;
  margin-right: 13px;
}

.align-right {
  text-align: right;
}

.white-box {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
}

.fixed-image-section {
  position: relative;
  height: 813.23046875px;
  padding: 117px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url('../images/Paddle-board.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Paddle-board.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  color: #fff;
  text-align: center;
}

.hero-section {
  height: 100vh;
  padding-top: 250px;
}

.hero-section.centered {
  text-align: center;
}

.slider-navigation {
  font-size: 11px;
}

.slider-icon-circle {
  width: 50px;
  height: 50px;
  padding: 6px;
  font-size: 33px;
}

.hero-subheading {
  margin-bottom: 18px;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 9px 20px;
  border: 2px solid #c1d6d9;
  border-radius: 4px;
  background-color: #95bf8a;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.hollow-button:hover {
  border-color: #1565c0;
  color: #1565c0;
}

.hollow-button.white {
  border-color: #fff;
  color: #fff;
}

.hollow-button.white:hover {
  border-color: hsla(0, 0%, 100%, .64);
  color: hsla(0, 0%, 100%, .72);
}

.section-heading {
  margin-bottom: 20px;
}

.section-heading.centered {
  position: relative;
  bottom: -2px;
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'PT Serif', serif;
  font-size: 42px;
  text-align: center;
}

.main-container {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.form-label {
  margin-bottom: 6px;
  font-size: 13px;
  text-transform: uppercase;
}

.section-subheading.center {
  position: relative;
  bottom: 74px;
  font-size: 20px;
  text-align: center;
}

.section-title-group {
  margin-bottom: 62px;
}

.section-title-group.centered {
  text-align: center;
}

.form-field {
  min-height: 41px;
  margin-right: 1px;
  margin-bottom: 17px;
  border-style: none;
  border-radius: 3px;
  background-color: #f3f3f3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.form-field:focus {
  box-shadow: 0 0 0 2px #2196f3;
}

.form-field.text-area {
  min-height: 110px;
}

.form-field.with-button {
  width: 75%;
  margin-bottom: 0px;
  float: left;
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}

.picture-border {
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .12);
}

.round-image {
  margin-bottom: 13px;
  border-radius: 100px;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  background-color: #2196f3;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
}

.social-button:hover {
  background-color: #1565c0;
  opacity: 1;
}

.social-button.border {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, .36);
  background-color: transparent;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  padding: 3px;
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.social-icon-link:hover {
  opacity: 0.5;
}

.profile-image {
  margin-bottom: 15px;
  border-radius: 100px;
}

.hero-with-nav {
  background-color: #dbdbdb;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer.center {
  text-align: center;
}

.footer.centered-smaller {
  padding-top: 33px;
  padding-bottom: 33px;
}

.footer.accent {
  height: 340.2578125px;
  min-height: 0px;
  background-color: #251f26;
  font-size: 15px;
}

.footer.centered-accented {
  background-color: #f1f1f1;
  text-align: center;
}

.float-right {
  float: right;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #2196f3;
  text-decoration: none;
}

.link:hover {
  color: #1565c0;
}

.footer-brand-text {
  font-size: 26px;
  line-height: 33px;
}

.sidemenu-wrapper {
  margin-left: 10px;
  padding-left: 20px;
}

.sidemenu-title {
  margin-bottom: 10px;
}

.sidemenu-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #8f8f8f;
  text-decoration: none;
}

.sidemenu-link:hover {
  color: #333;
}

.grid-image {
  margin-bottom: 20px;
  background-image: url('../images/house1-template.jpg'), url('../images/house1-template.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: 512px, 512px;
  -webkit-transform: rotateX(9deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(9deg) rotateY(0deg) rotateZ(0deg);
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.info-wrapper {
  margin-bottom: 14px;
}

.info-icon {
  float: left;
}

.info-text {
  margin-left: 34px;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  color: #3b99d9;
}

.footer-link.with-icon {
  margin-left: 30px;
}

.hero-title-wrapper {
  margin-bottom: 155px;
}

.icon-left {
  padding: 6px;
  float: left;
  color: #919191;
}

.text-right {
  margin-left: 49px;
}

.left-navigation {
  width: 20%;
  height: 100vh;
  float: left;
  background-color: #dbdbdb;
}

.nav-link {
  display: block;
  padding: 7px 0px;
  text-align: center;
}

.nav-menu {
  float: none;
}

.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.content {
  overflow: hidden;
  width: 80%;
  float: left;
}

.social-footer {
  margin-top: 56px;
  text-align: center;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.flushed-grid {
  width: 25%;
  float: left;
}

.flushed-grid.thirds {
  width: 33.33%;
}

.flushed-grid.sixths {
  width: 16.66%;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.success-wrapper {
  padding: 31px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
}

.success-message {
  margin-bottom: 0px;
}

.error-wrapper {
  border-radius: 5px;
  background-color: #d32f2f;
  color: #fff;
}

.error-message {
  margin-bottom: 0px;
}

.social-link-wrapper {
  text-align: center;
}

.background {
  background-color: #dbdbdb;
}

.custom-container {
  display: block;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.rich-text h1 {
  margin-top: 30px;
}

.rich-text h3 {
  margin-top: 30px;
}

.rich-text h5 {
  margin-top: 30px;
}

.rich-text h4 {
  margin-top: 30px;
}

.rich-text h6 {
  margin-top: 30px;
}

.image-column {
  margin-top: 60px;
  padding-top: 0px;
  text-align: center;
}

.content-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-column {
  text-align: center;
}

.waterfall-image-column {
  text-align: center;
}

.body {
  margin-right: 16px;
  margin-left: 16px;
  background-color: #050405;
}

.top-bar {
  position: relative;
  bottom: 355px;
}

.header-container-proj {
  min-height: 724px;
  padding-top: 98px;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url('../images/dramatic_skies_1200.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/dramatic_skies_1200.jpg');
  background-position: 0px 0px, 0px -117px;
  background-size: auto, cover;
  text-shadow: 1px 1px 6px #000;
}

.header-top-text {
  position: relative;
  top: 66px;
  background-color: transparent;
}

.content-box-text {
  height: 78.234375px;
}

.content-box-empty {
  border-style: none;
}

.content-text-1 {
  position: relative;
  left: 252px;
  top: 43px;
  width: 237.5px;
  height: 22.25px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 21px;
}

.columns {
  font-size: 68px;
}

.content-text-2 {
  position: relative;
  left: 83px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 45px;
}

.search-bar-container {
  background-color: transparent;
}

.heading {
  font-family: 'PT Serif', serif;
  color: #fff;
}

.paragraph {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 22px;
}

.heading-2 {
  color: #fff;
}

.paragraph-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 425px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  line-height: 41px;
}

.text-field {
  position: relative;
  left: 254px;
  width: 831.75px;
  background-color: #251f26;
}

.submit-button {
  position: relative;
  left: 1106px;
  top: -48px;
  width: 188.78515625px;
  background-color: #251f26;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
}

.form {
  position: relative;
  left: 379px;
  top: 7px;
  height: 40.45703125px;
  color: #fff;
}

.column {
  color: #fff;
}

.heading-3 {
  color: #fff;
}

.column-2 {
  color: #fff;
}

.heading-4 {
  color: #fff;
}

.heading-5 {
  color: #fff;
}

.image {
  background-color: #fff;
}

.image-2 {
  background-color: #fff;
}

.image-3 {
  background-color: #fff;
}

.image-4 {
  background-color: #fff;
}

.image-5 {
  min-height: 101px;
  border: 1px none #fff;
  box-shadow: 0 0 20px 0 #fff;
}

.heading-6 {
  position: relative;
  left: 10px;
}

.paragraph-3 {
  position: relative;
  left: 13px;
}

.heading-7 {
  position: relative;
  left: 11px;
}

.paragraph-4 {
  position: relative;
  left: 12px;
}

.heading-8 {
  position: relative;
  left: 12px;
}

.paragraph-5 {
  position: relative;
  left: 12px;
}

.heading-9 {
  position: relative;
  left: 13px;
}

.paragraph-6 {
  position: relative;
  left: 13px;
}

.section {
  min-height: 538px;
  background-color: #251f26;
}

.col-communites {
  min-height: 626px;
  margin-top: -17px;
  padding-bottom: 32px;
}

.column-3 {
  top: 77px;
}

.heading-10 {
  padding-top: 41px;
  font-family: 'PT Serif', serif;
  text-align: center;
}

.paragraph-7 {
  margin-top: 14px;
}

.column-4 {
  top: 77px;
}

.column-5 {
  top: 77px;
}

.column-6 {
  top: 77px;
}

.comunities-heading {
  font-family: 'PT Serif', serif;
  font-size: 48px;
  text-align: center;
}

.heading-12 {
  font-family: 'PT Serif', serif;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-4 {
  min-height: 539px;
}

.heading-13 {
  font-family: 'PT Serif', serif;
  color: #fff;
}

.heading-14 {
  position: relative;
  margin-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  line-height: 56px;
  text-align: center;
}

.link-2 {
  color: #fff;
  font-size: 19px;
}

.heading-15 {
  position: relative;
  top: -7px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  text-align: right;
}

.column-7 {
  top: -1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 539px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  position: relative;
  top: 0px;
  right: 91px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 31px;
}

.div-block-2 {
  position: relative;
  left: 71px;
  top: 31px;
  bottom: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 539px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-3 {
  position: relative;
  top: 98px;
  min-height: 106px;
  min-width: 11px;
  font-size: 21px;
}

.block-quote {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 29px;
  line-height: 28px;
  text-align: center;
}

.div-block-4 {
  position: relative;
  top: 371px;
}

.heading-16 {
  position: relative;
  left: 149px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 29px;
  text-align: center;
}

.div-block-5 {
  position: relative;
  top: 354px;
}

.link-3 {
  position: relative;
  left: 107px;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.image-6 {
  position: relative;
  left: 64px;
}

.column-9 {
  min-height: 539px;
}

.heading-17 {
  color: #fff;
  text-align: center;
}

.div-block-6 {
  position: relative;
  top: 377px;
}

.list-item {
  color: #fff;
}

.list-item-2 {
  color: #fff;
  font-size: 26px;
}

.list-item-3 {
  color: #fff;
  font-size: 26px;
}

.unordered-list {
  position: relative;
  top: 401px;
}

.div-block-7 {
  position: relative;
  top: 305px;
}

.heading-18 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 29px;
  text-align: center;
}

.text-block {
  position: relative;
  bottom: 7px;
}

.column-10 {
  min-height: 539px;
}

.div-block-8 {
  position: relative;
  top: 155px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-19 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 19px;
  text-transform: none;
}

.image-7 {
  position: relative;
  left: 0px;
  bottom: 0px;
}

.bold-text {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}

.field-label {
  color: #fff;
}

.field-label-2 {
  color: #fff;
}

.div-block-9 {
  position: relative;
  top: 169px;
  min-width: 0px;
}

.form-block {
  min-height: 0px;
}

.heading-20 {
  position: relative;
  bottom: 39px;
  font-family: 'PT Serif', serif;
}

.heading-21 {
  font-family: 'PT Serif', serif;
}

.title-bar-index {
  position: relative;
  top: 167px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col-title-name {
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2 {
  min-height: 367px;
}

.heading-22 {
  position: relative;
  top: 43px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 52px;
}

.heading-23 {
  position: relative;
  left: -57px;
  top: 43px;
  font-family: 'PT Serif', serif;
  color: #5d5d5d;
  font-size: 46px;
  text-align: center;
}

.navbar-body {
  min-height: 743px;
}

.body-2 {
  margin-right: 16px;
  margin-left: 16px;
  background-color: #050405;
}

.text-span {
  color: #fff;
}

.nav-link-2 {
  color: #fff;
}

.nav-link-3 {
  background-color: transparent;
  color: #fff;
}

.navbar {
  background-color: transparent;
}

.text-span-2 {
  color: #fff;
}

.heading-24 {
  position: relative;
  right: -166px;
  font-family: 'PT Serif', serif;
  color: #fff;
}

.brand {
  right: 456px;
}

.nav-link-4 {
  color: #fff;
}

.container-3 {
  position: relative;
  left: 69px;
  min-height: 0px;
  color: transparent;
  font-size: 20px;
}

.nav-link-5 {
  color: #fff;
}

.nav-link-6 {
  color: #fff;
}

.nav-link-7 {
  color: #fff;
}

.nav-link-8 {
  color: #fff;
}

.nav-link-9 {
  color: #fff;
}

.navbar-2 {
  background-color: transparent;
  font-family: 'PT Serif', serif;
}

.div-block-10 {
  min-height: 750px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .42)), to(rgba(0, 0, 0, .42))), url('../images/why-mark-banner.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)), url('../images/why-mark-banner.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.columns-6 {
  min-height: 297px;
}

.column-12 {
  min-height: 279px;
}

.con-about-title {
  min-height: 222px;
}

.heading-25 {
  position: relative;
  top: 102px;
  padding-top: 106px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 51px;
  line-height: 49px;
  text-align: center;
  text-shadow: 0 1px 11px #000;
}

.nav-menu-2 {
  top: -59px;
}

.descrip-content {
  min-height: 1500px;
}

.contact--me {
  min-height: 657px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #e6e6e6;
}

.div-content-space {
  margin: 51px 12px 44px;
  padding-top: 0px;
  background-color: #e6c3c3;
  color: #9e9292;
}

.div-block-11 {
  height: 1766px;
  margin: 0px;
  background-color: #fff;
}

.columns-7 {
  min-height: 1190px;
}

.column-13 {
  min-height: 1000px;
}

.column-14 {
  min-height: 1000px;
}

.image-8 {
  position: relative;
  left: -24px;
  display: inline-block;
  max-width: 113%;
  min-height: 0px;
  margin-left: 42px;
  box-shadow: 0 0 25px 0 #5d5d5d;
}

.content-why-mark-keller {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-26 {
  position: relative;
  top: -115px;
  bottom: 0px;
  margin-top: 1px;
  padding-top: 0px;
  color: #607d8b;
  font-size: 44px;
  text-align: center;
}

.block-quote-2 {
  position: relative;
  left: 169px;
  top: 0px;
  padding-bottom: 26px;
  font-size: 28px;
  text-align: right;
}

.paragraph-8 {
  position: relative;
  top: 0px;
  max-width: 811px;
  font-size: 20px;
}

.paragraph-9 {
  position: relative;
  top: 0px;
  max-width: 851px;
  font-size: 20px;
}

.paragraph-10 {
  position: relative;
  top: 0px;
  max-width: 857px;
  font-size: 20px;
}

.list-item-4 {
  font-size: 19px;
}

.con-awards {
  min-height: 468px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 19px;
}

.heading-27 {
  font-family: 'PT Serif', serif;
  text-align: center;
  text-decoration: underline;
  text-shadow: 0 1px 0 #a8a8a8;
}

.unordered-list-2 {
  padding-top: 15px;
}

.block-quote-3 {
  margin-top: 58px;
  padding-top: 0px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 700;
}

.con-what-to-expct {
  min-height: 468px;
}

.columns-8 {
  min-height: 597px;
  margin-top: 0px;
  padding-top: 34px;
}

.column-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 532px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .41)), to(rgba(0, 0, 0, .41))), url('../images/house2-template.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .41), rgba(0, 0, 0, .41)), url('../images/house2-template.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, auto 688px;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 532px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .7))), url('../images/20091130-Teton-Moonlight-bw.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../images/20091130-Teton-Moonlight-bw.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.column-16 {
  min-height: 532px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url('../images/house1-template.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/house1-template.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.heading-28 {
  font-family: 'PT Serif', serif;
  color: #dbdbdb;
  text-align: center;
  text-shadow: 0 1px 0 #000;
}

.div-block-12 {
  min-height: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.paragraph-11 {
  font-weight: 700;
}

.paragraph-12 {
  position: relative;
  left: 0px;
  max-width: 569px;
  margin-top: 2px;
  padding-top: 22px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
}

.form-block-2 {
  max-width: 536px;
}

.field-label-3 {
  position: relative;
  right: 0px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.form-2 {
  position: relative;
  left: 0px;
  min-width: 500px;
}

.mark-contact-info {
  min-height: 538px;
  background-color: #251f26;
}

.header-container-2 {
  min-height: 799px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url('../images/house1-template.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/house1-template.jpg');
  background-position: 0px 0px, 0px 50%;
  background-size: auto, cover;
}

.container-9 {
  margin-top: 49px;
  font-size: 16px;
  text-shadow: 0 1px 0 #5d5d5d;
}

.heading-229 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 73px;
  text-shadow: 0 1px 0 #333;
}

.heading-30 {
  min-width: 100px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 73px;
  text-shadow: 0 1px 0 #333;
}

.brand-text-2 {
  position: relative;
  left: 14px;
  margin-top: 16px;
  margin-bottom: 0px;
  font-family: 'PT Serif', serif;
  color: #dbdbdb;
  font-size: 31px;
  line-height: 26px;
  font-weight: 400;
}

.navigation-link-2 {
  height: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navigation-link-2:hover {
  color: #2196f3;
}

.navigation-link-2.white {
  right: 297px;
  color: #fff;
}

.navigation-link-2.white {
  right: 0px;
  color: #fff;
}

.section-2 {
  display: block;
  min-height: 1927px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". ." ". ." ". .";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto;
  grid-template-rows: auto auto auto;
  background-color: #254449;
  color: #000;
}

.section-3 {
  min-height: 800px;
  background-color: rgba(37, 68, 73, .6);
}

.section-4 {
  min-height: 500px;
  background-color: rgba(51, 51, 51, .87);
}

.div-title-block {
  position: relative;
  top: 221px;
  min-height: 403px;
  font-size: 42px;
}

.tcontainer-title {
  position: relative;
  top: -53px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 403px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.heading-31 {
  position: relative;
  top: 0px;
  min-height: 0px;
  background-color: transparent;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 117px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
}

.div-block-14 {
  min-height: 536px;
}

.div-block-15 {
  min-height: 1597px;
}

.div-block-16 {
  min-height: 536px;
}

.container-11 {
  background-color: #607d8b;
}

.grid {
  grid-column-gap: 41px;
  grid-row-gap: 41px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.div-block-17 {
  min-height: 500px;
}

.div-block-18 {
  min-height: 500px;
}

.column-17 {
  min-height: 1564px;
}

.column-18 {
  min-height: 1564px;
}

.grid-2 {
  padding-right: 26px;
  padding-left: 23px;
  grid-column-gap: 52px;
  grid-row-gap: 30px;
  grid-template-areas: ". ." ". .";
  -ms-grid-rows: auto 30px auto 30px auto 30px auto;
  grid-template-rows: auto auto auto auto;
}

.grid-comonent-properties {
  display: -ms-grid;
  display: grid;
  min-height: 1620px;
  margin-top: 0px;
  margin-right: 25px;
  margin-left: 25px;
  padding-right: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.col-mid-1 {
  position: relative;
  top: 23px;
  min-height: 1595px;
}

.grid-3 {
  grid-column-gap: 18px;
  grid-row-gap: 19px;
  grid-template-areas: ". ." ". ." ". ." ". .";
  -ms-grid-rows: auto 19px auto 19px auto 19px auto;
  grid-template-rows: auto auto auto auto;
}

.section-5 {
  min-height: 123px;
  background-color: #254449;
}

.div-link-house1 {
  background-image: url('../images/house2-template.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-list-content {
  position: relative;
  left: 268px;
  top: 149px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 447px;
  min-height: 303px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  color: #607d8b;
}

.cont-list-content {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 367px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, .96);
}

.paragraph-13 {
  position: relative;
  top: 0px;
  color: #5d5d5d;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.heading-32 {
  position: relative;
  top: 0px;
  color: #333;
  text-align: center;
  text-decoration: underline;
}

.mark-keller-h1 {
  position: relative;
  right: 126px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 65px;
  text-shadow: 1px 1px 6px #000;
}

.real-estate-head {
  position: relative;
  left: 0px;
  right: 0px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 65px;
}

.section-6 {
  min-height: 426px;
  background-image: url('../images/20091130-Teton-Moonlight-bw.jpg'), url('../images/example-bg.png');
  background-position: 0px 0px, 0px 0px;
  background-size: cover, 125px;
  background-attachment: fixed, scroll;
}

.proj-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 887px;
  margin-top: -126px;
  padding-top: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .33)), to(rgba(0, 0, 0, .33))), url('../images/foco-2-banner.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .33), rgba(0, 0, 0, .33)), url('../images/foco-2-banner.jpg');
  background-position: 0px 0px, 50% 57%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.image-9 {
  position: relative;
  left: 0px;
  top: 21px;
}

.con-rproject-title {
  position: relative;
  top: 123px;
  min-height: 200px;
}

.heading-35 {
  position: relative;
  top: 48px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
}

.section-7 {
  min-height: 1593px;
  background-color: #e6e6e6;
}

.div-block-20 {
  min-height: 735px;
}

.columns-9 {
  min-height: 735px;
}

.column-19 {
  min-height: 735px;
}

.image-10 {
  padding-top: 37px;
}

.heading-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'PT Serif', serif;
  color: #607d8b;
  font-size: 45px;
  text-align: center;
  text-decoration: underline;
}

.column-20 {
  min-height: 742px;
}

.paragraph-14 {
  min-width: 200px;
}

.div-block-21 {
  position: relative;
  left: 50px;
  top: 58px;
  max-width: 940px;
}

.paragraph-15 {
  position: relative;
  right: 0px;
  margin-top: -19px;
  padding-top: 0px;
}

.div-block-223 {
  position: relative;
  left: 44px;
  top: 85px;
  max-width: 1132px;
}

.heading-37 {
  background-color: transparent;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 83px;
}

.container-13 {
  position: relative;
  top: 97px;
  text-align: center;
}

.block-quote-4 {
  font-family: 'PT Serif', serif;
  font-size: 28px;
  text-align: right;
}

.div-block-23 {
  position: relative;
  left: 583px;
  max-width: 200px;
}

.div-block-224 {
  min-height: 650px;
}

.columns-10 {
  min-height: 650px;
}

.slider {
  min-height: 622px;
}

.column-21 {
  min-height: 664px;
}

.paragraph-16 {
  padding-top: 20px;
}

.slider-2 {
  min-height: 744px;
}

.section-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 722px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url('../images/LivermoreCO.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/LivermoreCO.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  font-size: 73px;
}

.image111 {
  position: relative;
  left: 513px;
  top: 20px;
}

.section-9 {
  min-height: 1500px;
  padding-top: 26px;
  padding-bottom: 46px;
  background-color: #c6bfbf;
}

.grid-4 {
  grid-column-gap: 27px;
  grid-row-gap: 31px;
  grid-template-areas: ". ." ". ." ". ." ". .";
  -ms-grid-rows: auto 31px auto 31px auto 31px auto;
  grid-template-rows: auto auto auto auto;
}

.section-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 713px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .65)), to(rgba(0, 0, 0, .65))), url('../images/foco-2-banner.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url('../images/foco-2-banner.jpg');
  background-position: 0px 0px, 0px 90%;
  background-size: auto, cover;
  background-repeat: repeat, repeat-y;
  background-attachment: scroll, fixed;
}

.image-11 {
  position: relative;
  left: 0px;
  box-shadow: 0 0 17px 0 #fff;
}

.section-11 {
  min-height: 1015px;
  background-color: #f3f3f3;
}

.text-field-2 {
  min-height: 300px;
}

.container-14 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-225 {
  position: relative;
  top: 176px;
}

.heading-230 {
  font-family: 'PT Serif', serif;
  font-size: 52px;
  text-align: center;
}

.col-image {
  top: -5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-12 {
  position: relative;
  left: 183px;
  margin-top: 22px;
  padding-top: 0px;
  box-shadow: 0 0 6px 0 #fff;
  text-shadow: none;
}

.div-block-226 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-12 {
  min-height: 471px;
}

.column-22 {
  min-height: 472px;
}

.container-15 {
  min-height: 480px;
}

.container-16 {
  min-height: 469px;
  margin-top: -29px;
  padding-top: 0px;
}

.heading-231 {
  position: relative;
  margin-top: 20px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 53px;
  text-align: center;
}

.paragraph-17 {
  padding-top: 53px;
  color: #fff;
  font-size: 17px;
  line-height: 34px;
}

.button-2 {
  position: relative;
  left: 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 292px;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5d5d5d;
  font-size: 21px;
}

.image-13 {
  position: relative;
  top: 62px;
  box-shadow: 1px 1px 21px 0 #fff;
}

.slide-3 {
  background-color: #5d5d5d;
}

.container-17 {
  min-height: 400px;
}

.image-14 {
  display: inline-block;
  margin-top: 55px;
  margin-left: 103px;
}

.section-13 {
  min-height: 553px;
}

.div-block-227 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 534px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-232 {
  font-family: 'PT Serif', serif;
  color: #fff;
  text-align: center;
}

.paragraph-18 {
  position: relative;
  left: 98px;
  max-width: 480px;
  color: #fff;
  font-size: 21px;
}

.paragraph-19 {
  position: relative;
  left: 477px;
  max-width: 480px;
  color: #fff;
  font-size: 20px;
}

.image-15 {
  position: relative;
  left: 175px;
  margin-top: 49px;
  box-shadow: 0 0 8px 0 #fff;
}

.button-3 {
  position: relative;
  left: 88px;
  min-width: 236px;
  background-color: #333;
  text-align: center;
}

.col-current-listings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-233 {
  padding-top: 23px;
  font-size: 32px;
}

.heading-234 {
  padding-top: 24px;
  font-size: 32px;
}

.heading-235 {
  padding-top: 37px;
  font-size: 32px;
}

.paragraph-20 {
  font-size: 20px;
}

.paragraph-21 {
  font-size: 20px;
}

.paragraph-22 {
  font-size: 20px;
}

.container-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 800px;
}

.container-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-23 {
  position: relative;
  bottom: 46px;
  font-size: 22px;
  line-height: 29px;
}

.div-block-228 {
  position: relative;
  top: 43px;
}

.div-block-229 {
  min-height: 551px;
}

.column-26 {
  min-height: 500px;
}

.column-27 {
  min-height: 500px;
}

.heading-236 {
  position: relative;
  bottom: 50px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 41px;
  text-decoration: underline;
}

.text-block-3 {
  position: relative;
  bottom: 18px;
  color: #fff;
  font-size: 24px;
}

.buy-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  min-height: 500px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-231 {
  margin-right: 13px;
  padding-right: 0px;
}

.image-16 {
  border: 6px solid #000;
  box-shadow: 0 0 15px 0 #a8a8a8;
}

.paragraph-24 {
  position: relative;
  top: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 547px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 20px;
  line-height: 29px;
}

.div-block-232 {
  min-height: 500px;
}

.container-20 {
  position: relative;
  right: 12px;
  min-height: 500px;
  padding-right: 50px;
}

.image-17 {
  margin-left: 0px;
  box-shadow: 6px 0 14px 0 #5d5d5d;
}

.div-block-233 {
  min-height: 500px;
}

.div-block-234 {
  position: relative;
  left: 37px;
  max-width: 679px;
  min-height: 340px;
}

.heading-237 {
  position: relative;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  font-weight: 400;
}

.div-block-235 {
  position: relative;
  top: 18px;
}

.image-18 {
  max-width: 86%;
}

.paragraph-25 {
  max-width: 781px;
  margin-right: 12px;
  color: #fff;
  font-size: 26px;
  line-height: 22px;
  text-shadow: 0 3px 0 #000;
}

.div-block-236 {
  min-height: 108px;
  background-color: #fff;
}

.submit-button-2 {
  background-color: #607d8b;
}

.column-28 {
  padding-right: 0px;
  padding-left: 0px;
}

.field-label-4 {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.field-label-5 {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.field-label-6 {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.div-block-237 {
  position: relative;
  left: 248px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 456px;
  min-height: 400px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  opacity: 1;
}

.container-21 {
  margin-top: 125px;
}

.heading-238 {
  color: #000;
}

.text-block-4 {
  color: #000;
}

.container-22 {
  min-height: 427px;
  margin-top: 132px;
}

.div-block-238 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 404px;
  min-height: 327px;
  margin-top: 29px;
  margin-left: 252px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
}

.div-block-239 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  min-height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #a8a8a8;
}

.div-sold-homes {
  display: -ms-grid;
  display: grid;
  min-height: 1768px;
  margin-right: 14px;
  margin-left: 14px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-areas: ". ." ". ." ". ." ". .";
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto;
}

.div-block-240 {
  max-width: 300px;
  min-height: 51px;
}

.div-block-241 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 990px;
  min-height: 800px;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-242 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.columns-11 {
  min-height: 1806px;
}

.column-29 {
  min-height: 1803px;
}

.column-30 {
  min-height: 1803px;
}

.column-31 {
  min-height: 1803px;
}

.div-spacer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 359px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-243 {
  position: relative;
  top: -510px;
  max-width: 386px;
  min-height: 400px;
}

.link-block {
  background-image: url('../images/house1-template.jpg');
  background-position: 0px 0px;
  background-size: 512px;
}

.container-23 {
  position: relative;
  top: -402px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 266px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.div-block-244 {
  position: relative;
  left: 0px;
  max-width: 677px;
  min-height: 306px;
  padding-left: 0px;
}

.div-house-content {
  background-color: #f1f1f1;
}

.paragraph-26 {
  max-width: 410px;
  min-height: 109px;
  font-family: 'PT Serif', serif;
  color: #333;
  font-size: 24px;
  text-align: center;
}

.heading-239 {
  font-family: 'PT Sans', sans-serif;
  color: #333;
  text-align: center;
}

.link-block-2 {
  position: relative;
  top: -254px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 78%;
  min-height: 155px;
  margin-left: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  color: #333;
}

.heading-240 {
  font-family: 'PT Serif', serif;
  text-decoration: underline;
}

.text-block-5 {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
}

.link-block-3 {
  position: relative;
  left: 0px;
  top: -243px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 78%;
  min-height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-color: #f1f1f1;
  color: #333;
}

.div-con-list-content {
  display: block;
  min-height: 1700px;
  margin-top: 0px;
  margin-right: 12px;
  margin-left: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-32 {
  min-height: 1700px;
}

.column-33 {
  min-height: 1700px;
}

.div-content-list-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 588px;
  margin-top: 24px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/house2-template.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-content-right {
  max-height: 531px;
  min-height: 0px;
  margin-top: 24px;
}

.image-19 {
  position: relative;
  bottom: 0px;
  display: inline;
  max-height: 537px;
  clear: none;
  border: 3px solid #5d5d5d;
  box-shadow: 0 0 10px 0 #5d5d5d;
}

.div-content-sold-descrip {
  position: relative;
  top: -177px;
  bottom: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 524px;
  min-height: 250px;
  margin-left: 57px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  box-shadow: 3px 0 14px 0 #fff;
  font-family: 'PT Serif', serif;
}

.button-4 {
  margin-top: 15px;
  padding-bottom: 0px;
  background-color: #a8a8a8;
  color: #f1f1f1;
}

.heading-241 {
  font-family: 'PT Serif', serif;
  color: #333;
}

.text-block-6 {
  font-weight: 700;
}

.div-container-content {
  position: relative;
  top: 166px;
  display: block;
  max-width: 674px;
}

.image-20 {
  position: relative;
  bottom: 144px;
  margin-top: 24px;
  border: 3px solid #5d5d5d;
  box-shadow: 0 0 10px 0 #5d5d5d;
}

.container-24 {
  text-shadow: 0 1px 0 #000;
}

.columns-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-246 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-21 {
  position: relative;
  top: -127px;
  bottom: 45px;
  z-index: 1;
}

.con {
  font-size: 20px;
}

.brand-text-3 {
  position: relative;
  right: 0px;
  display: block;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: 124px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'PT Serif', serif;
  color: #dbdbdb;
  font-size: 31px;
  line-height: 26px;
  font-weight: 400;
}

.column-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1014px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #a8a8a8;
}

.column-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1014px;
  margin-bottom: -4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(51, 51, 51, .85);
}

.column-38 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1014px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(51, 51, 51, .81);
}

.form-3 {
  position: relative;
  top: 79px;
  min-width: 765px;
  margin-bottom: 143px;
}

.heading-242 {
  position: relative;
  bottom: 66px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
  font-family: 'PT Serif', serif;
  font-size: 53px;
  text-align: center;
}

.div-block-247 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 170px;
  margin-top: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-243 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 101px;
  text-shadow: 0 1px 0 #5d5d5d;
}

.image-22 {
  margin-top: 106px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 18px 0 #f1f1f1;
}

.image-23 {
  margin-top: 23px;
  margin-bottom: -19px;
  padding-bottom: 1px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 18px 0 #f1f1f1;
}

.image-24 {
  margin-top: 147px;
  margin-bottom: 0px;
  padding-bottom: 36px;
  border: 0px none #a8a8a8;
}

.image-25 {
  margin-top: 23px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 14px 0 #f1f1f1;
}

.form-block-3 {
  position: relative;
  margin-bottom: 163px;
}

.image-26 {
  margin-top: 106px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 14px 0 #f1f1f1;
}

.field-label-7 {
  margin-bottom: 14px;
  font-family: 'PT Serif', serif;
  font-size: 29px;
}

.field-label-8 {
  margin-bottom: 14px;
  font-family: 'PT Serif', serif;
  font-size: 29px;
}

.field-label-9 {
  margin-bottom: 14px;
  font-family: 'PT Serif', serif;
  font-size: 29px;
}

.field-label-10 {
  margin-bottom: 14px;
  font-family: 'PT Serif', serif;
  font-size: 29px;
}

.col-title-name-2 {
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}

.real-estate-head-2 {
  position: relative;
  left: 0px;
  right: 0px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 65px;
}

.mark-keller-h1-2 {
  position: relative;
  right: 126px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 65px;
  text-shadow: 1px 1px 6px #000;
}

.brand-text-4 {
  position: relative;
  right: 0px;
  display: block;
  margin-top: 16px;
  margin-bottom: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'PT Serif', serif;
  color: #dbdbdb;
  font-size: 31px;
  line-height: 26px;
  font-weight: 400;
}

.div-why-mark-title {
  position: relative;
  top: 311px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 156px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-244 {
  font-family: 'PT Serif', serif;
  color: #f1f1f1;
  font-size: 85px;
  text-decoration: underline;
  text-shadow: 0 1px 0 #333;
}

.column-39 {
  top: 0px;
}

.columns-14 {
  position: relative;
  top: 172px;
}

.div-block-248 {
  position: relative;
  top: 209px;
}

.container-25 {
  font-family: 'PT Serif', serif;
}

.heading-245 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 73px;
}

.heading-246 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 73px;
}

.heading-247 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 73px;
}

.container-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-5 {
  margin-top: 15px;
  padding-bottom: 0px;
  background-color: #a8a8a8;
  color: #f1f1f1;
}

.div-content-list-descrip-2 {
  position: relative;
  top: -177px;
  bottom: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 524px;
  min-height: 250px;
  margin-left: 57px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  box-shadow: 3px 0 14px 0 #fff;
  font-family: 'PT Serif', serif;
}

.heading-248 {
  font-family: 'PT Serif', serif;
  color: #333;
}

.div-block-249 {
  margin-top: -1px;
}

.banner-wrpper {
  position: relative;
  top: 128px;
  min-height: 550px;
  margin-top: -9px;
}

.banner-header-item {
  position: relative;
  top: 0px;
  display: -ms-grid;
  display: grid;
  margin-top: 98px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . ." ". . . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.heading-249 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  text-align: center;
}

.heading-250 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  text-align: center;
}

.column-40 {
  min-height: 480px;
}

.meet-mark-img {
  max-width: 794px;
  min-height: 357px;
  margin-top: 40px;
  margin-right: 14px;
}

.comm-accrd-content {
  overflow: hidden;
}

.communities-accrd-trigger {
  cursor: pointer;
}

.div-block-250 {
  display: -ms-grid;
  display: grid;
  min-height: 696px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto;
}

.slide-4 {
  min-height: 696px;
}

.slider-3 {
  min-height: 696px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .47)), to(rgba(0, 0, 0, .47))), url('../images/foco-2-banner.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .47), rgba(0, 0, 0, .47)), url('../images/foco-2-banner.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.slider-content {
  display: -ms-grid;
  display: grid;
  min-height: 657px;
  margin-right: 24px;
  margin-left: 24px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .61)), to(rgba(0, 0, 0, .61))), url('../images/contact.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .61), rgba(0, 0, 0, .61)), url('../images/contact.jpg');
  background-position: 0px 0px, -8px 0px;
  background-size: auto, cover;
}

.remodel-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-251 {
  display: block;
  text-align: center;
}

.div-block-251 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.div-block-252 {
  background-color: #607d8b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .29)), to(rgba(0, 0, 0, .29))), url('../images/LivermoreCO.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .29), rgba(0, 0, 0, .29)), url('../images/LivermoreCO.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.div-block-253 {
  background-color: #607d8b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .55)), to(rgba(0, 0, 0, .55))), url('../images/house3-template.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .55), rgba(0, 0, 0, .55)), url('../images/house3-template.jpg');
  background-position: 0px 0px, -132px 0px;
  background-size: auto, cover;
}

.buy-wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 657px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .42)), to(rgba(0, 0, 0, .42))), url('../images/foco-2-banner.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)), url('../images/foco-2-banner.jpg');
  background-position: 0px 0px, -25px 0px;
  background-size: auto, cover;
}

.div-block-255 {
  margin-right: 14px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.selling-wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 657px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .58)), to(rgba(0, 0, 0, .58))), url('../images/20091130-Teton-Moonlight-bw.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .58), rgba(0, 0, 0, .58)), url('../images/20091130-Teton-Moonlight-bw.jpg');
  background-position: 0px 0px, 0px -107px;
  background-size: auto, cover;
}

.selling-image {
  margin-top: 14px;
  margin-left: 0px;
}

.div-block-256 {
  margin-top: -26px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 17px;
}

.heading-252 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 41px;
  text-shadow: 0 3px 0 #000;
}

.div-block-257 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.slide-nav {
  background-color: #607d8b;
}

.rich-text-block {
  color: #fff;
}

.div-block-258 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 105px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-253 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 95px;
  text-shadow: 0 3px 0 #000;
}

.div-block-259 {
  text-shadow: 0 3px 0 #000;
}

.div-block-260 {
  text-shadow: 0 3px 0 #000;
}

.slide-6 {
  background-image: url('../images/projects-banner.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.image-27 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.slide-7 {
  background-image: url('../images/house2-template.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-8 {
  background-image: url('../images/house2-template.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-9 {
  background-image: url('../images/house3-template.jpg');
  background-position: -216px 0px;
  background-size: cover;
}

.slide-10 {
  background-image: url('../images/house1-template.jpg');
  background-position: -140px 0px;
  background-size: cover;
}

.slide-11 {
  background-image: url('../images/house1-template.jpg');
  background-position: -112px 0px;
  background-size: cover;
}

.slide-12 {
  background-image: url('../images/contact.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-13 {
  background-image: url('../images/house2-template.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.image-28 {
  margin-top: 15px;
  margin-right: 0px;
  margin-left: -12px;
  background-color: hsla(0, 0%, 100%, .18);
}

.why-foco-item {
  margin-top: 49px;
}

.why-foco-pic-item {
  margin-top: 88px;
  margin-left: 53px;
}

.image-29 {
  border: 5px solid #000;
  box-shadow: 0 0 9px 0 #fff;
}

.image-30 {
  border: 4px solid #607d8b;
}

.comm-descrip-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.commu-descrip-connent-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 82px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-254 {
  color: #f1f1f1;
  text-align: center;
}

.column-41 {
  margin-top: 0px;
}

.paragraph-27 {
  max-width: 557px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #f1f1f1;
}

.commu-descrip-connent-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.list {
  color: #f1f1f1;
}

.paragraph-28 {
  max-width: 587px;
  color: #fff;
}

.columns-15 {
  min-height: 657px;
}

.column-42 {
  min-height: 657px;
}

.column-43 {
  min-height: 657px;
}

.main-slider-image-item {
  min-height: 477px;
  margin-top: 101px;
}

.main-slider-content-item {
  display: -ms-grid;
  display: grid;
  min-height: 468px;
  margin-top: 37px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-255 {
  font-family: 'PT Serif', serif;
  color: #fff;
  text-align: center;
}

.list-2 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 18px;
}

.main-buy-slider-content-item {
  margin-top: 35px;
}

.paragraph-29 {
  margin-top: 95px;
  color: #fff;
  font-size: 19px;
}

.image-31 {
  margin-left: 59px;
  border: 5px solid #000;
}

.paragraph-30 {
  color: #f1f1f1;
  font-size: 19px;
}

.div-block-261 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.image-32 {
  margin-left: 132px;
  box-shadow: 0 0 10px 0 #fff;
}

.image-33 {
  margin-top: 29px;
}

.div-block-262 {
  min-height: 250px;
  background-image: url('../images/remod-home-pic-1.jpg');
  background-position: 0px 0px;
  background-size: 300px;
}

.remodel-wrapper-slide {
  min-height: 657px;
  margin-right: 56px;
  margin-left: 56px;
}

.column-44 {
  min-height: 627px;
}

.column-45 {
  min-height: 627px;
}

.div-block-263 {
  display: -ms-grid;
  display: grid;
  min-height: 627px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 129px auto;
  grid-template-rows: 129px auto;
  background-color: hsla(0, 0%, 95%, .1);
}

.remodel-item-image {
  display: -ms-grid;
  display: grid;
  min-height: 627px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.heading-256 {
  margin-top: 42px;
  color: #f1f1f1;
  text-align: center;
}

.paragraph-31 {
  color: #fff;
}

.list-item-5 {
  color: #fff;
}

.list-item-6 {
  color: #fff;
}

.list-item-7 {
  color: #fff;
}

.list-item-8 {
  color: #fff;
}

.paragraph-32 {
  color: #fff;
}

.image-34 {
  margin-top: 61px;
}

.image-35 {
  margin-top: 53px;
}

.image-36 {
  margin-top: 6px;
}

.image-37 {
  margin-top: 0px;
  margin-left: 26px;
  padding-top: 0px;
}

.heading-257 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 111px;
}

.proj-heading-item {
  margin-top: 73px;
}

.paragraph-33 {
  color: #fff;
}

.block-quote-5 {
  color: #fff;
  font-size: 25px;
  line-height: 28px;
}

.div-block-264 {
  margin-top: 9px;
}

.list-heading-iwrapper {
  margin-top: 0px;
}

.heading-258 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 105px;
  text-align: center;
}

.banner-header-item-2 {
  position: relative;
  top: 0px;
  display: -ms-grid;
  display: grid;
  margin-top: 97px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . ." ". . . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.image-38 {
  margin-top: 18px;
  margin-right: 0px;
  margin-left: -12px;
  background-color: hsla(0, 0%, 100%, .18);
}

.div-block-265 {
  margin-top: 12px;
}

.heading-259 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 107px;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000003, 0.6000000000000003);
  -ms-transform: scale(0.6000000000000003, 0.6000000000000003);
  transform: scale(0.6000000000000003, 0.6000000000000003);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .hamburger-button:hover {
    color: #2196f3;
  }
  .hamburger-button.w--open {
    background-color: #333;
  }
  .hamburger-button.left {
    float: left;
  }
  .hamburger-button.white {
    color: #fff;
  }
  .section-two.accent {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-slider {
    height: 400px;
  }
  .form-wrapper.squeezed {
    padding-right: 10%;
    padding-left: 10%;
  }
  .left-navigation {
    width: 100%;
    height: auto;
    float: none;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
  }
  .nav-menu {
    padding: 17px;
    background-color: #333;
  }
  .logo-link {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }
  .content {
    width: 100%;
    height: auto;
  }
  .social-footer {
    margin-top: 0px;
  }
  .content-column {
    padding-top: 0px;
  }
  .col-communites {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hamburger-button-2:hover {
    color: #2196f3;
  }
  .hamburger-button-2.w--open {
    background-color: #333;
  }
  .hamburger-button-2.white {
    color: #fff;
  }
}

@media (max-width: 767px) {
  .brand-text {
    left: 95px;
  }
  .brand-link.on-top {
    float: left;
  }
  .brand-link.left-spacing {
    padding-left: 0px;
  }
  .brand-link.left-spacing {
    padding-left: 0px;
  }
  .section-two {
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero-slider {
    height: 528px;
  }
  .slide {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cta-section {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .cta-heading {
    margin-bottom: 10px;
  }
  .form-wrapper.squeezed {
    padding-right: 9px;
    padding-left: 0px;
  }
  .picture-border {
    margin-bottom: 13px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid-fours {
    width: 33.33%;
  }
  .image-column {
    margin-bottom: 10px;
  }
  .content-column {
    margin-bottom: 13px;
    text-align: center;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .brand-text-2 {
    left: 95px;
  }
  .brand-text-3 {
    left: 95px;
  }
  .brand-text-4 {
    left: 95px;
  }
  .heading-250 {
    line-height: 47px;
  }
  .selling-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 479px) {
  .button.tab {
    margin-bottom: 9px;
  }
  .brand-text {
    left: 40px;
  }
  .hero-slider {
    height: 550px;
  }
  .slide {
    padding-right: 53px;
    padding-left: 53px;
  }
  .grid-fours {
    width: 50%;
  }
  .brand-text-2 {
    left: 40px;
  }
  .brand-text-3 {
    left: 40px;
  }
  .brand-text-4 {
    left: 40px;
  }
}

#w-node-052b60fb3c34-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-7c80c8e2dd05-c0f15d5f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-0d1c5fc31f10-c0f15d5f {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 2;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-07d607371530-c0f15d5f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 5;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

#w-node-cafc3c59d901-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-753ef312686d-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-4993d2a04463-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-31d2066cf7c4-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-03362d9f97a3-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-e9e36f9cfc77-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-b167bda2fd4b-c0f15d5f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-4e8045621c4c-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-16230a311002-c0f15d5f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-2d9ff67be917-c0f15d5f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

#w-node-bc1b8bc72f54-c0f15d5f {
  -ms-grid-column: 7;
  grid-column-start: 7;
  -ms-grid-column-span: 1;
  grid-column-end: 8;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

