<template>
  <div id="app">
  <message> Nice JEans, Thank you Mommy </message>
  </div>
</template>

<script>
import Message from './components/Message.vue';
export default {
  name: 'App',
  components: {Message}
}
</script>

<style>

</style>
