.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  margin-right: 24px;
  margin-left: 24px;
  background-color: #f0f0df;
}

.nav-area {
  height: 556px;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  font-family: 'PT Serif', serif;
}

.nav-section {
  height: 76px;
}

.navbar {
  background-color: transparent;
}

.nav-link {
  width: 150px;
  font-size: 20px;
}

.nav-link-2 {
  position: relative;
  left: -380px;
  width: 150px;
  font-size: 20px;
}

.nav-link-3 {
  left: -204px;
  width: 150px;
  font-size: 20px;
}

.div-content-one {
  height: 506px;
  background-color: #326fc0;
}

.slide {
  height: 134px;
}

.slide-2 {
  height: 302px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.slider-nav {
  height: 607px;
  background-color: transparent;
}

.slide-3 {
  background-image: url('../images/jits-hands-2.jpg'), url('../images/example-bg.png');
  background-position: 100% 50%, 0px 0px;
  background-size: cover, 125px;
}

.navbar-2 {
  background-color: transparent;
}

.navbar-3 {
  background-color: transparent;
}

.nav-link-4 {
  left: -103px;
  right: 0px;
}

.slide-4 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.nav-link-5 {
  left: -538px;
  width: 100.3203125px;
}

.nav-link-6 {
  left: -332px;
}

.container {
  font-family: 'PT Serif', serif;
  font-size: 20px;
}

.div-content-three {
  height: 551px;
  background-color: #65b7f3;
}

.divj-content-two {
  height: 484px;
}

.slide-5 {
  background-image: url('../images/jits-hands-2.jpg'), url('../images/example-bg.png');
  background-position: 106% 58%, 0px 0px;
  background-size: cover, 125px;
}

.slide-6 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.slide-7 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.slide-8 {
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.nav-menu {
  margin-right: 12px;
  margin-left: 12px;
  padding-right: 56px;
  padding-left: 56px;
}

.nav-link-7 {
  left: 53px;
  color: #fff;
}

.container-2 {
  position: relative;
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  padding-right: 81px;
  padding-left: 81px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  font-weight: 700;
}

.navbar-4 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(3, 3, 3, .52);
  color: #333;
}

.section-two {
  position: relative;
  top: 102px;
  display: block;
  min-height: 676px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(187, 210, 222, .17);
}

.nav-link-8 {
  left: -207px;
  color: #fff;
}

.nav-link-9 {
  left: -78px;
  color: #fff;
  font-size: 20px;
}

.main-two {
  position: relative;
  top: 102px;
  min-height: 782px;
}

.banner-main {
  position: relative;
  top: 101px;
  display: block;
  min-height: 765px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 71px;
  grid-row-gap: 48px;
  grid-template-areas: ". ." ". .";
  -ms-grid-columns: 1fr 71px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 48px auto;
  grid-template-rows: auto auto;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url('../images/CandideThovexOceanWave.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/CandideThovexOceanWave.jpg');
  background-position: 0px 0px, 50% 69%;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
}

.container-3 {
  padding: 185px 99px;
}

.heading {
  position: relative;
  left: 175px;
  padding: 16px 270px;
}

.paragraph {
  width: 571.984375px;
  margin-top: -23px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: right;
}

.div-block {
  min-height: 100px;
  min-width: 300px;
}

.container-4 {
  min-height: 500px;
  padding-left: 51px;
  color: #3f5866;
}

.heading-2 {
  float: right;
}

.div-block-2 {
  padding-top: 0px;
}

.container-5 {
  min-height: 538px;
}

.heading-3 {
  position: relative;
  left: 20px;
  float: right;
  font-family: 'PT Serif', serif;
  color: rgba(24, 56, 72, .82);
}

.block-quote {
  float: left;
  clear: none;
}

.paragraph-2 {
  position: relative;
  left: 23px;
  overflow: visible;
  float: none;
  color: #191915;
}

.div-block-3 {
  min-width: 100px;
  margin-left: 0px;
  padding-left: 521px;
}

.brand {
  right: 45px;
}

.container-6 {
  min-height: 700px;
}

.div-block-4 {
  min-height: 88px;
  margin-top: 58px;
  margin-bottom: 58px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.column {
  min-height: 700px;
}

.column-2 {
  min-height: 700px;
}

.column-3 {
  min-height: 700px;
}

.container-7 {
  min-height: 700px;
}

.div-block-5 {
  min-height: 100px;
  margin-top: 17px;
  margin-bottom: 17px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.column-4 {
  min-height: 638px;
}

.column-5 {
  min-height: 638px;
}

.column-6 {
  min-height: 638px;
}

.div-content-main2 {
  position: relative;
  top: 72px;
}

.heading-4 {
  position: relative;
  left: -39px;
  margin-top: 2px;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  text-align: center;
}

.image {
  margin-top: 2px;
  margin-right: 0px;
  padding-top: 80px;
  padding-right: 1px;
}

.image-2 {
  position: relative;
  left: 238px;
  top: 106px;
  padding-top: auto;
}

.div-block-7 {
  position: relative;
  top: 131px;
}

.heading-5 {
  position: relative;
  left: -42px;
  top: -30px;
  font-family: 'PT Serif', serif;
  text-align: center;
}

.div-block-8 {
  position: relative;
  top: 139px;
}

.paragraph-3 {
  position: relative;
  left: 180px;
  top: -27px;
  width: 418.515625px;
  text-align: center;
}

.heading-6 {
  text-align: center;
}

.image-3 {
  position: relative;
  left: 32px;
  top: -1px;
  text-align: left;
}

.heading-7 {
  text-align: right;
}

.paragraph-4 {
  position: relative;
  left: 131px;
  width: 538.015625px;
  padding-top: 22px;
  text-align: center;
}

.heading-8 {
  padding-top: 18px;
  text-align: right;
}

.paragraph-5 {
  position: relative;
  left: 109px;
  width: 597.015625px;
  padding-top: 14px;
  text-align: center;
}

.div-block-9 {
  position: relative;
  top: 146px;
}

.image-4 {
  position: relative;
  left: 247px;
  margin-top: -1px;
  padding-top: 0px;
}

.cotent-soul-sec {
  position: relative;
  top: -3px;
  min-height: 485px;
}

.image-5 {
  position: relative;
  left: 5px;
}

.image-6 {
  position: relative;
  right: -675px;
  bottom: 210px;
  overflow: visible;
}

.image-7 {
  position: relative;
  left: -31px;
}

.div-image-sec {
  position: relative;
  left: -59px;
  min-height: 0px;
}

.soulitions-sec {
  position: relative;
  left: 366px;
  top: 22px;
}

.heading-9 {
  position: relative;
  font-family: 'PT Serif', serif;
  text-align: center;
}

.heading-10 {
  font-size: 33px;
  text-align: center;
}

.image-8 {
  position: relative;
  left: 0px;
}

.image-9 {
  position: relative;
  left: 0px;
}

.image-10 {
  position: relative;
  left: 0px;
}

.paragraph-6 {
  font-size: 21px;
  line-height: 27px;
}

.paragraph-7 {
  font-size: 21px;
  line-height: 26px;
}

.heading-11 {
  font-family: 'PT Serif', serif;
  color: #eaf3ff;
  text-align: right;
}

.paragraph-9 {
  text-align: right;
}

.banner-descrip {
  position: relative;
  left: 533px;
  top: 76px;
  width: 384.984375px;
  min-width: 0px;
}

.men-four {
  position: relative;
  top: -7px;
  min-height: 710px;
  background-color: rgba(0, 0, 0, .96);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(63, 88, 102, .69)), to(rgba(63, 88, 102, .69))), url('../images/jits-hands-2.jpg');
  background-image: linear-gradient(180deg, rgba(63, 88, 102, .69), rgba(63, 88, 102, .69)), url('../images/jits-hands-2.jpg');
  background-position: 0px 0px, 50% -180px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.footer {
  position: relative;
  top: 100px;
  min-height: 203px;
}

.columns {
  min-height: 650px;
}

.slider {
  top: 109px;
  min-height: 511px;
  background-color: #2b3a42;
}

.heading-12 {
  text-align: center;
}

.heading-13 {
  font-family: 'PT Serif', serif;
  text-align: center;
}

.div-block-10 {
  position: relative;
  left: 62px;
  top: 187px;
  max-width: 571px;
  min-width: 0px;
  font-size: 21px;
}

.paragraph-10 {
  position: relative;
  left: 0px;
  max-width: 980.83337402px;
  margin-left: 124px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.column-7 {
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  margin-top: 102px;
  padding-top: 0px;
  padding-right: 63px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.image-11 {
  position: relative;
  left: 0px;
  bottom: 0px;
  margin-bottom: 18px;
  padding-top: 13px;
  border: 0px none #fff;
}

.heading-14 {
  position: relative;
  left: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 21px;
  margin-top: 6px;
  margin-left: 54px;
  padding-top: 0px;
  padding-bottom: 24px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'PT Serif', serif;
  color: #fff;
  text-align: center;
}

.column-8 {
  min-height: 650px;
}

.column-9 {
  min-height: 650px;
}

.column-10 {
  min-height: 650px;
}

.heading-15 {
  position: relative;
  top: 0px;
  bottom: 36px;
  margin-bottom: 34px;
  color: #fff;
  text-align: center;
}

.paragraph-11 {
  color: #fff;
}

.paragraph-12 {
  position: relative;
  left: -98px;
  top: -4px;
}

.div-block-11 {
  position: relative;
  left: 184px;
  top: 119px;
  max-width: 362px;
}

.image-13 {
  position: relative;
  left: 177px;
  top: 46px;
}

.container-8 {
  min-height: 594px;
}

.container-9 {
  min-height: 594px;
}

.container-10 {
  min-height: 594px;
}

.main-section-five {
  position: relative;
  top: -8px;
  min-height: 590px;
  background-color: #272427;
}

.paragraph-13 {
  position: relative;
  top: 0px;
  color: #fff;
}

.div-web-content-one {
  position: relative;
  left: 9px;
  top: 70px;
}

.paragraph-14 {
  color: #fff;
}

.link-block {
  background-image: url('../images/foco-roofers-web.jpg');
  background-position: 0px 0px;
  background-size: 432px;
}

.link-block-2 {
  position: relative;
  left: 59px;
}

.section-title-group {
  margin-bottom: 62px;
}

.heading-title {
  margin-bottom: 20px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 52px;
  text-align: center;
}

.heading-title.centered {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 42px;
  text-align: center;
}

.section-subheading.center {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.feature-column {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.grid-image {
  margin-bottom: 20px;
  background-image: url('../images/house1-template.jpg');
  background-position: 0px 0px;
  background-size: 512px;
  -webkit-transform: rotateX(9deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(9deg) rotateY(0deg) rotateZ(0deg);
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.heading-16 {
  font-family: 'Droid Serif', serif;
  color: #fff;
}

.paragraph-15 {
  color: #fff;
  font-size: 19px;
}

.heading-17 {
  font-family: 'Droid Serif', serif;
  color: #fff;
}

.paragraph-16 {
  color: #fff;
  font-size: 19px;
  text-decoration: underline;
}

.heading-18 {
  font-family: 'Droid Serif', serif;
  color: #fff;
}

.paragraph-17 {
  color: #fff;
  font-size: 19px;
}

.heading-19 {
  position: relative;
  left: 77px;
  max-width: 275px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  text-align: right;
}

.contact-info-columns {
  min-height: 539px;
  background-color: transparent;
}

.telephone {
  position: relative;
  left: -3px;
  top: 334px;
}

.phone-title {
  position: relative;
  bottom: 65px;
  font-family: 'PT Serif', serif;
  color: #fff;
  text-align: center;
}

.tele-content {
  min-height: 539px;
}

.div-block-13 {
  position: relative;
  top: 374px;
}

.heading-21 {
  position: relative;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  text-align: center;
}

.email-list {
  position: relative;
  top: 308px;
}

.name-add-sect {
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-15 {
  position: relative;
  top: 108px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 415px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-item-2 {
  color: #fff;
  font-size: 24px;
  line-height: 33px;
}

.div-name-title {
  position: relative;
  top: 203px;
}

.div-block-17 {
  position: relative;
  top: 249px;
  min-height: 106px;
  min-width: 11px;
}

.field-label {
  color: #fff;
}

.block-quote-2 {
  padding-top: 31px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 25px;
  text-align: center;
}

.image-14 {
  position: relative;
  left: 121px;
}

.image-15 {
  position: relative;
  left: 306px;
  bottom: 32px;
}

.bold-text {
  font-size: 21px;
  font-weight: 400;
  text-transform: none;
}

.unordered-list {
  position: relative;
  top: 0px;
  font-size: 24px;
}

.titile-name-two {
  position: relative;
  top: 226px;
}

.link-3 {
  position: relative;
  left: 140px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.heading-22 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 19px;
  text-transform: none;
}

.div-block-19 {
  position: relative;
  top: 305px;
}

.form-block {
  min-height: 0px;
}

.text-block {
  position: relative;
  top: 326px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.heading-23 {
  font-family: 'PT Serif', serif;
  color: #fff;
}

.footer-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-2.accent {
  padding-bottom: 0px;
}

.image-16 {
  background-color: #fff;
}

.column-11 {
  color: #fff;
}

.text-block-2 {
  position: relative;
  bottom: 7px;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  color: #3b99d9;
}

.social-icon-link {
  padding: 3px;
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.social-icon-link:hover {
  opacity: 0.5;
}

.link-2 {
  color: #fff;
  font-size: 19px;
}

.footer-brand-text {
  font-size: 31px;
  line-height: 33px;
}

.columns-2 {
  min-height: 476px;
}

.container-11 {
  min-height: 463px;
}

.container-12 {
  min-height: 463px;
}

.heading-24 {
  font-family: 'Droid Serif', serif;
  color: #fff;
  text-align: center;
}

.div-block-20 {
  position: relative;
  left: 38px;
  top: 48px;
  max-width: 500px;
}

.paragraph-18 {
  position: relative;
  color: #fff;
}

.div-block-21 {
  position: relative;
  left: 142px;
  top: 86px;
  right: 0px;
  max-width: 500px;
}

.paragraph-19 {
  color: #fff;
}

.image-17 {
  position: relative;
  top: 76px;
}

.columns-3 {
  min-height: 492px;
}

.column-12 {
  min-height: 492px;
}

.column-13 {
  min-height: 492px;
}

.container-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 466px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 466px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-18 {
  position: relative;
  left: 0px;
  top: 0px;
}

.heading-25 {
  padding-bottom: 26px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 36px;
  text-align: center;
}

.paragraph-20 {
  position: relative;
  top: 97px;
  min-height: 200px;
  color: #fff;
  font-size: 22px;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 630px;
  min-height: 500px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-26 {
  position: relative;
  left: 40px;
  top: 355px;
  padding-top: 0px;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 50px;
  line-height: 51px;
}

.container-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-27 {
  position: relative;
  left: 0px;
  display: block;
  padding-top: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: 'PT Serif', serif;
  color: #676565;
  font-size: 47px;
}

.div-block-23 {
  position: relative;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  max-width: 1509px;
  min-height: 576px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-24 {
  position: relative;
  left: 364px;
  max-width: 1386px;
}

.heading-28 {
  position: relative;
  left: 726px;
  top: 55px;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'PT Serif', serif;
  font-size: 57px;
  text-align: center;
}

.div-block-25 {
  position: relative;
  top: 49px;
  min-width: 789px;
}

.col-projects {
  position: relative;
  top: 108px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-19 {
  position: relative;
  top: 5px;
  right: 157px;
}

.heading-29 {
  color: #fff;
}

.div-block-26 {
  min-height: 500px;
}

.container-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-phrase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1860px;
  margin-top: -1px;
  padding-top: 25px;
  clear: both;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  padding-top: 95px;
  padding-left: 54px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  line-height: 35px;
}

.title-index-banner {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  line-height: 54px;
  text-shadow: 0 4px 0 #000;
}

.heading-index-banner {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  line-height: 60px;
  text-indent: 0px;
  text-shadow: 0 3px 0 #000;
}

.column-14 {
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1800px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.serrvice-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 57px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.service-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.service-iitem-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-20 {
  margin-top: 0px;
  border: 3px solid #000;
}

.service-wrapper {
  padding-top: 80px;
}

.service-heading {
  margin-top: -64px;
  padding-bottom: 58px;
  font-family: 'PT Serif', serif;
  font-size: 52px;
  text-align: center;
}

.service-item-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-34 {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-21 {
  display: block;
  border: 3px solid #000;
  box-shadow: 0 0 11px 0 hsla(0, 6%, 54%, .86);
}

.div-block-31 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-35 {
  font-family: 'PT Serif', serif;
  font-size: 30px;
}

.heading-36 {
  font-family: 'PT Serif', serif;
  font-size: 30px;
}

.heading-37 {
  font-family: 'PT Serif', serif;
  font-size: 30px;
}

.heading-38 {
  position: relative;
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 55px;
  text-align: right;
}

.columns-7 {
  min-height: 539px;
}

.div-block-32 {
  position: relative;
  top: 354px;
}

.column-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-33 {
  position: relative;
  top: 371px;
}

.div-block-34 {
  position: relative;
  top: 75px;
}

.column-19 {
  top: -1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 193px;
  padding-top: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-35 {
  position: relative;
  top: 203px;
}

.image-22 {
  position: relative;
  left: 243px;
  bottom: 13px;
}

.div-block-36 {
  position: relative;
  top: 226px;
}

.link-4 {
  min-height: 0px;
  min-width: 129px;
  font-size: 20px;
}

.div-block-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 242px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-pic-sam {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3f5866;
}

.columns-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 2022px;
  padding-left: 267px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  min-width: 370px;
}

.paragraph-21 {
  margin-top: 20px;
  font-family: 'PT Serif', serif;
  font-size: 19px;
  line-height: 23px;
}

.paragraph-22 {
  margin-top: 4px;
  padding-top: 0px;
  font-family: 'PT Serif', serif;
  font-size: 19px;
  line-height: 23px;
}

.paragraph-23 {
  font-family: 'PT Serif', serif;
  font-size: 19px;
  line-height: 22px;
}

.image-23 {
  margin-top: 0px;
  border: 3px solid #000;
}

.link-5 {
  color: #fff;
  font-size: 18px;
}

.div-accordian-container {
  min-height: 594px;
  margin-top: 0px;
}

.contact-info {
  min-height: 695px;
  margin: 0px 10px;
  padding-bottom: 0px;
  grid-column-gap: 14px;
  grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . .";
  -ms-grid-columns: 1fr 14px 0.75fr 14px 1fr 14px 1fr 14px 1fr;
  grid-template-columns: 1fr 0.75fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .57)), to(rgba(0, 0, 0, .57))), url('../images/CandideThovexOceanWave.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), rgba(0, 0, 0, .57)), url('../images/CandideThovexOceanWave.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.contact-info.justify-left {
  grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . .";
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.div-accordian-pic {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .24)), to(rgba(0, 0, 0, .24))), url('../images/mountains.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .24), rgba(0, 0, 0, .24)), url('../images/mountains.jpeg');
  background-position: 0px 0px, -1104px 0px;
  background-size: auto, cover;
  box-shadow: 0 0 6px 0 #000;
  cursor: pointer;
}

.heading-39 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 27px;
  text-align: center;
}

.paragraph-24 {
  color: #fff;
}

.paragraph-25 {
  color: #fff;
}

.heading-40 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 27px;
  text-align: center;
}

.paragraph-26 {
  color: #fff;
}

.heading-41 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 27px;
  text-align: center;
}

.heading-42 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 29px;
}

.div-accordian-email {
  margin-right: 13px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.text-block-3 {
  font-family: 'PT Serif', serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.text-block-4 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.text-block-5 {
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.field-label-2 {
  color: #fff;
}

.field-label-3 {
  color: #fff;
}

.text-field {
  min-height: 159px;
}

.div-block-39 {
  display: -ms-grid;
  display: grid;
  min-height: 469px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . ." ". . . .";
  -ms-grid-columns: 0.75fr 16px 0.75fr 16px 1fr 16px 1fr;
  grid-template-columns: 0.75fr 0.75fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.image-24 {
  margin-left: 140px;
}

.heading-43 {
  margin-bottom: 35px;
  color: #fff;
  text-align: center;
}

.paragraph-27 {
  max-width: 852px;
  margin-left: 110px;
  color: #fff;
}

.button {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: #f0f0df;
  color: #000;
}

.div-accoridan-descrip {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.accoridan-iwrapper {
  cursor: pointer;
}

.div-accoridan-content {
  overflow: hidden;
}

.heading-44 {
  font-family: 'PT Serif', serif;
  color: #000;
  text-align: center;
}

.paragraph-28 {
  text-align: center;
}

.div-accordian-work-trigger {
  cursor: pointer;
}

.div-accordian-work-content {
  overflow: visible;
  min-height: 32px;
}

.heading-45 {
  font-family: 'PT Serif', serif;
  color: #fff;
}

.link-6 {
  color: #fff;
  font-size: 24px;
}

.div-accord-work-content {
  overflow: hidden;
  min-height: 31px;
  margin-top: 13px;
  font-size: 22px;
}

.link-7 {
  color: #fff;
}

.text-block-6 {
  color: #fff;
}

.div-block-work-content {
  display: -ms-grid;
  display: grid;
  min-height: 566px;
  margin-top: 69px;
  padding-bottom: 0px;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.div-accrd-work-item {
  margin-top: 15px;
}

.accrd-work-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.accrd-work-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.heading-46 {
  color: #fff;
  font-size: 31px;
  text-align: center;
}

.heading-47 {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.heading-48 {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

.paragraph-29 {
  color: #fff;
}

.paragraph-30 {
  color: #fff;
}

.paragraph-31 {
  color: #fff;
}

.div-footer-social-trigger {
  cursor: pointer;
}

.div-footer-social-content {
  min-height: 75px;
}

.section {
  min-height: 400px;
  margin-top: 0px;
  background-color: #2b3a42;
}

.sec-footer {
  min-height: 400px;
  margin-top: -11px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.div-footer-sec {
  min-height: 4000px;
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 402px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . ." ". . . . .";
  -ms-grid-columns: 0.5fr 16px 1fr 16px 1fr 16px 1fr 16px 0.5fr;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
  background-color: rgba(63, 88, 102, .8);
}

.div-footer-trigger {
  margin-top: 27px;
  cursor: pointer;
}

.heading-49 {
  background-color: #000;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 #000;
}

.heading-50 {
  text-align: center;
}

.heading-51 {
  text-align: center;
}

.image-25 {
  margin-top: 95px;
  margin-left: 26px;
}

.div-footer-content {
  overflow: hidden;
  margin-top: 30px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 17px;
  text-align: center;
}

.paragraph-32 {
  overflow: hidden;
}

.link-8 {
  color: #fff;
  font-size: 17px;
}

.paragraph-33 {
  font-size: 18px;
}

.paragraph-34 {
  font-size: 18px;
}

.paragraph-35 {
  font-size: 18px;
}

.link-9 {
  color: #fff;
}

.link-10 {
  color: #fff;
}

.link-11 {
  color: #fff;
}

.link-12 {
  color: #fff;
}

.link-13 {
  color: #fff;
}

.accrd-work-wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 400px;
  margin-top: 103px;
  margin-right: 13px;
  margin-left: 13px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.heading-52 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
}

.paragraph-36 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
}

.image-26 {
  box-shadow: 0 0 8px 0 #fff;
}

.image-27 {
  box-shadow: 0 0 9px 0 #fff;
}

.image-28 {
  box-shadow: 0 0 8px 0 #fff;
}

.heading-53 {
  color: #fff;
  text-align: center;
}

.why-web-content-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-37 {
  max-width: 846px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
}

.why-weblist-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-7 {
  color: #fff;
}

.list-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  font-size: 17px;
}

.paragraph-38 {
  font-size: 17px;
}

@media (max-width: 991px) {
  .container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .banner-main {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .39)), to(rgba(0, 0, 0, .39))), url('../images/CandideThovexOceanWave.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .39), rgba(0, 0, 0, .39)), url('../images/CandideThovexOceanWave.jpg');
    background-position: 0px 0px, -219px 0px;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }
  .image-3 {
    left: -2px;
  }
  .paragraph-9 {
    position: relative;
    left: -189px;
    right: -39px;
  }
  .slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .paragraph-10 {
    max-width: 100px;
    min-height: 100px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .heading-21 {
    font-size: 33px;
  }
  .div-block-15 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 209px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .list-item-2 {
    font-size: 15px;
  }
  .block-quote-2 {
    font-size: 16px;
  }
  .unordered-list {
    font-size: 16px;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading-24 {
    margin-bottom: 0px;
  }
  .div-block-21 {
    max-height: 158px;
    max-width: 333px;
    margin-bottom: 73px;
  }
  .paragraph-19 {
    margin-bottom: 104px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .heading-25 {
    font-size: 27px;
  }
  .div-block-25 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 715px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .serrvice-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading-38 {
    font-size: 33px;
  }
  .link-4 {
    font-size: 19px;
  }
  .columns-8 {
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .contact-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-accordian-pic {
    overflow: visible;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .24)), to(rgba(0, 0, 0, .24)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .24), rgba(0, 0, 0, .24));
    background-position: 0px 0px;
    background-size: auto;
  }
  .div-accordian-hours {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .accrd-work-content {
    max-width: 300px;
  }
  .footer-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .accrd-work-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .accrd-work-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 74px;
    padding-top: 0px;
    padding-bottom: 22px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
}

@media (max-width: 767px) {
  .container-2 {
    left: -22px;
  }
  .banner-main {
    background-position: 28% -197px;
  }
  .image-3 {
    left: 108px;
  }
  .image-8 {
    position: relative;
    left: 104px;
  }
  .image-9 {
    position: relative;
    left: 115px;
  }
  .image-10 {
    position: relative;
    left: 109px;
  }
  .paragraph-6 {
    position: relative;
    left: 98px;
    max-width: 349px;
  }
  .paragraph-7 {
    position: relative;
    left: 98px;
    max-width: 349px;
  }
  .paragraph-8 {
    position: relative;
    left: 98px;
    max-width: 349px;
  }
  .heading-11 {
    position: relative;
    left: -28px;
  }
  .paragraph-9 {
    left: -371px;
    top: 38px;
  }
  .men-four {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .container-14 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-18 {
    left: 0px;
    top: 0px;
    max-width: 61%;
  }
  .col-projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .serrvice-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 479px) {
  .image-3 {
    left: 52px;
  }
  .image-8 {
    left: 31px;
    max-width: 374%;
  }
  .image-9 {
    left: 31px;
    max-width: 374%;
    padding-top: 12px;
  }
  .image-10 {
    left: 31px;
    max-width: 372%;
    padding-top: 12px;
  }
  .paragraph-6 {
    left: 5px;
    max-width: 369px;
  }
  .paragraph-7 {
    left: 5px;
  }
  .paragraph-8 {
    left: 5px;
    max-width: 349px;
  }
  .heading-11 {
    left: -8px;
  }
  .paragraph-9 {
    left: -507px;
    width: 267.984375px;
  }
}

#w-node-465fb7218cda-3b10b89f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-a75a67ba30d9-3b10b89f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dd595e98fd02-3b10b89f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-028e9790e941-3b10b89f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-9510b6c35c95-3b10b89f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-e8be2e6fe6f3-3b10b89f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-990e4856f3a7-3b10b89f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
}

#w-node-fed0ed6ce5be-3b10b89f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-40973cd5f784-3b10b89f {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-baccf69f46be-3b10b89f {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 4;
  grid-row-end: 5;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-527c90ae0869-3b10b89f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-8be5c9e61571-3b10b89f {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-e611a55191a4-3b10b89f {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-a05d03118ce8-3b10b89f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}