.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  display: block;
  max-width: 615px;
  margin: 0px auto 5px;
  color: #9ba9b3;
  font-size: 13px;
  line-height: 22px;
}

.button {
  display: inline-block;
  padding: 15px;
  background-color: rgba(72, 224, 164, .54);
  color: #284238;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.full {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.navbar {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-right: 18px;
  margin-bottom: 0px;
  margin-left: 18px;
  padding-top: 25px;
  padding-bottom: 26px;
  background-color: transparent;
}

.brand {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: block;
  width: 26px;
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.nav-menu {
  display: block;
  float: none;
}

.nav-link {
  padding: 9px 15px;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #9a84e0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #48e0a4;
}

.nav-link:active {
  color: #48e0a4;
}

.nav-link.w--current {
  color: #84dfce;
}

.nav-link.button-link {
  margin-top: 19px;
  margin-left: 20px;
  padding: 2px 8px 1px;
  border: 1px solid #9ed9c1;
  border-radius: 4px;
  background-color: transparent;
  color: #77c9a8;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 3px;
}

.nav-link.button-link.fixed-button-link {
  margin-top: 6px;
  margin-right: 15px;
  margin-left: 0px;
  float: right;
  border: 1px solid #a894eb;
  background-color: transparent;
  -webkit-transition: color 400ms ease, border-color 400ms ease;
  transition: color 400ms ease, border-color 400ms ease;
  color: #9178e3;
  font-weight: 600;
}

.nav-link.button-link.fixed-button-link:hover {
  border-color: #1cad73;
  color: #1cad73;
}

.nav-link.button-link.fixed-button-link.w--current {
  border-color: rgba(159, 139, 224, .2);
  background-color: rgba(168, 148, 235, .29);
  color: #fff;
}

.phone-header {
  margin-top: 21px;
  float: right;
  color: rgba(50, 56, 54, .29);
  font-weight: 600;
  text-transform: none;
}

.wid-noco-contain {
  position: relative;
  max-width: 1140px;
  margin-top: 98px;
}

.wid-noco-contain.full-height-container {
  position: relative;
  height: 100%;
}

.wid-noco-contain.work-container {
  margin-top: 23px;
}

.section {
  position: relative;
  top: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section.hero-section {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 102%;
  margin-top: 126px;
  margin-right: 25px;
  margin-left: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #282b2d;
  background-image: url('../images/stary-night.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 -1px 7px -1px rgba(70, 79, 76, .14);
}

.section.hero-section.work-item-1 {
  margin-top: 117px;
  background-image: url('../images/bod-Dfront-page.jpeg');
  background-position: 50% 20%;
  background-size: cover;
  background-attachment: scroll;
}

.section.about-section {
  z-index: 1;
  padding-bottom: 0px;
  background-color: #fff;
  text-align: center;
}

.section.work-section {
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  box-shadow: 0 -4px 7px -6px rgba(19, 66, 47, .72);
}

.section.contact-section {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  max-width: 550px;
  margin: 18px 108px 10px 84px;
  padding-right: 15px;
  padding-bottom: 95px;
  padding-left: 14px;
  border-radius: 10px;
  background-color: rgba(41, 41, 48, .93);
  background-image: none;
  box-shadow: 0 0 6px 0 rgba(25, 25, 33, .87);
}

.section.footer-section {
  position: relative;
  z-index: 1;
  display: block;
  margin-top: 195px;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #212026;
  box-shadow: 0 0 6px 0 rgba(27, 26, 31, .97);
  text-align: center;
}

.section.testimonials-section {
  display: block;
  max-width: 550px;
  margin: 18px 0px 10px auto;
  padding-top: 95px;
  border-radius: 10px;
  background-color: rgba(64, 64, 71, .92);
  box-shadow: 0 0 6px 0 rgba(32, 31, 38, .48);
}

.section.contact-section {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
  max-width: 550px;
  margin: 18px auto 10px 0px;
  padding-right: 15px;
  padding-bottom: 95px;
  padding-left: 15px;
  border-radius: 10px;
  background-color: rgba(41, 41, 48, .93);
  background-image: none;
  box-shadow: 0 0 6px 0 rgba(25, 25, 33, .87);
}

.hero-h1 {
  position: fixed;
  left: 0px;
  top: 34%;
  right: 0px;
  display: block;
  max-width: 1120px;
  margin: 0px auto;
  color: #fff;
  font-size: 62px;
  line-height: 62px;
  text-align: center;
  text-transform: uppercase;
}

.sub-h1 {
  display: inline-block;
  color: hsla(0, 0%, 100%, .2);
  font-size: 35px;
  line-height: 45px;
  font-weight: 200;
}

.white-text {
  display: inline-block;
  color: #fff;
}

.white-text.highlight {
  background-color: rgba(82, 82, 82, .7);
}

.green-text {
  display: inline-block;
  color: #48e0a4;
}

.green-text.highlight {
  margin-top: 9px;
  background-color: rgba(82, 82, 82, .81);
}

.elk {
  display: block;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: auto;
  opacity: 0.98;
}

.dial {
  display: none;
  width: 210px;
  height: 210px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.dial.color-dial {
  position: relative;
  top: 50%;
  width: 88%;
  height: 88%;
  background-image: -webkit-gradient(linear, right top, left top, from(#48e0a4), color-stop(40%, #27a395), color-stop(47%, #48e0a4), color-stop(48%, #48e0a4), color-stop(0, #fff), color-stop(0, transparent)), -webkit-gradient(linear, left bottom, left top, color-stop(50%, #fff), color-stop(0, #48e0a4));
  background-image: linear-gradient(270deg, #48e0a4, #27a395 40%, #48e0a4 47%, #48e0a4 48%, #fff 0, transparent 0), linear-gradient(0deg, #fff 50%, #48e0a4 0);
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.dial.cover {
  position: relative;
  top: 50%;
  width: 85%;
  height: 85%;
  padding-top: 69px;
  background-color: #fff;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  color: #48e0a4;
  font-size: 40px;
  text-transform: uppercase;
}

.dial.inner-dial {
  position: relative;
  top: 50%;
  width: 95%;
  height: 95%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.meet-section-backdrop {
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(50%, hsla(0, 0%, 100%, .9)), color-stop(64%, hsla(0, 0%, 100%, 0))), url('../images/stars-mountains.jpg');
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .9) 50%, hsla(0, 0%, 100%, 0) 64%), url('../images/stars-mountains.jpg');
  background-position: 0px 0px, 50% 65%;
  background-size: auto, contain;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.circle {
  margin-bottom: 40px;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 80px;
  color: #333;
  font-size: 15px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-heading.center {
  margin-bottom: 36px;
  text-align: center;
}

.section-heading.featured {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #c4c4c4;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

.section-heading.contact-heading {
  margin-bottom: 10px;
  color: hsla(212, 8%, 43%, .87);
  font-size: 20px;
  letter-spacing: 2px;
}

.section-heading.about-heading {
  margin-top: 71px;
  margin-bottom: 10px;
  text-align: center;
}

.medium-hero-h1 {
  position: relative;
  left: 5px;
  display: inline-block;
  border-bottom: 7px solid rgba(21, 31, 30, .78);
  color: rgba(21, 31, 30, .78);
  font-size: 82px;
  line-height: 115px;
}

.profile-holder {
  display: block;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 19px;
  border: 1px solid hsla(0, 0%, 76%, .34);
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 hsla(0, 0%, 84%, .5);
  color: #686f73;
  font-size: 12px;
}

.profile-holder._1 {
  position: relative;
  z-index: 3;
}

.profile-holder._2 {
  position: relative;
  z-index: 2;
}

.profile-holder._3 {
  position: relative;
  z-index: 1;
  margin-bottom: 175px;
}

.avatar {
  border-radius: 50%;
}

.avatar.testimonials {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.avatar-heading {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #394752;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.noco-work-item {
  position: relative;
  overflow: hidden;
  height: 375px;
  margin-top: 0px;
  border-radius: 3px;
  background-color: #fafafa;
  box-shadow: 0 0 5px -1px rgba(71, 71, 71, .43);
}

.noco-work-item.tall {
  height: 600px;
  margin-top: 19px;
}

.noco-work-item.tall.tall-image-1 {
  background-image: url('../images/foco-roofers.png');
  background-size: cover;
}

.noco-work-item.tall.tall-image-2 {
  background-image: url('../images/Web-Design-In-The-Era-Of-The-Smartphones-p-500.jpeg');
  background-position: 23% 0%;
  background-size: cover;
}

.noco-work-item.tall.tal-image-3 {
  background-image: url('../images/green-app.png');
  background-position: 50% 50%;
  background-size: 380px;
  background-repeat: no-repeat;
}

.noco-work-item.tall.tall-image-3 {
  background-color: #ebedf9;
  background-image: url('../images/social-media.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: repeat;
}

.noco-work-item.tall.work-item-1-image-2 {
  background-image: url('../images/noco-pic-2.png');
  background-position: 33% 51%;
  background-size: auto;
}

.noco-work-item.tall.work-item-1-image-1 {
  background-color: #e9ebf7;
  background-image: url('../images/noco-pic-3.png');
  background-position: -2% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.noco-work-item.short {
  width: 94%;
  height: 208px;
  margin-top: 18px;
  margin-bottom: 0px;
}

.noco-work-item.short.right {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: auto;
}

.noco-work-item.short.right.short-right-image-1 {
  background-image: url('../images/seo-for-coffee-shop.jpg');
  background-size: cover;
}

.noco-work-item.short.short-image-1 {
  background-image: url('../images/mountains.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.noco-work-item.short.short-image-2 {
  background-image: url('../images/jits-hands-2.jpg');
  background-position: 50% -45px;
  background-size: 800px;
  background-repeat: no-repeat;
}

.noco-work-item.wide {
  height: 275px;
  margin-top: 18px;
}

.noco-work-item.wide.wide-image-1 {
  background-image: url('../images/blog-page-1.png');
  background-position: 50% 50%;
  background-size: 425px;
  background-repeat: no-repeat;
}

.noco-work-item.full-tall {
  height: 600px;
}

.noco-work-item.full-tall.work-item-1-image-4 {
  background-color: #e9e9f3;
  background-image: url('../images/pens-mockup.jpg');
  background-position: 50% 50%;
  background-size: 731px;
  background-repeat: no-repeat;
}

.noco-work-item.full-tall.work-item-1-image-3 {
  margin-top: 17px;
  background-image: url('../images/nocoartofrealestate.jpg');
  background-position: 50% 49%;
  background-size: cover;
}

.featured-noco-item {
  border-radius: 3px;
  box-shadow: 0 -1px 4px -1px rgba(71, 71, 71, .23);
}

.work-link {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  z-index: 1;
  display: block;
  width: 200px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  box-shadow: 0 0 500px 500px hsla(0, 0%, 98%, .86);
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: rgba(0, 0, 0, .23);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

.work-link:hover {
  background-color: rgba(98, 108, 110, .56);
}

.work-link.featured-link {
  width: 421px;
  background-color: rgba(75, 105, 95, .52);
  box-shadow: none;
}

.work-link.featured-link:hover {
  background-color: rgba(55, 87, 74, .78);
}

.plus-box {
  display: block;
  width: 55px;
  height: 55px;
  margin: 10px auto;
  padding-top: 15px;
  border: 1px solid hsla(0, 0%, 100%, .49);
  font-family: Lato, sans-serif;
  color: hsla(0, 0%, 100%, .68);
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
}

.text-field {
  display: block;
  max-width: 500px;
  min-height: 55px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding-left: 80px;
  border: 1px solid rgba(170, 201, 227, .09);
  border-radius: 3px;
  background-color: rgba(40, 43, 45, .4);
  box-shadow: inset 0 0 4px 0 rgba(21, 24, 26, .81);
  -webkit-transition: border 300ms ease;
  transition: border 300ms ease;
  color: #6a7d7b;
}

.text-field:hover {
  border-color: rgba(184, 217, 245, .2);
}

.text-field:focus {
  border-color: rgba(170, 201, 227, .49);
}

.text-field.text-area {
  height: 110px;
  padding-top: 18px;
}

.submit-button {
  width: 100%;
  max-width: 500px;
  min-height: 55px;
  border: 1px solid #4b4b63;
  border-radius: 3px;
  background-color: #414152;
  box-shadow: 0 0 10px -4px rgba(2, 41, 25, .53);
  -webkit-transition: background-color 300ms ease, border-color 300ms ease;
  transition: background-color 300ms ease, border-color 300ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.submit-button:hover {
  border-color: #86dbb9;
  background-color: #74cfbe;
}

.label {
  position: absolute;
  top: 51%;
  margin-left: 20px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  color: #4b5257;
  font-weight: 600;
}

.message-label {
  position: absolute;
  top: 49%;
  margin-left: 20px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  color: #4b5257;
  font-weight: 600;
}

.form-link {
  position: relative;
  display: block;
}

.success {
  border: 1px solid rgba(186, 227, 255, .2);
  border-radius: 3px;
  background-color: rgba(25, 27, 28, .52);
  box-shadow: inset 0 0 5px 0 #101112;
  color: #575d61;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.error {
  border: 1px solid hsla(0, 34%, 62%, .2);
  border-radius: 3px;
  background-color: rgba(66, 34, 34, .47);
  box-shadow: inset 0 0 5px 0 rgba(48, 17, 17, .53);
  color: #bf8e8e;
  text-align: center;
}

.footer-logo {
  display: block;
  margin-right: auto;
  margin-bottom: 45px;
  margin-left: auto;
  opacity: 0.31;
}

.footer-link {
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: hsla(219, 8%, 59%, .85);
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  color: #8d939e;
}

.copyright {
  position: relative;
  left: 1px;
  margin-bottom: 15px;
  color: hsla(219, 8%, 59%, .9);
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.social-icon {
  margin-right: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
  opacity: 0.85;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.loading-section {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5000;
  display: none;
  height: 100%;
  background-color: #fff;
}

.loader-holder {
  position: absolute;
  left: 0px;
  top: 41%;
  right: 0px;
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.fixed-header {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1001;
  overflow: hidden;
  height: 110px;
  margin-top: 0px;
  margin-bottom: 26px;
  box-shadow: none;
}

.short-wide-image {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.testimonials-slider {
  overflow: hidden;
  height: 135px;
  margin-top: 108px;
  margin-bottom: 108px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slide {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.testimonial-highlight {
  display: inline-block;
  padding-right: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: #8d9da8;
  line-height: 35px;
}

.contact-and-footer {
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}

.site-wrapper {
  position: relative;
  top: 100%;
  margin-right: 18px;
  margin-left: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 7px -1px rgba(57, 82, 66, .43);
}

.number-highlight {
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 15px;
  background-color: hsla(0, 0%, 100%, .59);
  color: rgba(56, 61, 60, .77);
}

.work-p {
  margin-top: 23px;
  margin-bottom: 160px;
  font-size: 15px;
  text-align: center;
}

.meet-heading {
  margin-bottom: 160px;
}

.loading-image {
  opacity: 0.67;
}

.text-block {
  margin-top: 38px;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}

.text-block-2 {
  margin-top: 24px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.text-block-3 {
  margin-top: 25px;
  color: hsla(0, 76%, 97%, .72);
  font-size: 34px;
}

.text-block-4 {
  margin-top: 38px;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.text-block-5 {
  margin-top: 26px;
  color: #fff;
  font-size: 25px;
  line-height: 32px;
}

.text-block-6 {
  color: #fff;
  font-size: 25px;
  line-height: 43px;
  font-weight: 400;
}

.text-block-7 {
  margin-top: 33px;
  margin-bottom: 0px;
  padding-top: 0px;
  color: #fdfdfd;
  font-size: 24px;
  line-height: 27px;
}

.text-block-8 {
  margin-top: 31px;
  color: #fcf8f8;
  line-height: 25px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-title {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 52px;
  font-weight: 300;
  text-align: center;
}

.link-15 {
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.div-block-25 {
  position: relative;
  top: 49px;
  min-height: 0px;
  min-width: 789px;
}

.accrd-work-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.accrd-work-wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 423px;
  margin-top: 103px;
  margin-right: 13px;
  margin-left: 13px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.image-26 {
  box-shadow: 0 0 8px 0 #fff;
}

.link-16 {
  margin-top: 19px;
  margin-bottom: 18px;
  font-family: 'Droid Serif', serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.paragraph-36 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
}

.accrd-work-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 371px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.image-27 {
  box-shadow: 0 0 9px 0 #fff;
}

.men-four {
  position: relative;
  top: -7px;
  min-height: 867px;
  margin-top: 207px;
  background-color: rgba(0, 0, 0, .96);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(63, 88, 102, .69)), to(rgba(63, 88, 102, .69))), url('../images/jits-hands-2.jpg');
  background-image: linear-gradient(180deg, rgba(63, 88, 102, .69), rgba(63, 88, 102, .69)), url('../images/jits-hands-2.jpg');
  background-position: 0px 0px, 50% -180px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.section-2 {
  margin-right: 30px;
  margin-left: 30px;
  background-image: none;
  background-position: 0px 0px;
}

.section-2.cc-home-wrap {
  margin-bottom: 59px;
}

.about-story-wrap {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}

.motto-wrap {
  width: 80%;
  margin-right: auto;
  margin-bottom: 85px;
  margin-left: auto;
  text-align: center;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.paragraph-light {
  opacity: 0.6;
  font-size: 19px;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 32px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  border: 3px none #000;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
  text-shadow: 1px 1px 6px #000;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.what-i-provide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .46)), to(rgba(0, 0, 0, .46))), url('../images/display-roof-background.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .46), rgba(0, 0, 0, .46)), url('../images/display-roof-background.jpg');
  background-position: 0px 0px, 0px -8px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.what-i-provide.cc-subpage {
  height: 612px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .09)), to(rgba(0, 0, 0, .09))), url('../images/stary-night.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .09), rgba(0, 0, 0, .09)), url('../images/stary-night.jpg');
  background-position: 0px 0px, 0px -498px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.text-block-9 {
  color: rgba(97, 79, 79, .68);
  text-transform: uppercase;
}

.text-block-10 {
  color: hsla(0, 2%, 55%, .61);
  font-size: 23px;
  text-transform: uppercase;
}

.our-services-grid {
  min-height: 2000px;
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-areas: ". . ." ". . ." ". . ." ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 60px auto 60px auto 60px auto;
  grid-template-rows: auto auto auto auto;
}

.service-icon {
  margin-bottom: 30px;
  box-shadow: 2px 0 6px 0 #000;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-style: normal;
  font-weight: 300;
}

.italic-text {
  font-size: 24px;
}

.container-2 {
  min-height: 2000px;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.column {
  min-height: 2432px;
}

.div-block-27 {
  display: -ms-grid;
  display: grid;
  min-height: 2000px;
  margin-top: 53px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". ." ". ." ". ." ". ." ". .";
  -ms-grid-columns: 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto;
}

.image-28 {
  margin-top: 144px;
}

.image-29 {
  margin-right: 0px;
}

.link-17 {
  cursor: pointer;
}

.wide-container {
  position: relative;
  max-width: 1140px;
}

.wide-container.full-height-container {
  position: relative;
  height: 100%;
}

.foco-title-banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 1098px;
  margin-top: 126px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  position: relative;
  top: 25px;
  min-height: 50px;
  margin-top: 7px;
  background-color: transparent;
  color: #48e0a4;
  font-size: 75px;
}

.heading-2 {
  background-color: transparent;
  color: #e9e2e2;
  font-size: 75px;
  line-height: 60px;
}

.div-block-28 {
  min-height: 76px;
  background-color: #5d676e;
}

.div-block-29 {
  min-height: 112px;
  background-color: rgba(93, 103, 110, .69);
}

.text-block-11 {
  font-weight: 700;
  text-align: center;
}

.text-block-12 {
  text-align: center;
}

.sec-noco-banner {
  height: 1162px;
  margin-bottom: 0px;
  padding-top: 6px;
  background-image: url('../images/noco-real-pic.png');
  background-position: 0px 0px;
  background-size: cover;
}

.container-3 {
  margin-top: 127px;
}

.container-4 {
  margin-top: 3px;
}

.noco-content {
  display: inline;
  min-height: 2000px;
  margin-top: 86px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-30 {
  min-height: 532px;
  margin-top: 18px;
  background-image: url('../images/noco-pic-2.png');
  background-position: 0px -95px;
  background-size: cover;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.noco-link {
  margin-top: 22px;
}

.section-3 {
  height: 1162px;
  background-image: url('../images/foco-roofers.png');
  background-position: 0px 0px;
  background-size: cover;
}

.featu-item-foco {
  border-radius: 3px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
  box-shadow: 0 -1px 4px -1px rgba(71, 71, 71, .23);
}

.foc-roof-item-2 {
  position: relative;
  overflow: hidden;
  height: 375px;
  margin-top: 0px;
  border-radius: 3px;
  background-color: #fafafa;
  box-shadow: 0 0 5px -1px rgba(71, 71, 71, .43);
}

.foc-roof-item-2.tall {
  height: 600px;
  margin-top: 19px;
}

.foc-roof-item-2.tall.work-item-1-image-2 {
  background-image: url('../images/bod-pic2-.png');
  background-position: 48% 51%;
  background-size: auto;
}

.foc-roof-item-2.tall.work-item-1-image-1 {
  background-color: #e9ebf7;
  background-image: url('../images/blog-page-1.png');
  background-position: 85% 50%;
  background-size: 934px;
  background-repeat: no-repeat;
}

.foc-roof-item-2.full-tall {
  height: 600px;
}

.foc-roof-item-2.full-tall.work-item-1-image-3 {
  margin-top: 17px;
  background-image: url('../images/foco-pic-3.png');
  background-position: 20% 84%;
  background-size: cover;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-33 {
  height: 598px;
  margin-top: 19px;
  background-image: url('../images/foco-roofers.png');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-34 {
  min-height: 599px;
  margin-top: 19px;
  background-image: url('../images/foco-pic-2.png');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-35 {
  height: 587px;
  margin-top: 19px;
  background-image: url('../images/blog-page-1.png');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-36 {
  height: 587px;
  margin-top: 19px;
  background-image: url('../images/bod-pic2-.png');
  background-position: 0px -65px;
  background-size: cover;
}

.text-block-13 {
  text-align: center;
}

.text-block-14 {
  text-align: center;
}

.get-in-touch-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.status-message {
  padding: 9px 30px;
  background-color: #212121;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-success-message {
  background-color: hsla(156.8674698795181, 82.18%, 39.61%, 1.00);
}

.details-wrap {
  margin-bottom: 30px;
}

.text-field-2 {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field-2:hover {
  border-color: #e3e6eb;
}

.text-field-2:active {
  border-color: #43464d;
}

.text-field-2:focus {
  border-color: #43464d;
}

.text-field-2::-webkit-input-placeholder {
  color: rgba(50, 52, 57, .4);
}

.text-field-2:-ms-input-placeholder {
  color: rgba(50, 52, 57, .4);
}

.text-field-2::-ms-input-placeholder {
  color: rgba(50, 52, 57, .4);
}

.text-field-2::placeholder {
  color: rgba(50, 52, 57, .4);
}

.text-field-2.cc-contact-field {
  margin-bottom: 25px;
}

.text-field-2.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.contact-heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 400;
}

.contact-form-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 2.5fr 80px 1fr;
  grid-template-columns: 2.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-form-wrap {
  padding: 45px 50px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #ededed;
}

.contact-form-heading-wrap {
  margin-bottom: 40px;
}

.contact-email-link {
  margin-bottom: 5px;
  opacity: 0.6;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: 0.8;
}

.label-2 {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-2 {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-2:hover {
  background-color: #32343a;
  color: #fff;
}

.button-2:active {
  background-color: #43464d;
}

html.w-mod-js *[data-ix="page-loader"] {
  display: block;
}

html.w-mod-js *[data-ix="opacity-0-on-load"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="hero-section-slide-up"] {
  opacity: 0;
  -webkit-transform: translate(0px, 45px);
  -ms-transform: translate(0px, 45px);
  transform: translate(0px, 45px);
}

html.w-mod-js *[data-ix="on-load-delay-fade-in"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="hero-section"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="green-heading-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, -45px);
  -ms-transform: translate(0px, -45px);
  transform: translate(0px, -45px);
}

html.w-mod-js *[data-ix="white-heading-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, 45px);
  -ms-transform: translate(0px, 45px);
  transform: translate(0px, 45px);
}

html.w-mod-js *[data-ix="profile-row"] {
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="profile-holder-left"] {
  -webkit-transform: translate(250px, 0px) rotate(-5deg);
  -ms-transform: translate(250px, 0px) rotate(-5deg);
  transform: translate(250px, 0px) rotate(-5deg);
}

html.w-mod-js *[data-ix="profile-holder-right"] {
  -webkit-transform: translate(-250px, 0px) rotate(5deg);
  -ms-transform: translate(-250px, 0px) rotate(5deg);
  transform: translate(-250px, 0px) rotate(5deg);
}

html.w-mod-js *[data-ix="short-wide-image-scroll"] {
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

@media (max-width: 991px) {
  .nav-menu {
    z-index: 10000;
    margin-top: -8px;
    padding-bottom: 20px;
    background-color: hsla(0, 0%, 100%, .9);
  }
  .nav-link {
    display: block;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
  }
  .nav-link.button-link.fixed-button-link {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    float: none;
    text-align: center;
  }
  .wid-noco-contain.work-container {
    padding-right: 18px;
    padding-left: 18px;
  }
  .section.hero-section {
    margin-right: 20px;
    margin-left: 20px;
  }
  .section.footer-section {
    margin-top: 75px;
  }
  .hero-h1 {
    top: 31%;
    font-size: 100px;
    line-height: 102px;
  }
  .meet-section-backdrop {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(18%, hsla(0, 0%, 100%, .8)), color-stop(39%, hsla(0, 0%, 100%, 0))), url('../images/stars-mountains.jpg');
    background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .8) 18%, hsla(0, 0%, 100%, 0) 39%), url('../images/stars-mountains.jpg');
    background-position: 50% 100%, 50% 100%;
    background-size: cover, cover;
    background-attachment: scroll, fixed;
  }
  .section-heading.contact-heading {
    padding-left: 12px;
  }
  .medium-hero-h1 {
    display: inline;
    font-size: 72px;
    line-height: 80px;
  }
  .profile-holder._1 {
    width: 95%;
  }
  .profile-holder._2 {
    width: 95%;
  }
  .profile-holder._3 {
    width: 95%;
    margin-bottom: 75px;
  }
  .noco-work-item {
    height: 250px;
  }
  .label {
    margin-left: 20px;
  }
  .fixed-header {
    overflow: visible;
    margin-right: 10px;
    margin-left: 10px;
  }
  .slide {
    font-size: 20px;
  }
  .site-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }
  .menu-button {
    position: relative;
    left: 25px;
    margin-top: -18px;
    font-size: 32px;
  }
  .menu-button.w--open {
    background-color: #fff;
    color: #9a84e0;
  }
  .div-block-25 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 715px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .accrd-work-content {
    max-width: 300px;
  }
  .accrd-work-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .accrd-work-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 74px;
    padding-top: 0px;
    padding-bottom: 22px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }
  .our-services-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: ". ." ". ." ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }
  .service-icon {
    display: inline-block;
  }
  .foc-roof-item-2 {
    height: 250px;
  }
  .get-in-touch-form {
    text-align: left;
  }
  .contact-form-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .button-2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding-top: 25px;
    padding-bottom: 0px;
  }
  .section.hero-section {
    margin-top: 79px;
  }
  .section.testimonials-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-h1 {
    top: 30%;
    font-size: 75px;
    line-height: 70px;
  }
  .sub-h1 {
    line-height: 55px;
  }
  .white-text {
    font-size: 75px;
    line-height: 80px;
  }
  .white-text.highlight {
    font-size: 65px;
    line-height: 75px;
  }
  .green-text {
    font-size: 75px;
    line-height: 80px;
  }
  .green-text.highlight {
    font-size: 65px;
    line-height: 75px;
  }
  .profile-holder._1 {
    margin-bottom: 10px;
  }
  .profile-holder._2 {
    margin-bottom: 10px;
  }
  .profiles-row {
    overflow: hidden;
  }
  .noco-work-item.short.short-image-1 {
    width: 100%;
  }
  .work-link.featured-link {
    top: 57%;
  }
  .text-field {
    width: 96%;
    margin-bottom: 10px;
  }
  .text-field.text-area {
    margin-bottom: 10px;
  }
  .submit-button {
    width: 96%;
    margin-left: 10px;
  }
  .label {
    top: 43%;
  }
  .message-label {
    top: 43%;
    margin-left: 20px;
  }
  .fixed-header {
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .slide {
    font-size: 13px;
    font-weight: 600;
  }
  .testimonial-highlight {
    line-height: 22px;
  }
  .number-highlight {
    font-size: 60px;
    line-height: 60px;
  }
  .meet-heading {
    margin-bottom: 80px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .men-four {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section-2 {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section-2.cc-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }
  .container {
    text-align: center;
  }
  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }
  .intro-content {
    width: 80%;
  }
  .our-services-grid {
    grid-row-gap: 60px;
    grid-template-areas: "." "." "." "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .text-field-2.cc-contact-field {
    text-align: left;
  }
  .text-field-2.cc-textarea {
    text-align: left;
  }
  .contact-form-wrap {
    padding: 30px;
  }
}

@media (max-width: 479px) {
  .nav-link {
    padding-right: 7px;
    padding-left: 7px;
  }
  .section.hero-section {
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .hero-h1 {
    font-size: 29px;
    line-height: 34px;
  }
  .sub-h1 {
    font-size: 22px;
    line-height: 27px;
  }
  .white-text {
    margin-bottom: -24px;
    font-size: 45px;
    line-height: 45px;
  }
  .white-text.highlight {
    font-size: 35px;
    line-height: 45px;
  }
  .green-text {
    font-size: 41px;
    line-height: 45px;
  }
  .green-text.highlight {
    font-size: 35px;
    line-height: 45px;
  }
  .medium-hero-h1 {
    bottom: 38px;
  }
  .noco-work-item {
    height: 150px;
  }
  .work-link.featured-link {
    top: 62%;
  }
  .footer-link {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .loader-holder {
    width: 300px;
  }
  .site-wrapper {
    margin-right: 5px;
    margin-left: 5px;
  }
  .number-highlight {
    margin-bottom: -24px;
    padding-right: 15px;
  }
  .menu-button {
    left: 35px;
  }
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }
  .foc-roof-item-2 {
    height: 150px;
  }
  .contact-form-grid {
    width: 100%;
  }
}

#w-node-2dd6c12a7c21-214295b6 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-e8e3160cab68-214295b6 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-e0a4185d18a4-214295b6 {
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-eb6979218c70-214295b6 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-5a4456062da1-ca8a8ec9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-5a4456062da9-ca8a8ec9 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-5a4456062db1-ca8a8ec9 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-d42ac54db6bc-3583ad5a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-d42ac54db6d4-3583ad5a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-d42ac54db6d4-3583ad5a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

