/*color_styles_About_Blog_Feedback_Contact*/


body { background-color:#143172;
	margin: 10px auto;
       color:#FFFFFF	;
       font-family:Georgia, “Times New Roman”, sans-serif;

}
/*--Top bar-------------------*/
.callus{ font-family: helvetica, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	font-weight: normal; 
	color: #47515B !important; }
	a, a:visited{ color: #47515B; }
	a:hover, a:focus{ color: #BAB293; }
	#infobar{ position: fixed; 
	}

#header{
	background-color:;
	background-position:;
	height:120px;
	color:;
	text-align:center;
	padding: 0 20px;
	border-bottom: 2px solid #000000;}
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#sidebar{
	float:left;
	width:200px;
}

img.{
	
	
}
/*PodcastStyleing-------------------------*/
.contain-center{
	position:relative;
	width:150px; 
	top:298px;
	}

#content-center{
	position:absolute;
	width:80px;
	left:556px;
	}

audio controls{
	background-color:#006600;
	
}




#center{
	margin: 0 210px 0 160px; 
	padding: 1px 10px 20px 10px; 	
	background-color:#EAEAEA;
	color: #006600; 
	}


	}



h3{
	font-family:Areial,”Times New Roman”;
	font-style:italic;
	text-align: left; 
	padding: 10px 20px 20px 20px;
	fontsize: 6px; 
}



#footer { 
	position:relative
       background-color:#EEC900;
	color: #EEC900;
	padding-top: 50px;
       font-size: .75em;
 	font-style: italic;
	text-align:center; 
}