<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href=" https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css">
    <style type="text/css"> body { padding-top: 180px}</style>
</head>
<body>
<!--download for Vue js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>

<div id="root" class="container">

    <!--when an instance of coupon appears, you are signalling that to vue by using the applied and then  method-->
    <coupon v-on:applied="onCouponApplied"></coupon>

    <h1 v-if="couponApplied"> Your Coupon Got you A life time of Jeans!!!</h1>

</div>

<script src="custom-events.js"></script>

</body>
</html>