<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>

<div id="root">
    <input id="input" type="text" v-model="message">

    <p> The Value of This Bullshit is: {{ message }}.</p>
</div>

<script>

    new Vue({
        el:"#root",
        data: {
            message: 'What the Fuck Bill'
        }
            })

</script>

</body>
</html>