@charset "utf-8";
/* CSS Main page default */
@import "max.css";


/* universial elements */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	background-color: #FFF;
}

#tophead{
	margin: 0;
	padding: 0;
	background: #777777;
}

h1 {
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	color:#003300;
	text-align: center;
}

h2 {
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
	color:#003300;
}

#greenstripe {
	background-color:#1e4d2b; 
	width:100%;
}

#logocontainer {
	max-width: 1140px; 
	margin: 0 auto;
	height:86px;
}

#csulogo {
	display: inline-block;
	width:350px;
	height:45px;
	vertical-align:middle;
	padding-right:20px;
	border-right: 2px solid white;
	background:transparent url(../images/signature-oneline.png) no-repeat;
	min-height:45px;
}

.NotToShow {
    display: none;
}

#collegelogo {
	display: inline-block;
	vertical-align:middle;
	padding-left:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:18px;
	letter-spacing: 2px;
}

.rwd-line {
    display: inline;
}

#collegelogo a {
	color:#FFF;
	text-decoration:none;
}


#greenstripe2 {
	background-color:#286739; 
	width:100%;
}

#deptcontainer {
	max-width: 1140px; 
	margin: 0 auto;
	height:50px;
	vertical-align:middle;
}

#deptlogo {
	display: inline-block;
	vertical-align:middle;
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
}

#deptlogo a {
	color: rgba(255, 255, 255, 0.9);
	text-decoration:none;
}

#textarea {
	max-width: 1140px; 
	margin: 0 auto;
	color: #777777;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}

#textarea a {
	color: #003300;
}

#textarea b,strong {
	color: #cc6600;
}

#textarea a:hover {
    color: #cc6600;
} 
/* End of Main page default */


/* In_Progress page database */

.tableSection{
	padding:40px;
	max-width: 100%;
	
}

.header{
	margin: 0 0 40px 0;
	width: 100%;
	text-align: center;
	font-style: initial;
	color: rgb(230, 198, 198);
}
.form-control {
	margin: 0.5rem 0;
	position: relative;
}



.tableContainer{
	padding: 40px;
	max-width: 100%;	
	overflow: auto;
	background: #666;
	border:2px solid black;
	font-style: normal;
	color:white;
	box-shadow: 0 1px 3px rgba(47, 109, 179, 0.2);
	display: table;
}


#datatable{
	align-content: center;
	overflow-y: auto;
	table-layout: auto;

}
.row-headers{
	width: 100%;
	text-align: center;
	font-style: initial;
	background-color: rgb(238, 231, 231);
	color:black;
}





/********** Search Bar **********/
input[type="search"] {
	border-width: 2px;
	display: inline-block;
	padding-left: 2.5em;
	transition: width 0.4s ease-in-out 0s;
	width: 150px;
  }
  
  input[type="search"]:focus {
	width: 60%;
  }
  
  label[for="search"] {
	bottom: 6px;
	color: #999;
	left: 1em;
	position: absolute;
	z-index: 1;
  }
  
  [contenteditable]:hover {
	background-color: #f8f8f8;
	cursor: cell;
  }
  
  [contenteditable]:focus {
	background-color: #f8f8f8;
  }
  
/* end of search bar */


/* *******Sort Buttons****** */
.buttonContainer{
	width: 350px;
	margin: 50px auto;
	text-align: center;
	font-style: initial;
	color: rgb(230, 198, 198);
 
}

ul {
	list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#buttonTitle{
	width:auto;
	margin:5px;
	text-align: center;
	font-style: initial;
	background-color: rgb(232, 236, 230);
	color:black;
}



/* *******Mixins and Variables******** */

/* *****Classes******* */



/* end of sort buttons */


/* End of In_Progress Page */


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto; left:0px; right:0px;
  border-bottom: 1px solid #F0F0F0;
}

#cssmenu {
  	max-width: 1140px;
	margin: 0 auto;
	background-color:#FFF;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {

	display:block;
	border-right:1px solid #1e4d2b;
	background:#333333 ;
	color:rgb(221, 227, 233);
	text-decoration:none;
	padding:0 10px;
	float:left;
	 padding-left:0;
		  position:relative;
		  line-height: 4.5em;
		  width: 10em;
		  text-align: center;
	
   padding: 40;		
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  color: rgb(107, 99, 99);
  -webkit-transition: all ease .10s; 	
  -o-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s; 
}

#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
  content: "";
  display: list;
}
#cssmenu:after,
#cssmenu > ul:after {
  clear: both;
}

 #cssmenu ul {

	 				/*Need to figure out styling situation with this menu 8/21/18*/
}

#cssmenu ul > li {
  float: left;
  list-style: none;
}
#cssmenu ul > li > a {
	display: block;
	position: relative;
	color: #666;
	text-align: center;
	padding: 14px 40px 14px 2px;
	text-decoration: none;
}
#cssmenu ul > li > a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #003300;
    transition: width .3s;
}

#cssmenu ul > li > a:hover::after {
    width: 100%;
    transition: width .10s;
}
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
} 
/*drop down styling*/
#cssmenu > ul > li:hover > ul {
	background-color:#333333;
	border-top-style: solid;
	border-top-color: #c8c372;
	border-top-width: 2px; 
  	opacity: 1;
  	visibility: visible;
  	position: absolute;
}
#cssmenu > ul > li > ul {
  width: 270px;
  position: absolute;
}
#cssmenu > ul > li > ul > li {
  float: none;
  position: relative;
  padding: 5px 2px 5px 20px;
}
#cssmenu > ul > li > ul > li span{
  float: left;
}
#cssmenu > ul > li > ul > li a {
	font-weight: normal;
	color:#CCC;
}
#cssmenu > ul > li > ul > li a:hover {
	font-weight: bold;
	color:#FFF;
} 


/* practice items  */

.grid-container{
	/* fr is a fraction unit for grid layouts,  */
	display: grid;
    grid-template-columns: 3fr 1fr 2fr; 
    grid-template-rows: 300px 175px;
    grid-gap: 10px;

}
.grid-item {
	border:1px solid #2222; 

}