.sec-header {
  display: block;
  min-height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 134px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.nav-link {
  margin-right: 0px;
  margin-left: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.div-block {
  display: block;
  min-height: 159px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Great Vibes', cursive;
  color: #5e427f;
  font-size: 72px;
  text-decoration: underline;
}

.heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  max-width: 536px;
  margin-left: 617px;
  font-family: 'Droid Serif', serif;
  color: #4c639a;
  font-size: 34px;
  text-align: center;
  text-decoration: underline;
}

.nav-link-2 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.nav-link-3 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
}

.section-banner {
  min-height: 500px;
  margin-right: 0px;
  margin-left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .59)), to(rgba(0, 0, 0, .59))), url('../images/index-banner.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .59), rgba(0, 0, 0, .59)), url('../images/index-banner.jpeg');
  background-position: 0px 0px, 50% -186px;
  background-size: auto, cover;
}

.brand {
  background-image: url('../images/ying-yang.jpg');
  background-position: 1px -5px;
  background-size: cover;
}

.sect-services-index {
  min-height: 500px;
  margin-right: 0px;
  margin-left: 0px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  margin-bottom: 46px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #4c639a;
  font-size: 45px;
  text-decoration: underline;
}

.paragraph {
  margin-top: 14px;
}

.heading-5 {
  margin-bottom: 20px;
}

.body {
  margin-right: 16px;
  margin-left: 16px;
}

.sec-featured-content {
  min-height: 1747px;
  background-color: hsla(0, 0%, 54%, .67);
  color: #423f3f;
}

.image {
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, .65);
  box-shadow: 0 0 7px 0 #4c4444;
}

.heading-6 {
  font-family: Bitter, serif;
  text-align: center;
}

.div-featured {
  position: relative;
  top: 67px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 130px;
  margin-right: 40px;
  margin-bottom: 0px;
  margin-left: 40px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0px 0px 5px;
  border-color: #fff;
}

.heading-7 {
  font-family: Merriweather, serif;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  text-shadow: 0 2px 0 #695e5e;
}

.div-about-content {
  position: relative;
  top: 66px;
  display: block;
  min-height: 500px;
}

.columns-2 {
  min-height: 500px;
  padding-top: 12px;
}

.column-5 {
  min-height: 500px;
  margin-top: 19px;
}

.column-6 {
  min-height: 500px;
  margin-top: 19px;
}

.div-bio-pic-content {
  min-height: 250px;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  max-width: 250px;
  background-color: hsla(0, 0%, 100%, .35);
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-3 {
  max-width: 250px;
  background-color: hsla(0, 0%, 100%, .39);
  color: #423f3f;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 62px;
  min-width: 250px;
  margin-top: 39px;
  margin-bottom: 1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #7a7474;
  box-shadow: 0 0 9px 0 #1c1919;
  font-size: 18px;
}

.div-block-2 {
  position: relative;
  top: 225px;
  min-height: 121px;
}

.heading-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Great Vibes', cursive;
  color: #fff;
  font-size: 59px;
  text-shadow: 0 1px 0 #000;
}

.div-block-3 {
  position: relative;
  top: 214px;
  min-height: 372px;
}

.image-2 {
  box-shadow: 0 0 9px 0 #fff;
}

.image-3 {
  box-shadow: 0 0 10px 0 #fff;
}

.container-4 {
  min-height: 372px;
}

.image-4 {
  margin-left: 0px;
}

.section-headling-stuff {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 556px;
  padding-top: 24px;
  padding-bottom: 22px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-4 {
  display: block;
  min-height: 553px;
  min-width: 1400px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-7 {
  min-height: 553px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .38)), to(rgba(0, 0, 0, .38))), url('../images/medical-massage1.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .38), rgba(0, 0, 0, .38)), url('../images/medical-massage1.jpg');
  background-position: 0px 0px, -237px 50%;
  background-size: auto, cover;
}

.column-8 {
  min-height: 553px;
}

.column-9 {
  min-height: 553px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .36)), to(rgba(0, 0, 0, .36))), url('../images/massage-therapy2.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .36), rgba(0, 0, 0, .36)), url('../images/massage-therapy2.jpeg');
  background-position: 0px 0px, -127px 0px;
  background-size: auto, cover;
}

.heading-9 {
  margin-top: 96px;
  text-align: center;
}

.text-block {
  margin-top: 80px;
  font-size: 26px;
  line-height: 31px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer.accent {
  height: 340.2578125px;
  min-height: 0px;
  background-color: #a39999;
  font-size: 15px;
}

.image-5 {
  background-color: #fff;
}

.heading-10 {
  color: #fff;
}

.column-10 {
  color: #fff;
}

.text-block-2 {
  position: relative;
  bottom: 7px;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  color: #3b99d9;
}

.social-icon-link {
  padding: 3px;
  opacity: 1;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.social-icon-link:hover {
  opacity: 0.5;
}

.link-2 {
  color: #fff;
  font-size: 19px;
}

.footer-brand-text {
  font-size: 26px;
  line-height: 33px;
}

.div-footer-container {
  min-height: 250px;
}

.columns-3 {
  position: relative;
  top: 50px;
  bottom: 0px;
  min-height: 100px;
}

.column-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 102px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 102px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.heading-11 {
  max-width: 800px;
  margin-left: 50px;
  border-bottom: 3px solid #fff;
  font-family: 'Droid Serif', serif;
  color: #fff;
}

.image-6 {
  border: 2px solid #000;
  box-shadow: 0 0 14px 0 #353030;
}

.heading-12 {
  margin-right: 17px;
  margin-left: 0px;
  padding-right: 82px;
  padding-left: 0px;
  font-family: 'PT Serif', serif;
  color: #fff;
}

.heading-13 {
  font-family: 'PT Serif', serif;
  color: #fff;
}

.image-7 {
  padding-right: 1px;
}

@media (max-width: 991px) {
  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .heading-3 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 654px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}