/*color1_index_style_sheet*/



body { background-color:#143172;
	margin: 10px auto;
       color:#FFFFFF;
       font-family:Georgia, “Times New Roman”, sans-serif;

}
.callus{ font-family: helvetica, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	font-weight: normal; 
	color: #47515B !important; }
	a, a:visited{ color: #47515B; }
	a:hover, a:focus{ color: #BAB293; }
	#infobar{ position: fixed; 
	}

#header{ background-color: #8A98B9;
        color: #00005D; 
        font-size: 150%; 
	 width: "700";	 
        padding: 10px 10px 10px 110px; 
	background-repeat: no-repeat;
	
}


.topnav {
    background-color: #333;
    overflow: hidden;
    top:150px; 
 

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}








#content {  background-color: #ffffff;
           color: #000000;
		   padding: 10px 20px 10px 10px;
	       overflow: auto; 
		font-family:Arial,”Times New Roman”;
		font-style:italic;
		text-align: left; 
		 
		} 
.w3-spin
{   animation:w3-spin 2s infinite linear
}
    @keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
 .w3-animate-fading
{    
animation:fading 10s infinite;

}
       @keyframes fading{
           0%{opacity:0}
           50%{opacity:1}
          100%{opacity:0}}

.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}




#footer {font-size:70%;
         text-align: center;
         padding: 10px;
		 background-color: #869dc7;
		 clear: both;
}




h1 {margin-bottom: 20px; 
    font-family:Athenian Normal, "Times New Roman", serif;
}




#floatright { margin: 10px;
             float: right; }

 #nav ul { list-style-type: none; 
                 margin: 0;
		  padding: 0;
}










