/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2017, 9:05:02 PM
    Author     : sam
*/

@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { background-color:#143172;
	vertical-align: baseline;
       color:#FFFFFF;
       font-family:Georgia, “Times New Roman”, sans-serif;
	margin:10px; 
	margin-left:auto; 
	margin-right:auto; 
	width:1050px;

}


/*Top Bar---------------------------------------- */

.callus{ font-family: helvetica, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	font-weight: normal; 
	color: #47515B !important; }
	a, a:visited{ color: #47515B; }
	a:hover, a:focus{ color: #BAB293; }
	#infobar{ position: fixed; 
	}

.header{ display: block;
	background-color: #8A98B9;
        color: #00005D; 
        font-size: 150%; 
	 width: "700";
        padding: 10px 10px 10px 110px; 
	background-repeat: no-repeat;	
}

/*Nav Bar---------------------------------*/
.topnav {
    background-color: #333333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*Container---------------*/

.container-contact{
        position:relative;
        left:30px;
     
}
.one_half{
    position:static;
    width:275px;
    top:456px;
    
    
}

.one_fourth{
    position: absolute;
    width: 270px;
    top: 18px;
    left:545px;
       
}

/*form Container--------------------------*/

.two_third
{
    position: relative;
    width:1000px;
    left:500px;
    
}

th{font-weight:normal; 
   text-align:right; 
   vertical-align:top;
	
}

/*Map Container------------------------------------*/
.container-map{
    position: left;
    width:400px;
    right:500px;
}
#map {
    width: 400px;
    height: 400px;
    margin: 50px;
  }
  #viewmap {
    position:left;
    width:944px;
    float:left;
    display:none;
}

#map_canvas {
    position:left;
    float:left;
    width:944px;
    height:300px;
}

