/* Sign in page */
.errorDiv{
	width: 500px;
	text-align: center;
	margin: 10px 0 30px 10px;
	background: #ffa8b1;
	border: 1px solid #ff384c;
	border-radius: 10px;
	padding: 10px 30px 10px 30px;
}
.errorDiv p{
	padding: 0;
	margin: 0;
}
.loginDiv{
	border: 1px solid #aaa;
	margin-left: 10px;
	display: inline-block;
	background: #efefef;
}
.loginDiv #loginHeaderRow{
	text-align: center;
}
.loginDiv #loginHeaderRow .formCol{
	width: 100%;
	text-align: center;
	padding: 7px 0 7px 0;
	background: #0a443a;
	color: #fff;
	font-size: 1.1em;
}
.loginDiv .creds{
	width: 180px;
}
.loginDiv .loginSubmitRow{
	text-align: center;
}
.loginDiv .loginSubmitRow .formCol{
	text-align: center;
}
.loginDiv .loginSubmitRow input{
	padding: 2px 70px 2px 70px;
	margin: 10px 0 10px 0;
}

.logoutBtn{
	color: #fff !important;
	float: right;
}
.logoutBtn:hover{
	color: #17a2b8 !important;
}


/* Selection page CSS */
.optionContainer{
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
	width: 380px;
	border: 1px solid #ccc;
	cursor: pointer;
	border-radius: 10px;
}
.optionContainer p{
	font-size: 0.9em;
	color: #111;
}
.optionBanner{
	display: inline-block;
	width: 80%;
	text-decoration: none;
	background: #0a443a;
	font-size: 1.2em;
	color: #fff;
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.optionContainer:hover{
	background: #efefef;
	border-color: #aaa;
	box-shadow: 1px 1px 5px #ccc;
}
.optionContainer:hover span{
	color: #eee;
}


/* Main app page CSS */
#appForm{

}
#appForm label{
	margin: 0;
}
#appForm .formCol:first-child,
.mockFirstCol{
	padding-right: 10px;
}
#appForm textarea{
	min-height: 120px;
}
#appForm fieldset{
	padding: 10px 35px 0 0;
	border: 1px solid rgb(206, 212, 218);
	border-radius: 3px;
}
#appForm legend{
	margin-left: 10px;
	font-style: italic;
	color: #444;
	padding: 0 10px 0 10px;
}
.formRowGroup{
	padding: 30px 0 30px 0;
	border-bottom: 1px solid #ededed;
}
	.formRowGroup:first-child{
		padding-top: 0;
	}
	.lastFormRowGroup{
		padding-bottom: 20px;
		border-bottom: 0;
	}
.formColCheckbox{
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
}

#actionButtonDiv{
	margin: 40px auto 20px;
	text-align: center;
}
#actionButtonDiv button{
	margin: 0 30px 0 30px;
}
fieldset .formRow{
	margin-bottom: 0;
}
fieldset .formRow label{
	margin-bottom: 0;
}




/* Admin CSS */
#mainH1{
	margin-left: 0;
	padding-left: 0;
}
#leftSide{
	width: 175px;
	border-right: 1px solid #0a443a;
	float: left;
}
#leftMenu{
	list-style-position: outside;
	padding-left: 0px;
	margin-left: 0px;
}
#leftMenu li{
	margin-bottom: 5px;
	list-style-type: none;
	overflow: hidden;
}
#leftMenu a{
	display: inline-block;
	padding: 4px 0px 4px 10px;
	padding-right: 0px;
	width: 100%;
	background: #ddd;
	text-decoration: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
	#leftMenu a:hover{
		background: #ccc;
	}
	#leftMenu a.current{
		background: #1e4d2b;
		color: #fff;
	}
.menuSection{
	margin-bottom: 20px;
	margin-left: 0px;
	padding-left: 0px;
}
.headerLI{
	color: #777;
	font-style: italic;
	cursor: default;
}

#rightSide{
	float: left;
}

.rowCountDiv{
	float: right;
	display: inline-block;
	color: #444;
	margin: 5px 0 5px 0;
	font-size: .9em;
}
.liveRowCount{
	font-weight: bold;
	font-size: 1.3em;
	color: #222;
}

#mainTable,
.tableStyles{
	margin: 0 0 0 10px;
	padding: 0;
	width: 980px;
	border: 1px solid #777;
}
#mainTable th,
.tableStyles th{
	/*background: #0a443a;*/
	color: #fff;
	font-size: .9em;
	font-weight: normal;
	padding: 5px 0 5px 5px;
}
#mainTable td,
.tableStyles td{
	padding: 5px 0 5px 5px;
	font-size: .9em;
}
#mainTable .tablesorter-filter-row td,
.tableStyles .tablesorter-filter-row td{
	padding: 0;
	margin: 0;
}
#mainTable .tablesorter-filter-row td input,
.tableStyles .tablesorter-filter-row td input{
	padding: 3px;
	margin: 3px 0 3px 0;
}

#adminActionDiv{
	display: inline-block;
	float: right;
	margin: 8px 0 0 0;
	padding: 0;
}
.adminActionButton{
	padding: 2px 5px 2px 5px;
	margin: 0;
	font-size: .8em;
}


#adminView{
	margin: 0 0 40px 10px;
	border: 1px solid #aaa;
	padding: 10px;
	background: #fbfbfb;
}
#adminView{

}
#adminView #appForm textarea{
	min-height: 180px;
}
#adminView #appForm fieldset{
}
#adminView #appForm fieldset textarea{
	min-height: 130px;
}
#adminView #appForm input,
#adminView #appForm textarea{
	color: #000;
	background: #efefef;
	padding: 2px;
	border: 1px solid #777;
	cursor: default;
}
#adminView #appForm #reference .formCol:first-child{
	width: 80px !important;
}
#adminView #appForm #reference .mockFirstCol{
	margin-left: 10px !important;
}

#notesArea{
	width: 810px;
	margin: 20px auto 20px auto;
}
#notesArea h4{
	padding-left: 0;
}
.noteBox{
	border: 1px solid #555;
	border-radius: 5px;
	overflow: hidden;
}
.notes{
	display: inline-block;
	border: none;
	margin: 0 auto;
	padding: 5px;
	min-width: 810px;
	max-width: 810px;
	min-height: 100px;
	font-size: .9em;
}
#admin_notes{
	display: block;
}
#save_admin_notes{
	margin: 0 auto;
	cursor: pointer;
	background: #1b7cff;
	text-align: center;
	color: #fff;
	padding: 4px 0 4px 0;
	width: 100%;
	border-top: 1px solid #4e99ff;
}
	#save_admin_notes:hover{
		background: #3089ff;
	}

#decisionsDiv{
	margin-top: 60px;
	text-align: center;
	vertical-align: top;
}
	.decisionDiv{
		display: inline-block;
		width: 170px;
		margin: 0 10px 0 10px;
		border-radius: 5px;
		vertical-align: top;
		padding: 1px;
	}
		#decisionDivDecline{
			background: #ffa3a3;
		}
		#decisionDivHold{
			background: #fff477;
		}
		#decisionDivAccept{
			background: #87ff7e;
		}
		.decisionExtra{
			display: none;
			border-left: 1px solid rgba(0, 0, 0, 0.3);
			border-right: 1px solid rgba(0, 0, 0, 0.3);
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);
			border-radius: 0 0 5px 5px;
		}
		.deFirst{
			margin-top: -3px;
			border-left: 1px solid rgba(0, 0, 0, 0.3);
			border-right: 1px solid rgba(0, 0, 0, 0.3);
			border-bottom: none;
			border-radius: 0 0 0 0;
		}
			.deFirst select{
				display: inline-block;
				margin-top: 6px;
				opacity: .95;
				min-width: 90%;
			}

		.decisionButton{
			padding: 10px 0 10px 0;
			cursor: pointer;
			color: #fff;
			border-radius: 5px;
			font-size: 1.1em;
		}
			#dbDecline{
				background: #a50000;
			}
			#dbWaitlist{
				background: #e86d00;
			}
			#dbHold{
				background: #c4a100;
			}
			#dbAccept{
				background: #008a0a;
			}
			.dbCurrent{
				opacity: 0.5;
			}

		.noSubmit{
			opacity: .5;
			cursor: default;
		}

	.decisionCluster{
		padding-top: 5px;
	}
	.decisionGo{
		font-size: .8em;
		padding: 10px 0 5px 0;
	}
	.decisionEmail{
		font-size: .8em;
		padding: 8px 0 0 0;
	}



.quickInfo{
	margin-top: 0; 
	padding-top: 0; 
	border: 1px solid #aaa;
	font-size: .9em;
}
.quickInfo thead th{
	background: #1e4d2b;
	color: #fff;
	text-align: center;
	padding: 5px;
	font-size: 1.05em;
}
.quickInfo th{
	background: #eee;
	text-align: right;
	cursor: default;
}
.quickInfo td{
}
.quickInfo th,
.quickInfo td{
	border: 1px solid #ccc;
	padding: 4px;
}

.appHeader{
	padding: 5px 0 15px 0;
	margin: 0px 0 30px 0;
	font-size: 1.15em;
	cursor: default;
	border-bottom: 1px solid #aaa;
}

.msgFs{
	margin: 0 0 0 10px;
	padding: 0;
	border: 1px solid #aaa;
}
.msgFs input{
	padding: 3px;
	font-size: .9em;
}
.msgFs legend{
	margin-left: 10px;
}
.msgOptionsDiv{
	margin: auto;
	text-align: center;
}
.sendTest{
	margin-right: 10px;
}
.saveMsg{
	margin-left: 10px;
}
.adminMessages{
	margin: 0 10px 10px 10px;
	padding: 3px;
	min-width: 980px;
	max-width: 980px;
	min-height: 150px;
	font-size: .9em;
}

.adminSaveOptionsBtn{
	display: inline-block;
	margin: 20px 0 0 325px;
	cursor: pointer;
	background: #1b7cff;
	text-align: center;
	color: #fff;
	padding: 10px 60px 10px 60px;
	border: 1px solid #4e99ff;
	border-radius: 5px;
}
	.adminSaveOptionsBtn:hover{
		background: #3089ff;
	}

.firstOption{}
.dateInput{
	font-size: .9em;
}
/* For Edge */
label{
	cursor: default;
}

/* Progress Stepper */
.stepwizard-step p{
    margin-top: 10px;
    min-width: 170px;
}
.stepwizard-row{
    display: table-row;
}
.stepwizard{
    display: table;     
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled]{
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before{
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step{    
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle{
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 2px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
	cursor: default;
}

.phoneInputs input{
	text-align: center;
}
.phone3{
	width: 54px !important;
}
.phone4{
	width: 72px !important;
}
.optNote{
	padding-left: 5px;
	font-style: italic;
	font-size: .9em;
	color: #666;
}

.dataOptBtns{
	padding: 3px 30px 3px 30px;
}
.dataOptBtns:hover,
.dataOptBtns:hover span{
	color: #005cbf !important;
}
.dataOptBtns i.hWhite{
	color: #005cbf;
}
	.dataOptBtns:hover i.hWhite{
		color: #fff;
	}
.dataOptBtns i.hBlue{
	color: #fff;
}
	.dataOptBtns:hover i.hBlue{
		color: #005cbf;
	}

.dataOptBtns i{
	padding-right: 5px;
}
#syncOds:hover{
	background: none;
}

.adminWarning{
	margin: 10px 0 10px 10px;
	width: 810px;
	display: inline-block;
	background: #ffb3b3;
	border: 1px solid #b90000;
	border-radius: 5px;
	text-align: center;
}
.adminWarning p{
	margin: 0;
	padding: 15px 0 15px 0;
}

#resultList a{
	text-decoration: underline;
}

.adminLogoutBtn{
	float: right;
}
.adminLogoutBtn:hover{
	background: #ddd !important;
}


.loadMore{
	background: #bfbfbf !important;
	color: #111 !important;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
}
.loadMore:hover{
	background: #aaa !important;
}
.filter-row td{
	background: #eee !important;
}

#returnBtn{
	margin: 10px !important;
	color: #fff !important;
}
#returnBtn:hover{
	color: #007bff !important;
}

.queryBuilder fieldset{
	width: 100%;
	min-height: 75px;
	margin: 5px;
	border: 1px solid #bbb;
	border-radius: 3px;
}
.queryBuilder legend{
	font-size: 1em;
	width: auto;
	margin-bottom: 0;
	padding: 0 3px 0 3px;
	cursor: default;
}
.queryBuilder label{
	font-size: .9em;
	display: block;
	margin-top: 5px;
}
.queryBuilder .multiSelect{
	width: 100%;
	height: 150px;
}
.vChecklist input[type="checkbox"]{
	margin-right: 5px;
}
.queryBuilder .clearMulti{
	margin-left: 5px;
	cursor: pointer;
	font-size: .8em;
}
.admIndex_input{
	width: 50px;
	margin-right: 10px;
}



.statListGroup{
	width: 150px;
}




/* Styles needed after converting to new theme on apps */
#mainBody{
	margin: 10px auto 0 auto;
	width: 984px;
}
#adminMainBody{
	margin: 0 auto;
	width: 1200px;
}
.logoutBtn:hover{
	color: #fff !important;
}
#leftSide, #rightSide{
	margin-top: 10px;
}
#leftSide{
	margin-right: 10px;
}
#leftMenu{
	font-size: 0.9em;
}
#leftMenu a{
	color: #1e4d2b;
}
#leftMenu svg{
	display: inline-block;
	margin-left: 5px;
}
.adminLogoutBtn{
	margin-top: 10px;
}
	.adminLogoutBtn:hover{
		color: #000;
	}
#rightSide h2{
	font-size: 1.8em;
}
#rightSide h3{
	font-size: 1.6em;
}
#mainTable{
	margin-left: 0;
	width: 1000px;
}
tr.tablesorter-headerRow th{
	background: #1e4d2b !important;
}
#mainTable a{
	color: #1e4d2b;
}
#mainTable svg{
	font-size: 1em;
}
.queryBuilder fieldset{
	padding: 5px;
}
.dataOptBtns:hover{
	background: #fff;
}
.tablesorter-filter-row select,
.tablesorter-filter-row input{
	height: 2em;
}
#phone2{
	margin-left: 5px;
	margin-right: 5px;
}