<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--download for Vue js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>


<div id="root">
   <ul>
       <!--v-for is how to print a for statement, v indicating view. -->
       <li v-for="name in names">{{name}}</li>
   </ul>
    <input id="input" type="text">
    <button id="button">Add Name</button>
</div>

<script>
    <!--instants of vue containing element and data -->
     var app =new Vue({
         el: "#root",
         data: {
             names: ["Bill", "Beth", "James", "Fuckstick"]
         },

             //    instances that creates the name selector, once the page has be loaded
             mounted() {
                 document.querySelector("#button").addEventListener('click', () => {
                     let name = document.querySelector('#input');

                     app.names.push(name.value);

                     name.value = "";
                 });


         }

     });







</script>

</body>
</html>