<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--download for Vue js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>


<div id="root">
    <ul>
        <!--v-for is how to print a for statement, v indicating view. -->
        <li v-for="name in names">{{name}}</li>
    </ul>
    <input id="input" type="text" v-model="newName">
        <!--v-on is directive of view, replacing queryselector, v-on can be replaced by @ symbole-->
    <button v-on:click ="addName">Add Name</button>

</div>

<script>
    <!--instants of vue containing element and data -->
    var app =new Vue({
        el: "#root",
        data: {
            newName:'',
            names: ["Bill", "Beth", "James", "Tommy"]
        },
            //method object
            methods:{
                addName() {
                  this.names.push(this.newName);

                  this.newName="";
                }
            }

    });







</script>

</body>
</html>