  body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}
p {
  padding: 10px;
}
#wrapper {
    margin: 0 auto;
    width: 1000px;
}
#header {
    float: left;
    height: 250px;
    width: 1000px;
    text-align:center;
}
#textnav {
    float: left;
    height: 40px;
    width: 1000px;
    text-align:center;
}
#section {
    background-color:#FFF0FF;
    width: 780px;
    float:left;
}
#btnnav {
    width: 220px;
    float: left;
}
#footer {
    height: 140px;
    width: 1000px;
    background-color:black;
    color:white;
    text-align:center;
    padding:5px; 
    clear:both;
}