<template>

  <div class="box is-info">
    <p>
      <slot></slot>
    </p>
  </div>
</template>

<script>

export default {
  // name: 'Message'
}
</script>

<style scoped>

  .box { font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;}

</style>
