.section {
  min-height: 1500px;
  margin-right: 126px;
  margin-left: 126px;
}

.nav-link-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 64px;
  min-width: 111px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

.navbar {
  top: 36px;
  display: block;
  margin-top: 13px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  background-color: transparent;
}

.container {
  display: block;
  max-width: 1339px;
  background-color: transparent;
}

.nav-bar-wrapper {
  display: block;
  min-height: 283px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-link-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

.div-block-2 {
  max-width: 100px;
}

.nav-link-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 18px;
}

.image-6 {
  max-height: 64px;
}

.article-contentwrapper {
  min-height: 1500px;
  margin-right: 200px;
  margin-left: 200px;
  background-color: #213e6a;
}

.content-item-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 406px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-3 {
  position: relative;
  top: 49px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 2034px;
  min-height: 341px;
  margin-top: 0px;
  margin-left: 69px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
}

.heading {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
}

.acticle-content-item {
  display: -ms-grid;
  display: grid;
  min-height: 2000px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto;
}

.paragraph {
  max-width: 400px;
  margin-left: 40px;
  color: #fff;
  font-size: 38px;
  line-height: 41px;
}

.paragraph-2 {
  color: #fff;
  font-size: 24px;
}

.picture--content {
  display: -ms-grid;
  display: grid;
  min-height: 1282px;
  margin-right: 40px;
  margin-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto 16px auto 16px auto;
  grid-template-rows: auto auto auto auto auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 53, 111, .58)), to(rgba(49, 53, 111, .58))), url('../images/medical-massage.jpg');
  background-image: linear-gradient(180deg, rgba(49, 53, 111, .58), rgba(49, 53, 111, .58)), url('../images/medical-massage.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.heading-2 {
  margin-right: 50px;
  margin-bottom: 180px;
  margin-left: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  text-align: left;
}

.div-block-4 {
  display: -ms-grid;
  display: grid;
  min-height: 1037px;
  margin-right: 40px;
  margin-left: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . . ." ". . . . ." ". . . . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto;
  grid-template-rows: auto auto auto;
}

.heading-3 {
  margin-top: 52px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 55px;
}

.paragraph-3 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 27px;
  line-height: 44px;
}

.link {
  cursor: pointer;
}

.slide {
  background-image: url('../images/medical-massage.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-2 {
  min-height: 500px;
  background-image: url('../images/medical-massage.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/logo_books-of-discovery.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-4 {
  background-image: url('../images/medical-massage.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

.slide-5 {
  background-image: url('../images/logo_books-of-discovery.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

.slider {
  min-height: 500px;
}

.slider-2 {
  min-height: 487px;
}

.image-7 {
  box-shadow: 0 0 9px 0 #fff;
}

.heading-4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
}

.italic-text {
  position: relative;
  top: 56px;
  margin-top: 0px;
  margin-left: 54px;
  color: #fff;
}

.div-block-5 {
  display: -ms-grid;
  display: grid;
  min-height: 500px;
  margin-right: 29px;
  margin-left: 29px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . ." ". . ." ". . .";
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto 16px auto 16px auto;
  grid-template-rows: auto auto auto;
}

.div-block-6 {
  min-height: 500px;
  background-image: url('../images/body-pic.jpg');
  background-position: 0px 0px;
  background-size: 450px;
}

.slider-3 {
  min-height: 585px;
}

.slide-6 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .63)), to(rgba(0, 0, 0, .63))), url('../images/medical-massage.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .63), rgba(0, 0, 0, .63)), url('../images/medical-massage.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.link-2 {
  color: #fff;
}

.link-3 {
  color: #fff;
}

.link-4 {
  color: #fff;
}

.italic-text-2 {
  color: #fff;
  font-style: normal;
}

.italic-text-3 {
  color: #fff;
}

.link-5 {
  color: #fff;
}

.link-6 {
  color: #fff;
}

.link-7 {
  color: #fff;
}

.link-8 {
  color: #fff;
}

.link-9 {
  color: #fff;
}

.link-10 {
  color: #fff;
}

.link-11 {
  color: #fff;
}

.link-12 {
  color: #fff;
}

.link-13 {
  color: #fff;
}

.link-14 {
  color: #fff;
}

.link-15 {
  color: #fff;
}

.link-16 {
  color: #fff;
}

.link-17 {
  color: #fff;
}

.link-18 {
  color: #fff;
}

.image {
  margin-top: 54px;
}

.column-2 {
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-5 {
  margin-top: 58px;
}

.footer-item {
  position: relative;
  top: 38px;
  display: -ms-grid;
  display: grid;
  min-height: 387px;
  margin-top: 0px;
  margin-right: 19px;
  margin-left: 19px;
  padding-bottom: 31px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: ". . . ." ". . . .";
  -ms-grid-columns: 0.75fr 16px 0.75fr 16px 0.75fr 16px 0.75fr;
  grid-template-columns: 0.75fr 0.75fr 0.75fr 0.75fr;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px none #000;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.image-3 {
  margin-top: 15px;
  padding-top: 10px;
}

.footer-wrapper {
  min-height: 429px;
  margin-top: 129px;
  background-color: #213e6a;
}

.footer-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button-2 {
  display: block;
  margin-top: 41px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.button {
  background-color: #fff;
  color: #213e6a;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-19 {
  margin-top: 41px;
  border-style: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
}

.image-4 {
  margin-top: 58px;
  padding-top: 21px;
}

.columns {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#w-node-09f564038437-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 7;
  grid-column-end: 8;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 5;
  grid-row-end: 6;
}

#w-node-0d1e0bf35901-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 5;
  grid-row-end: 8;
}

#w-node-a75e12f39119-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 3;
  grid-row-end: 8;
}

#w-node-9535762f47bc-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-1c5fc0fce385-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-00688e930c2a-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-5bde684a54dc-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 3;
  grid-column-end: 6;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-930a1e531dbd-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 3;
  grid-row-end: 5;
}

#w-node-58196ce0a0c0-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 3;
  grid-column-end: 6;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-780a564bdf8f-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 3;
  grid-column-end: 6;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-780a564bdf90-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 3;
  grid-row-end: 5;
}

#w-node-780a564bdfa8-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 3;
  grid-column-end: 6;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-2d7466a32b19-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-bd046b96d55c-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 3;
  grid-column-end: 6;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-bd046b96d55d-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 3;
  grid-row-end: 5;
}

#w-node-bd046b96d56f-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 3;
  grid-column-end: 6;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-0d536d8b2239-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-3cc159710be6-fcdbeb2b {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

#w-node-3cc159710be8-fcdbeb2b {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-3cc159710bf2-fcdbeb2b {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-3cc159710bfc-fcdbeb2b {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}