<cfoutput><p style="margin-top: 40px; font-size: .9em;"><i class="far fa-question-circle fa-lg" aria-hidden="true"></i> Have a question? Email <a href="mailto:#application.helpEmail#" style="text-decoration: underline;">#application.helpContact#</a>.</p></cfoutput>