<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--download for Vue js-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>


<style>


</style>

<div id="root">
    <!--<h1>-->
    <!--&lt;!&ndash;standard method of reverseing array&ndash;&gt;-->
    <!--&lt;!&ndash;{{ message.split('').reverse().join('') }}&ndash;&gt;-->
    <!--{{ reversedMessage }}-->
    <!--</h1>-->

    <ul>
        <!--v-if directive is an if/else statment to check if true display-->
        <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
    </ul>

    <h1>Computed Properties</h1>
    <ul>

        <!--Need to add a check box to each tasks and move them dynamically from incomplete to completed-->
        <!--v-if directive is an if/else statment to check if true display-->
        <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul>




</div>

<script>

    var app = new Vue({
        //mounting point for root
        el: '#root',



        data:{
            tasks: [
                {description: 'Go to the Store', completed: true},
                {description: 'Finish screencast', completed: false},
                {description: 'Make donation ', completed: true},
                {description: 'Clear inbox', completed: false},
                {description: 'Clean Room', completed: false},
                {description: 'CLean Room', completed: false},

            ]

        },

        computed: {
            incompleteTasks(){
                return this.tasks.filter(task => ! task.completed)
            }

        }




    });
</script>

</body>
</html>