html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    position: relative;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}



.alignleft,
.floatleft {
    float: left;
    text-align: left
}

.alignright,
.floatright {
    float: right;
    text-align: right
}

.aligncenter {
    margin-right: auto;
    margin-left: auto;
    text-align: center
}

.align-right {
    text-align: right
}

.align-left {
    text-align: left
}

.align-center {
    text-align: center
}

.clearboth {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    width: 0;
    height: 0
}

.clearboth:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: ' ';
    font-size: 0;
    line-height: 0
}

* html .clearboth {
    height: 1%
}

.clearfix {
    display: block;
    clear: both
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

#theme-page select:not(.gfield_select),
.woocommerce select {
    background-color: #fdfdfd;
    border: 1px solid #e3e3e3;
    background: url(../../../images/selectbox-arrow.png) right center no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 12px 12px 16px;
    font-size: 12px;
    line-height: 14px;
    color: #252525;
    border-radius: 0!important;
    font-weight: 700;
    min-width: 240px;
    max-width: 100%;
    display: block
}

.visuallyhidden {
    position: absolute!important;
    overflow: hidden;
    clip: rect(0 0 0 0);
    left: -100000px;
    top: -100000px;
    margin: -1px;
    padding: 0;
    border: 0
}


.bold {
    font-weight: bold
}

.italic {
    font-style: italic
}

.uppercase {
    text-transform: uppercase
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

#mk-footer {
    z-index: 10
}

#mk-footer.mk-footer-unfold {
    z-index: 9
}

.mk-header-toolbar {
    z-index: 310
}

@media handheld,
only screen and (max-width:780px) {
    .mk-header-subscribe,
    .mk-login-register {
        z-index: 50
    }
}

.mk-classic-menu-wrapper {
    z-index: 99
}

.main-navigation-ul>li.menu-item ul.sub-menu:after {
    z-index: 10
}

.main-navigation-ul:not(.dropdownJavascript) li.menu-item:hover>ul.sub-menu {
    z-index: 10
}

.dropdownJavascript li.dropdownOpen>ul.sub-menu {
    z-index: 10
}

.has-mega-menu>ul.sub-menu>ul.sub-menu {
    z-index: auto
}

.mk-nav-responsive-link {
    z-index: 12
}

.mk-responsive-nav {
    z-index: 20
}



.wp-core-ui .button,
.wp-core-ui .button-secondary {
    color: #555!important;
    border-color: #ccc!important;
    height: 24px!important;
    line-height: 22px!important;
    padding: 0 8px 1px!important;
    font-size: 11px!important;
    border: 1px solid #ccc!important;
    background: #f7f7f7!important;
    box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, .08)!important
}

.wp-core-ui .button-secondary:hover,
.wp-core-ui .button:hover {
    background: #eee!important
}

.IE9 .mk-button.savvy-dimension:after {
    top: 0;
    left: 0
}

select.fsField {
    background-color: #fff;
    border: 1px solid #7c7c7c!important;
    border-radius: 4px!important;
    color: #333!important;
    display: initial!important;
    font-size: 14px!important;
    font-weight: 400!important;
    max-width: 100%;
    min-width: 100px!important;
    padding: 4px 5px!important
}

.clear {
    clear: both
}

.nobr {
    white-space: nowrap
}

@media print {
    a {
        text-decoration: underline
    }
    a[href="#"],
    a[href="javascript:"] {
        content: ""
    }
    #comments,
    #mk-footer,
    #mk-sidebar,
    .blog-similar-posts,
    .mk-about-author-wrapper,
    .mk-back-top,
    .mk-go-top,
    .mk-header,
    .mk-loop-next-prev,
    .mk-post-nav,
    .mk-quick-contact-wrapper,
    .news-post-heading,
    .single-back-top,
    .single-post-tags,
    .single-social-section {
        display: none!important
    }
    .theme-content,
    .theme-page-wrapper {
        width: 100%!important;
        left: 0
    }
    .mk-blockquote,
    p {
        page-break-after: avoid;
        page-break-inside: avoid;
        width: 95%!important
    }
}

#mk-notification-bar,
#mk-page-introduce,
#mk-theme-container,
.master-holder div,
.mk-blog-classic-item,
.mk-blog-grid-item,
.mk-employee-item,
.mk-fullwidth-boxed,
.mk-gallery .gallery-caption,
.mk-gallery .gallery-inner,
.mk-gallery .gallery-title,
.mk-header-toolbar,
.mk-image-caption,
.mk-news-item,
.page-section-content,
.portfolio-widget-info,
.shopping-cart-header,
.testimonial-column .testimonial-item,
.text-input,
.theme-page-wrapper,
:after,
:before,
[class*=mk-col-],
input[type=text],
textarea {
    box-sizing: border-box
}

[class*=mk-col-] {
    float: left;
    padding-right: 25px;
    min-height: 1px
}

[class*=mk-col-]:last-of-type {
    padding-right: 0
}

.mk-grid {
    width: 100%;
    margin: 0 auto
}

.mk-grid:after {
    content: "";
    display: table;
    clear: both
}

.mk-grid-pad {
    padding: 20px 0 0 20px
}

.mk-grid-pad>[class*=mk-col-]:last-of-type {
    padding-right: 20px
}

.mk-push-right {
    float: right
}

.mk-col-1-1 {
    width: 100%
}

.mk-col-2-3,
.mk-col-8-12 {
    width: 66.66%
}

.mk-col-1-2,
.mk-col-6-12 {
    width: 50%
}

.mk-col-1-3,
.mk-col-4-12 {
    width: 33.33%
}

.mk-col-1-4,
.mk-col-3-12 {
    width: 25%
}

.mk-col-1-5 {
    width: 20%
}

.mk-col-1-6,
.mk-col-2-12 {
    width: 16.667%
}

.mk-col-1-7 {
    width: 14.28%
}

.mk-col-1-8 {
    width: 12.5%
}

.mk-col-1-9 {
    width: 11.1%
}

.mk-col-1-10 {
    width: 10%
}

.mk-col-1-11 {
    width: 9.09%
}

.mk-col-1-12 {
    width: 8.33%
}

.mk-col-11-12 {
    width: 91.66%
}

.mk-col-10-12 {
    width: 83.333%
}

.mk-col-9-12 {
    width: 75%
}

.mk-col-5-12 {
    width: 41.66%
}

.mk-col-7-12 {
    width: 58.33%
}

@media handheld,
only screen and (max-width:768px) {
    .mk-grid {
        width: 100%
    }
    [class*=mk-col-] {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px
    }
    #mk-footer [class*=mk-col-] {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0
    }
}

.attched-true.vc_row {
    margin-left: 0!important;
    margin-right: 0!important
}

.add-padding-0>.mk-grid>[class*=vc_col],
.add-padding-0>[class*=vc_col] {
    padding: 0
}

.add-padding-1>.mk-grid>[class*=vc_col],
.add-padding-1>[class*=vc_col] {
    padding: 1%
}

.add-padding-2>.mk-grid>[class*=vc_col],
.add-padding-2>[class*=vc_col] {
    padding: 2%
}

.add-padding-3>.mk-grid>[class*=vc_col],
.add-padding-3>[class*=vc_col] {
    padding: 3%
}

.add-padding-4>.mk-grid>[class*=vc_col],
.add-padding-4>[class*=vc_col] {
    padding: 4%
}

.add-padding-5>.mk-grid>[class*=vc_col],
.add-padding-5>[class*=vc_col] {
    padding: 5%
}

.wpb_row.attched-true .vc_column_container>.vc_column-inner {
    padding-left: 0!important;
    padding-right: 0!important
}

@media handheld,
only screen and (max-width:767px) {
    .vc_row-fluid [class*=vc_span] {
        width: auto;
        float: none;
        margin-left: 0!important
    }
    .wpb_row.attched-true>[class*=vc_span] {
        width: auto
    }
}

.mk-header {
    width: 100%;
    position: relative
}

.mk-header .mk-classic-nav-bg,
.mk-header .mk-header-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.mk-header.sticky-style-false.transparent-header {
    position: absolute;
    background: 0 0
}

.mk-header.sticky-style-fixed .mk-header-bg {
    transition: opacity .2s ease-out
}

.mk-header .mk-header-inner {
    position: relative;
    width: 100%
}

.mk-header.sticky-style-fixed .header-logo.logo-has-sticky img {
    transition: opacity .2s ease
}

.mk-header:not(.header-style-4) .header-logo {
    top: 0;
    position: absolute
}


.mk-header-start-tour {
    font-weight: 700;
    float: right;
    transition: opacity .3s ease-out;
    visibility: visible;
    opacity: 1
}

.mk-header-start-tour svg {
    padding-left: 8px;
    height: 20px;
    vertical-align: middle
}

.mk-header-start-tour.show {
    visibility: visible;
    opacity: 1
}

.mk-header-start-tour.hidden {
    visibility: hidden;
    opacity: 0
}

.mk-header-right {
    position: absolute;
    right: 10px;
    top: 0
}

.header-grid.mk-grid {
    position: relative
}

.header-grid.mk-grid .header-logo.left-logo {
    left: 20px!important
}

.header-grid.mk-grid .header-logo.right-logo {
    right: 20px!important
}

.header-grid.mk-grid .header-logo.right-logo,
.header-grid.mk-grid .mk-header-right {
    right: 20px
}

.mk-header-nav-container {
    /*line-height: 4px;*/
    display: block;
    position: relative;
    margin: 0 auto
}

@media handheld,
only screen and (max-width:1140px) {
    .mk-header .mk-header-nav-container {
        width: 100%!important
    }
    .mk-header .mk-classic-menu-wrapper {
        width: 100%!important
    }
}

.mk-dashboard-trigger {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    margin: 0 20px;
    position: relative
}

@media handheld,
only screen and (max-width:400px) {
    .mk-dashboard-trigger {
        margin: 0 10px
    }
}

.mk-header-social.header-section.show {
    visibility: visible;
    opacity: 1
}

.mk-header-social.header-section.hidden {
    visibility: hidden;
    opacity: 0
}

.logo-align-center .header-style-4 .header-logo img {
    max-width: 100%!important;
    left: 50%!important;
    top: 0!important;
    -webkit-transform: translate(-50%, 0)!important;
    -ms-transform: translate(-50%, 0)!important;
    transform: translate(-50%, 0)!important;
    ms-transform: translate(-50%, 0)!important
}

.logo-align-left .header-style-4 .header-logo img {
    max-width: 100%!important;
    left: 20px!important
}

.logo-align-right .header-style-4 .header-logo img {
    max-width: 100%!important;
    left: auto!important;
    right: 20px!important
}

.vertical-header-enabled.vertical-header-center .trans-header #mk-footer,
.vertical-header-enabled.vertical-header-center .trans-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-center .trans-header #theme-page>.mk-page-section-wrapper .mk-page-section,
.vertical-header-enabled.vertical-header-center .trans-header #theme-page>.wpb_row,
.vertical-header-enabled.vertical-header-left .trans-header #mk-footer,
.vertical-header-enabled.vertical-header-left .trans-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-left .trans-header #theme-page>.mk-page-section-wrapper .mk-page-section,
.vertical-header-enabled.vertical-header-left .trans-header #theme-page>.wpb_row {
    padding-left: 270px
}

.vertical-header-enabled.vertical-header-right .trans-header #mk-footer,
.vertical-header-enabled.vertical-header-right .trans-header #theme-page>.mk-main-wrapper-holder,
.vertical-header-enabled.vertical-header-right .trans-header #theme-page>.mk-page-section-wrapper .mk-page-section,
.vertical-header-enabled.vertical-header-right .trans-header #theme-page>.wpb_row {
    padding-right: 270px
}

.vertical-header-enabled .trans-header #mk-footer:not(.mk-footer-unfold) {
    width: auto!important
}

.vertical-header-enabled.vertical-header-center #mk-theme-container:not(.trans-header),
.vertical-header-enabled.vertical-header-left #mk-theme-container:not(.trans-header) {
    padding-left: 270px
}

.vertical-header-enabled.vertical-header-right #mk-theme-container:not(.trans-header) {
    padding-right: 270px
}

@media handheld,
only screen and (max-width:755px) {
    .header-align-center.header-style-3 .header-logo {
        text-align: left
    }
    .header-align-center.header-style-3 .header-logo a {
        padding-left: 20px
    }
    .header-align-center.header-style-3 .header-logo img {
        -webkit-transform: translate(0, -50%)!important;
        -ms-transform: translate(0, -50%)!important;
        transform: translate(0, -50%)!important;
        ms-transform: translate(0, -50%)!important
    }
    .vertical-header-enabled .mk-grid {
        min-width: 100%!important
    }
}

.admin-bar .header-style-4 .mk-header-inner {
    top: 32px
}

.pll-parent-menu-item .sub-menu .lang-item span {
    display: inline-block
}

.IE .main-nav-side-search>.mk-search-trigger:after,
.IE .main-navigation-ul>li.menu-item:after {
    content: ''
}

#mk-theme-container {
    position: relative;
    left: 0
}

body:not(.mk-boxed-enabled) .sticky-style-fixed.header-style-1 .mk-header-holder,
body:not(.mk-boxed-enabled) .sticky-style-fixed.header-style-3 .mk-header-holder {
    right: 0
}

body:not(.mk-boxed-enabled).dashboard-opened .sticky-style-fixed.header-style-1 .mk-header-holder {
    right: 300px
}

.dashboard-opened #mk-theme-container {
    left: -300px
}

@media handheld,
only screen and (max-width:767px) {
    .dashboard-opened #mk-theme-container {
        left: -280px
    }
}

#mk-theme-container,
.mk-side-dashboard,
.sticky-style-fixed.header-style-1 .mk-header-holder,
.sticky-style-fixed.header-style-3 .mk-header-holder {
    transition: all .3s ease-in-out
}

.mk-side-dashboard {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box
}

@media handheld,
only screen and (max-width:767px) {
    .mk-side-dashboard {
        width: 280px;
        right: -280px
    }
}

.fullscreen-nav-opened {
    overflow: hidden
}

.mk-fullscreen-inner {
    min-height: 100%
}

.mk-fullscreen-nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    z-index: 999;
    transition: all ease-in-out .25s
}

.mk-fullscreen-nav ul {
    margin: 0
}

.mk-fullscreen-nav.opened {
    visibility: visible;
    opacity: 1;
    overflow-y: auto
}

.mk-fullscreen-nav.opened .mk-fullscreen-nav-wrapper {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    ms-transform: scale(1)
}

.mk-fullscreen-nav:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.mk-fullscreen-nav .mk-fullscreen-nav-close {
    position: fixed;
    right: 50px;
    top: 40px;
    opacity: .8;
    -webkit-transform: opacity .2s;
    -ms-transform: opacity .2s;
    transform: opacity .2s;
    z-index: 1001
}

.mk-fullscreen-nav .mk-fullscreen-nav-close svg {
    width: 32px;
    height: 32px
}

.mk-fullscreen-nav .mk-fullscreen-nav-close.light:link svg,
.mk-fullscreen-nav .mk-fullscreen-nav-close.light:visited svg {
    color: #fff
}

.mk-fullscreen-nav .mk-fullscreen-nav-close.dark:link svg,
.mk-fullscreen-nav .mk-fullscreen-nav-close.dark:visited svg {
    color: #222
}

.mk-fullscreen-nav .mk-fullscreen-nav-close:hover {
    opacity: 1
}

.mk-fullscreen-nav .mk-fullscreen-nav-wrapper {
    display: inline-block;
    width: 99.5%;
    vertical-align: middle;
    font-size: 18px;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    ms-transform: scale(.9);
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: all ease-in-out .3s
}

.mk-fullscreen-nav .mk-fullscreen-nav-wrapper .fullscreen-menu {
    width: 100%
}

.mk-fullscreen-nav .mk-fullscreen-nav-wrapper .fullscreen-menu .fullscreen-navigation-ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.mk-fullscreen-nav .mk-fullscreen-nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .sub-menu {
    display: none;
    background-color: #565656
}

.mk-fullscreen-nav .mk-fullscreen-nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .menu-item {
    display: block;
    padding: 0;
    margin-left: 0;
    position: relative
}

.mk-fullscreen-nav .mk-fullscreen-nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .menu-item .menu-sub-level-arrow {
    cursor: pointer;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px
}

.mk-fullscreen-nav .mk-fullscreen-nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .menu-item .menu-sub-level-arrow:hover {
    color: #fff
}

.mk-fullscreen-nav .mk-fullscreen-nav-wrapper .fullscreen-menu .fullscreen-navigation-ul .menu-item a {
    transition: all ease-in-out .15s;
    display: block
}

.mk-fullscreen-nav .responsive-logo {
    display: none
}

@media handheld,
only screen and (max-width:780px) {
    .mk-fullscreen-nav.logo-is-responsive .dark-logo,
    .mk-fullscreen-nav.logo-is-responsive .light-logo {
        display: none
    }
    .mk-fullscreen-nav.logo-is-responsive .responsive-logo {
        display: inline-block
    }
    .mk-fullscreen-nav .mk-fullscreen-nav-logo {
        max-width: 70%;
        margin-bottom: 50px;
        margin-top: 25px
    }
}

.admin-bar .mk-fullscreen-nav-close {
    top: 72px
}

.not-found-page .mk-tabbed-box,
.not-found-page .theme-page-wrapper {
    margin: 0!important
}

.not-found-page #theme-page {
    margin-bottom: 0!important;
    padding: 0!important
}

.not-found-page .theme-content {
    padding: 0!important
}

.mk-go-top {
    background-color: #ccc;
    background-color: rgba(0, 0, 0, .2);
    display: block;
    position: fixed;
    bottom: 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    right: -60px;
    opacity: 0;
    transition: all .2s ease-in-out
}

.mk-go-top.is-active {
    right: 15px;
    opacity: 1
}

.mk-go-top:hover {
    background-color: rgba(0, 0, 0, .3)
}

.mk-go-top svg {
    position: absolute;
    top: 15px;
    left: 15px;
    fill: #fff;
    height: 16px;
    width: 16px
}

.mk-relative {
    position: relative
}

.no-margin-top {
    padding-top: 10px!important
}

.mk-zindex-fix {
    position: relative
}

.mk-love-this span {
    color: #898989
}

.mk-love-this span {
    font-size: 11px;
    margin-left: 0;
    cursor: default
}

.mk-love-this svg {
    height: 16px;
    fill: #898989;
    vertical-align: middle
}

.mk-love-this.item-loved svg {
    fill: #c70000!important;
    cursor: default;
    -webkit-animation: heart_scale .4s 0 cubic-bezier(0, 1.8, 1, 1.8);
    animation: heart_scale .4s 0 cubic-bezier(0, 1.8, 1, 1.8);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -animation-fill-mode: forwards
}

@-webkit-keyframes heart_scale {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        ms-transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        ms-transform: scale(1.1);
        color: #da4c26
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        ms-transform: scale(1);
        color: #da4c26
    }
}

@keyframes heart_scale {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        ms-transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        ms-transform: scale(1.1);
        color: #da4c26
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        ms-transform: scale(1);
        color: #da4c26
    }
}

#theme-page {
    padding: 0;
    margin: 0;
    min-height: 200px;
    height: auto;
    position: relative
}

#theme-page .theme-page-wrapper {
    margin: 20px auto
}

#theme-page .theme-page-wrapper.no-padding {
    margin-top: 0!important;
    margin-bottom: 0!important
}

#theme-page .theme-page-wrapper .theme-content {
    padding: 30px 20px
}

#theme-page .theme-page-wrapper .theme-content.no-padding {
    padding-bottom: 0!important;
    padding-top: 0!important
}

#theme-page .theme-page-wrapper #mk-sidebar {
    position: relative
}

#theme-page .theme-page-wrapper.right-layout #mk-sidebar {
    float: right
}

#theme-page .theme-page-wrapper.left-layout #mk-sidebar {
    float: left
}

#theme-page .theme-page-wrapper.right-layout .theme-content {
    float: left
}

#theme-page .theme-page-wrapper.left-layout .theme-content {
    float: right
}

#theme-page .theme-page-wrapper.right-layout .sidebar-wrapper {
    padding: 30px 20px 30px
}

#theme-page .theme-page-wrapper.left-layout .sidebar-wrapper {
    padding: 30px 20px 30px
}

* html #mk-sidebar,
* html #theme-page {
    display: inline
}

.master-holder-bg-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1
}

.master-holder-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

@media handheld,
only screen and (max-width:768px) {
    #theme-page {
        padding: 0!important
    }
    .theme-page-wrapper {
        margin: 0 auto 0!important
    }
}

.mk-header-search {
    display: inline-block;
    float: right;
    margin-left: 6px
}

.mk-header-inner .mk-header-searchform {
    float: right;
    display: inline-block;
    margin-right: 10px
}

.mk-header-inner .mk-header-searchform .text-input {
    width: 200px;
    padding: 5px 15px 5px 30px!important;
    height: 30px;
    line-height: 20px
}

.mk-header-inner .mk-header-searchform .mk-icon-search {
    left: 7px;
    top: 50%;
    margin-top: -8px;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 70;
    -khtml-opacity: 70;
    opacity: 70;
    opacity: .7
}

.mk-header-searchform span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 40px
}

.mk-header-searchform span .text-input {
    background-color: rgba(255, 255, 255, .2);
    font-size: 12px;
    width: 90px;
    height: 23px;
    padding: 3px 15px 3px 30px;
    line-height: 16px;
    margin: 0;
    border: none;
    border-radius: 40px;
    opacity: .7
}

.mk-header-searchform span .text-input:focus {
    opacity: 1
}

.mk-header-searchform span i {
    font-size: 16px;
    opacity: .7;
    position: absolute
}

.mk-header-searchform span .mk-icon-search {
    left: 7px;
    top: 50%;
    margin-top: -8px
}

.header-search-btn {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    outline: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent
}

.mk-header-social.header-section .mk-square-rounded {
    border-radius: 25%
}

.mk-header-social.header-section .mk-simple-rounded {
    border-radius: 50%
}

.mk-header-right .mk-header-social {
    height: auto;
    padding: 0 10px
}

.mk-header-right .mk-header-social ul {
    margin: 0
}

.mk-toolbar-navigation {
    display: inline-block;
    margin-right: 10px;
    height: 30px
}

.mk-toolbar-navigation ul {
    padding: 0;
    margin: 0
}

.mk-toolbar-navigation ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 26px
}

.mk-toolbar-navigation ul li:last-child>a {
    border: none!important
}

.mk-toolbar-navigation ul li a {
    line-height: 10px;
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid rgba(128, 128, 128, .2)
}

.mk-toolbar-navigation ul li ul {
    display: none
}

.mk-search-trigger {
    display: block;
    font-size: 16px
}

.classic-style-nav .mk-search-trigger {
    padding: 16px 0
}

.mk-fullscreen-search-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .94);
    text-align: center;
    transition: all ease-in-out .25s
}

.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show {
    visibility: visible;
    opacity: 1
}

.mk-fullscreen-search-overlay.mk-fullscreen-search-overlay-show .mk-fullscreen-search-wrapper {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    ms-transform: scale(1)
}

.mk-fullscreen-search-overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em
}

.mk-fullscreen-search-overlay .mk-fullscreen-close {
    position: absolute;
    right: 50px;
    top: 70px;
    transition: -webkit-transform ease-out .2s;
    transition: transform ease-out .2s;
    transition: transform ease-out .2s, -webkit-transform ease-out .2s;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    height: 26px
}

.mk-fullscreen-search-overlay .mk-fullscreen-close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.mk-fullscreen-search-overlay .mk-fullscreen-close svg {
    height: 26px;
    fill: #fff
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper {
    display: inline-block;
    max-width: 1000px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    ms-transform: scale(.9);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .3s
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper p {
    font-size: 14px;
    margin-bottom: 40px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform {
    position: relative
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input {
    width: 800px;
    background-color: transparent;
    box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
    border: 0;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    color: #fff;
    transition: all .3s ease-out
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform #mk-fullscreen-search-input:focus {
    box-shadow: 0 3px 0 0 rgba(255, 255, 255, .2)
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform input[type=submit] {
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: transparent;
    border: 0;
    right: 0;
    top: 0
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform .fullscreen-search-icon {
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 30px;
    color: #fff;
    color: rgba(255, 255, 255, .2);
    transition: all .2s ease-out
}

.mk-fullscreen-search-overlay .mk-fullscreen-search-wrapper #mk-fullscreen-searchform .fullscreen-search-icon:hover {
    color: rgba(255, 255, 255, .3)
}

#mk-nav-search-wrapper {
    position: absolute;
    right: -50px;
    width: 330px;
    height: 56px;
    background-color: #fff;
    display: none
}

#mk-nav-search-wrapper form {
    display: block;
    overflow: hidden
}

#mk-nav-search-wrapper form.ajax-searching .nav-side-search-icon:before {
    -webkit-animation: spin .8s infinite linear;
    animation: spin .8s infinite linear;
    display: inline-block;
    content: "\e2a2"
}

#mk-nav-search-wrapper input[type=text] {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    height: 100%;
    background-color: #fff;
    padding: 0 10px;
    width: 275px;
    line-height: 30px;
    border: 1px solid #e3e3e3;
    border-right: none
}

#mk-nav-search-wrapper input[type=submit] {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    outline: 0;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent
}

#mk-nav-search-wrapper .nav-side-search-icon {
    width: 56px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #bfbcbc
}

#mk-nav-search-wrapper .nav-side-search-icon svg {
    height: 16px;
    fill: #fff
}

#mk-nav-search-wrapper .ui-autocomplete {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom: none;
    overflow: auto;
    text-align: left;
    list-style: none;
    margin: 56px 0 0 0;
    padding: 0
}

#mk-nav-search-wrapper .ui-autocomplete li {
    line-height: 16px;
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
    overflow: hidden
}

#mk-nav-search-wrapper .ui-autocomplete li a,
#mk-nav-search-wrapper .ui-autocomplete li.mk-nav-search-error-message,
#mk-nav-search-wrapper .ui-autocomplete li.mk-nav-search-result-zero {
    padding: 10px
}

#mk-nav-search-wrapper .ui-autocomplete li.mk-nav-search-error-message {
    color: #ff8d36
}

#mk-nav-search-wrapper .ui-autocomplete li a {
    display: block;
    cursor: pointer
}

#mk-nav-search-wrapper .ui-autocomplete li a:hover {
    color: #252525
}

#mk-nav-search-wrapper .ui-autocomplete li .search-date {
    color: #999;
    font-size: 11px
}

#mk-nav-search-wrapper .ui-autocomplete li .search-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #252525;
    line-height: 18px;
    display: block;
    margin-bottom: 3px;
    font-weight: 700
}

#mk-nav-search-wrapper .ui-autocomplete li:hover {
    background-color: #fbfbfb
}

#mk-nav-search-wrapper .ui-autocomplete li i,
#mk-nav-search-wrapper .ui-autocomplete li img {
    width: 32px;
    height: 32px;
    border-radius: 60px;
    border: 1px solid #d2d2d2;
    float: left;
    margin-right: 15px
}

#mk-nav-search-wrapper .ui-autocomplete li i {
    background-color: #f3f3f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#mk-nav-search-wrapper .ui-autocomplete li i svg {
    height: 16px;
    fill: #636363
}

#mk-header-checkout .widget,
.mk-shopping-cart-box .widget {
    margin: 0
}

#mk-header-checkout .product_list_widget,
.mk-shopping-cart-box .product_list_widget {
    margin: 15px 0!important
}

#mk-header-checkout .product_list_widget li,
.mk-shopping-cart-box .product_list_widget li {
    margin: 0!important;
    line-height: 22px!important;
    padding: 10px 0!important
}

#mk-header-checkout .product_list_widget li.empty,
.mk-shopping-cart-box .product_list_widget li.empty {
    padding-left: 20px!important;
    text-transform: uppercase;
    letter-spacing: 1px
}

#mk-header-checkout .product_list_widget li a,
.mk-shopping-cart-box .product_list_widget li a {
    font-size: 12px;
    font-weight: 400!important;
    padding-left: 9px
}

#mk-header-checkout .product_list_widget li .variation,
.mk-shopping-cart-box .product_list_widget li .variation {
    display: none!important
}

#mk-header-checkout .product_list_widget li .quantity,
.mk-shopping-cart-box .product_list_widget li .quantity {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    text-align: left
}

#mk-header-checkout .product_list_widget li:first-child,
.mk-shopping-cart-box .product_list_widget li:first-child {
    border-top: none
}

#mk-header-checkout .product_list_widget li img,
.mk-shopping-cart-box .product_list_widget li img {
    padding: 0!important
}

#mk-header-checkout .total,
.mk-shopping-cart-box .total {
    font-size: 16px;
    font-weight: 700;
    display: block;
    text-align: center;
    border-top: 1px solid rgba(128, 128, 128, .2)!important;
    padding-top: 15px!important
}

#mk-header-checkout .buttons,
.mk-shopping-cart-box .buttons {
    margin-bottom: 20px;
    text-align: center
}

@media handheld,
only screen and (max-width:780px) {
    .mk-header-right {
        display: none!important
    }
}

.mk-toolbar-resposnive-icon {
    position: absolute;
    left: 50%;
    top: 0;
    line-height: 16px!important;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: none
}

.mk-toolbar-resposnive-icon svg {
    height: 16px
}

@media handheld,
only screen and (max-width:780px) {
    .mk-header-toolbar {
        padding: 10px 5px;
        display: none;
        height: auto;
        line-height: auto
    }
    .mk-toolbar-resposnive-icon {
        display: block
    }
    #mk-header-checkout,
    #mk-toolbar-navigation,
    .header-toolbar-contact,
    .mk-header-date,
    .mk-header-login,
    .mk-header-signup,
    .mk-header-social,
    .mk-header-tagline {
        width: 100%!important;
        float: none!important;
        display: block!important;
        height: auto!important;
        line-height: 25px!important;
        margin: 0 10px 5px!important;
        padding: 0
    }
    .mk-header-subscribe,
    .mk-login-register {
        right: auto;
        left: 0
    }
    .mk-header-subscribe:before,
    .mk-login-register:before {
        right: auto;
        left: 10px
    }
    .mk-header-social li svg {
        height: 24px!important
    }
    .mk-toolbar-navigation li:first-child a {
        padding-left: 0
    }
    #mk-header-checkout {
        right: auto;
        top: 30px
    }
    #mk-header-checkout:before {
        right: auto;
        left: 30px
    }
}

.mk-main-navigation {
    display: inline-block;
    text-align: center;
    margin: 0 auto
}

.mk-classic-menu-wrapper {
    position: relative;
    margin: 0 auto
}

.mk-classic-menu-wrapper .main-navigation-ul>li.menu-item>a.menu-item-link i {
    padding-right: 7px
}

.header-style-2 .menu-hover-style-3 .main-navigation-ul>li.menu-item {
    line-height: 80px
}

.main-navigation-ul,
.main-navigation-ul li.menu-item,
.main-navigation-ul ul.sub-menu {
    margin: 0;
    padding: 0
}

.main-navigation-ul li.no-mega-menu ul.sub-menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 8px 0
}

.main-navigation-ul:not(.dropdownJavascript) li.menu-item:hover>ul.sub-menu {
    display: block
}

.Edge .main-navigation-ul li>.sub-menu,
.IE .main-navigation-ul li>.sub-menu {
    top: -10000px!important;
    display: block
}

.Edge .main-navigation-ul>li:hover>.sub-menu,
.IE .main-navigation-ul>li:hover>.sub-menu {
    top: 100%!important;
    display: block
}

.Edge .main-navigation-ul .sub-menu li:hover>.sub-menu,
.IE .main-navigation-ul .sub-menu li:hover>.sub-menu {
    top: 0!important;
    display: block
}

.main-navigation-ul li>.sub-menu {
    display: none
}

.header-align-center .main-navigation-ul li.no-mega-menu>ul.sub-menu,
.header-align-center .mk-grid .main-navigation-ul li.no-mega-menu>ul.sub-menu,
.header-align-left .mk-grid .main-navigation-ul li.no-mega-menu>ul.sub-menu,
.header-style-2.header-align-center .main-navigation-ul li.no-mega-menu>ul.sub-menu,
.header-style-2.header-align-left .main-navigation-ul li.no-mega-menu>ul.sub-menu {
    left: 20px;
    right: auto
}

body.rtl .header-align-center .main-navigation-ul li.no-mega-menu>ul.sub-menu,
body.rtl .header-align-center .mk-grid .main-navigation-ul li.no-mega-menu>ul.sub-menu,
body.rtl .header-align-left .mk-grid .main-navigation-ul li.no-mega-menu>ul.sub-menu,
body.rtl .header-style-2.header-align-center .main-navigation-ul li.no-mega-menu>ul.sub-menu,
body.rtl .header-style-2.header-align-left .main-navigation-ul li.no-mega-menu>ul.sub-menu {
    left: initial;
    right: 20px
}

.header-align-right .main-navigation-ul li.no-mega-menu>ul.sub-menu {
    right: auto;
    left: 0
}

body.rtl .header-align-right .main-navigation-ul li.no-mega-menu>ul.sub-menu {
    right: 20px;
    left: auto
}

.header-align-right .mk-grid .main-navigation-ul li.no-mega-menu>ul.sub-menu {
    left: 20px;
    right: initial
}

.main-navigation-ul li.has-mega-menu>ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 17px 0
}

.main-navigation-ul>li.menu-item {
    float: left
}

.main-navigation-ul>li.menu-item>a.menu-item-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    position: relative;
    box-sizing: border-box;
    padding-top: 2px
}

.sticky-style-fixed .main-navigation-ul>li.menu-item>a.menu-item-link {
    transition: color .1s ease-out, background .1s ease-out, border .1s ease-out, height .35s ease, line-height .35s ease;
    -webkit-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out, height .35s ease, line-height .35s ease;
    -moz-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out, height .35s ease, line-height .35s ease;
    -ms-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out, height .35s ease, line-height .35s ease;
    -o-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out, height .35s ease, line-height .35s ease
}

.sticky-style-slide .main-navigation-ul>li.menu-item>a.menu-item-link {
    transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -webkit-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -moz-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -ms-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out;
    -o-transition: color .1s ease-out, background .1s ease-out, border .1s ease-out
}

.menu-hover-style-1 .main-navigation-ul>li.menu-item>a.menu-item-link {
    border-top: 3px solid transparent
}

.menu-hover-style-4 .main-navigation-ul>li.menu-item>a.menu-item-link {
    margin-left: 1px
}

.menu-hover-style-3 .main-navigation-ul>li.menu-item>a {
    border-radius: 5px;
    margin: 0 2px;
    border: 2px solid transparent
}

.menu-hover-style-5 .main-navigation-ul>li.menu-item>a.menu-item-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    transition: all .15s ease-out;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}

.IE9 .menu-hover-style-5 .main-navigation-ul>li.menu-item>a.menu-item-link:after {
    height: 0
}

.menu-hover-style-5 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link:after,
.menu-hover-style-5 .main-navigation-ul>li.current-menu-item>a.menu-item-link:after,
.menu-hover-style-5 .main-navigation-ul>li.menu-item:hover>a.menu-item-link::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 100;
    -khtml-opacity: 100;
    opacity: 100;
    opacity: 1
}

.IE9 .menu-hover-style-5 .main-navigation-ul>li.current-menu-ancestor>a.menu-item-link:after,
.IE9 .menu-hover-style-5 .main-navigation-ul>li.current-menu-item>a.menu-item-link:after,
.IE9 .menu-hover-style-5 .main-navigation-ul>li.menu-item:hover>a.menu-item-link::after {
    height: 2px
}

.main-navigation-ul>li.menu-item a.menu-item-link svg {
    margin-right: 8px;
    height: 16px;
    vertical-align: middle
}

.main-navigation-ul>li.menu-item .sub-menu a.menu-item-link {
    transition: all .2s ease-in-out
}

.main-navigation-ul>li.no-mega-menu ul.sub-menu li.menu-item {
    line-height: 1
}

.main-navigation-ul>li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    float: none;
    margin: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px
}

.main-navigation-ul>li.no-mega-menu ul.sub-menu li.menu-item a.menu-item-link svg {
    margin-right: 8px;
    height: 16px;
    vertical-align: middle
}

.main-navigation-ul>li.menu-item ul.sub-menu:after {
    height: 2px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-navigation-ul li.no-mega-menu ul.sub-menu ul.sub-menu {
    top: 0;
    left: 100%;
    right: auto
}

.main-navigation-ul li .dropdownRightToLeft>ul.sub-menu {
    left: auto!important;
    right: 100%!important
}

.main-navigation-ul li.menu-item {
    position: relative;
    display: block;
    list-style-type: none
}

.main-navigation-ul>li.menu-item {
    display: inline-block
}

.main-navigation-ul a.menu-item-link,
.main-navigation-ul span {
    display: block;
    text-decoration: none;
    white-space: normal
}

.mk-main-navigation>.main-navigation-ul>.menu-item-language {
    visibility: hidden
}

.main-navigation-ul .menu-item-language span {
    display: inline
}

.vertical {
    display: inline-block
}

.vertical>li.menu-item {
    display: block
}

.vertical ul {
    top: 0;
    left: 100%
}

.dropdownJavascript li.has-mega-menu:hover>ul.sub-menu,
.dropdownJavascript li.no-mega-menu:hover>ul.sub-menu {
    display: none
}

.dropdownJavascript li.dropdownOpen>ul.sub-menu {
    display: block!important
}

.main-navigation-ul .menu-sub-level-arrow svg {
    height: 12px;
    vertical-align: middle;
    position: absolute
}

.main-navigation-ul li.with-menu .menu-sub-level-arrow {
    position: absolute;
    right: 16px;
    top: 10px;
    height: 100%
}

body.rtl .main-navigation-ul li.with-menu .menu-sub-level-arrow {
    right: initial;
    left: 16px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: -10px
}

.megamenu-widgets-container {
    text-align: left;
    padding: 10px;
    line-height: 22px
}

.megamenu-widgets-container ul {
    list-style: none;
    margin: 0
}

.megamenu-widgets-container .widget {
    margin-bottom: 15px;
    overflow: visible
}

.mk-nav-responsive-link {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    line-height: 8px;
    cursor: pointer;
    padding: 10px
}

.mk-nav-responsive-link svg {
    height: 16px;
    vertical-align: middle
}

.mk-responsive-nav {
    width: 100%
}

.mk-responsive-nav>li>ul {
    display: none;
    border-top: 1px solid rgba(128, 128, 128, .2)
}

.mk-responsive-nav>li {
    border-bottom: 1px solid rgba(128, 128, 128, .2)
}

.mk-responsive-nav .mk-nav-arrow {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    cursor: pointer;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 70;
    -khtml-opacity: 70;
    opacity: 70;
    opacity: .7;
    width: 70px;
    height: 100%;
    line-height: 50px
}

.mk-responsive-nav .mk-nav-arrow:hover {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 100;
    -khtml-opacity: 100;
    opacity: 100;
    opacity: 1
}

.mk-responsive-nav .mk-nav-arrow svg {
    height: 16px
}

.menu-html-content {
    line-height: 22px!important;
    text-align: left
}

.mk-responsive-wrap {
    position: relative;
    width: 100%;
    display: none;
    z-index: 20;
    height: 100%
}

.mk-responsive-nav {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0
}

.mk-responsive-nav li {
    display: block;
    margin: 0;
    position: relative
}

.mk-responsive-nav li a {
    border-top: 1px solid rgba(255, 255, 255, .1);
    display: block;
    padding: 15px 20px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 1
}

.mk-responsive-nav li a>svg {
    height: 16px;
    margin-right: 6px;
    vertical-align: middle
}

.mk-responsive-nav li a:hover {
    background-color: rgba(0, 0, 0, .03)
}

.mk-responsive-nav li a .sub-menu {
    left: auto;
    position: relative
}

.mk-responsive-nav li a .megamenu-title {
    background-color: rgba(0, 0, 0, .03);
    font-size: 14px;
    font-weight: 700
}

.mk-responsive-nav li ul {
    margin: 0;
    padding: 0 0 0 5px
}

.mk-responsive-nav li ul .megamenu-widgets-container {
    display: none!important
}

.mk-responsive-nav li ul li .megamenu-title,
.mk-responsive-nav li ul li a {
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 12px 15px 12px 15px;
    text-align: left;
    text-transform: none;
    font-weight: 400
}

.mk-responsive-nav li .megamenu-title {
    font-weight: 700!important;
    font-size: 14px!important
}

.mk-responsive-nav>.responsive-searchform {
    display: block!important
}

.responsive-searchform {
    margin: 10px;
    position: relative;
    line-height: 24px
}

.responsive-searchform .text-input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: rgba(0, 0, 0, .02);
    box-shadow: none!important;
    border-radius: 0;
    color: #9e9e9e!important
}

.responsive-searchform i {
    position: absolute;
    right: 15px;
    bottom: 14px
}

.responsive-searchform i input {
    width: 100%;
    height: 100%;
    background: 0 0;
    border: none;
    outline: 0;
    position: absolute;
    left: 0;
    top: 0
}

.responsive-searchform i svg {
    fill: #ccc;
    fill: rgba(0, 0, 0, .3);
    height: 20px;
    width: 19px;
    vertical-align: middle
}

.mk-opened-nav {
    height: auto
}

.mk-opened-nav::-webkit-scrollbar {
    width: 0!important
}

.mk-css-icon-close,
.mk-css-icon-menu {
    width: 18px;
    height: 18px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.mk-css-icon-close.icon-size-big,
.mk-css-icon-menu.icon-size-big {
    width: 24px;
    height: 24px
}

.mk-css-icon-close.icon-size-big div,
.mk-css-icon-menu.icon-size-big div {
    height: 4px;
    margin-bottom: 4px;
    border-radius: 4px
}

.mk-css-icon-close div,
.mk-css-icon-menu div {
    height: 3px;
    margin-bottom: 3px;
    border-radius: 3px;
    display: block;
    position: relative
}

.mk-css-icon-menu-line-2 {
    transition: opacity .1s ease
}

.mk-css-icon-menu-line-1,
.mk-css-icon-menu-line-3 {
    transition: all .2s ease
}

.dashboard-active .mk-css-icon-menu-line-2,
.is-active .mk-css-icon-menu-line-2 {
    opacity: 0
}

.dashboard-active .mk-css-icon-menu-line-1,
.is-active .mk-css-icon-menu-line-1 {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    top: 6px
}

.dashboard-active .mk-css-icon-menu-line-3,
.is-active .mk-css-icon-menu-line-3 {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    top: -6px
}

.dashboard-active .icon-size-big .mk-css-icon-menu-line-1,
.is-active .icon-size-big .mk-css-icon-menu-line-1 {
    top: 8px
}

.dashboard-active .icon-size-big .mk-css-icon-menu-line-3,
.is-active .icon-size-big .mk-css-icon-menu-line-3 {
    top: -8px
}

#wpadminbar {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

.shopping-cart-header .mk-svg-icon {
    width: 16px
}

.mk-vm-menuwrapper {
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
    margin-bottom: 10px;
    box-sizing: border-box
}

.mk-vm-menuwrapper button {
    background: #ccc;
    border: none;
    width: 48px;
    height: 45px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: 0
}

.mk-vm-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    top: 10px;
    left: 16%
}

.mk-vm-menuwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.mk-vm-menuwrapper li {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none
}

.mk-vm-menuwrapper li a {
    display: block;
    position: relative;
    padding: 14px 26px;
    line-height: 130%;
    outline: 0;
    transition: all .1s ease-out
}

.mk-vm-menuwrapper li a i {
    margin-right: 6px;
    font-size: 16px
}

.menu-hover-style-3.mk-vm-menuwrapper {
    margin: 4px 4px 30px
}

.menu-hover-style-3.mk-vm-menuwrapper li>a {
    padding: 10px 45px 10px 22px;
    border: 2px solid transparent;
    border-radius: 5px
}

.mk-vm-menuwrapper li.mk-vm-back>a {
    padding-left: 35px
}

.mk-vm-menuwrapper li.mk-vm-back:before,
.mk-vm-menuwrapper li>a:not(:only-child):before {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    ms-transform: translate(0, -50%);
    line-height: 100%;
    font-family: themeIcons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e68e";
    font-size: 10px;
    display: none
}

.mk-vm-menuwrapper li .menu-sub-level-arrow,
.mk-vm-menuwrapper li.mk-vm-back .mk-svg-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -40%);
    -ms-transform: translate(0, -40%);
    transform: translate(0, -40%);
    ms-transform: translate(0, -40%)
}

.mk-vm-menuwrapper .menu-item-icon svg,
.mk-vm-menuwrapper .menu-sub-level-arrow svg {
    height: 16px
}

.mk-vm-menuwrapper .menu-item-icon svg {
    margin: -3px 5px 0 0;
    vertical-align: middle
}

.mk-vm-menuwrapper li>.menu-sub-level-arrow {
    right: 15px;
    opacity: .7;
    transition: all .1s ease-out
}

.menu-hover-style-1.mk-vm-menuwrapper li a {
    border-left: 3px solid transparent
}


#mk-footer {
    width: 100%;
    position: relative;
    padding: 20px 0 0
}

#mk-footer.mk-footer-unfold {
    position: fixed;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 1
}

@media handheld,
only screen and (max-width:767px) {
    #mk-footer.mk-footer-unfold {
        position: relative
    }
    #mk-footer.disable-on-mobile {
        display: none
    }
}

#mk-footer.mk-footer-disable {
    padding-top: 0
}

#mk-footer .footer-wrapper {
    position: relative
}

#mk-footer .mk-padding-wrapper {
    padding: 0 20px
}

@media handheld,
only screen and (max-width:767px) {
    #mk-footer [class*=mk-col-] {
        width: 100%!important
    }
}

.mk-footer-copyright {
    line-height: 16px;
    float: left;
    padding: 25px 0 20px;
    font-size: bold;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 80;
    -khtml-opacity: 80;
    opacity: 80;
    opacity: .8
}

.mk-footer-logo {
    float: left;
    display: inline-block;
    padding: 8px 20px 8px 0
}

#mk-footer-navigation {
    float: right
}

#mk-footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block
}

#mk-footer-navigation ul li {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0
}

#mk-footer-navigation ul li a {
    margin: 25px 12px 20px;
    display: block;
    font-size: 12px;
    line-height: 16px;
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 80;
    -khtml-opacity: 80;
    opacity: 80;
    opacity: .8
}

#mk-footer-navigation ul li a:hover {
    filter: alpha(opacity=@opacity * 100);
    -moz-opacity: 100;
    -khtml-opacity: 100;
    opacity: 100;
    opacity: 1
}

#mk-footer-navigation ul li ul {
    display: none
}

.fullwidth-footer .mk-footer-copyright {
    padding-left: 20px
}

.fullwidth-footer #mk-footer-navigation {
    margin-right: 20px
}

@media handheld,
only screen and (max-width:1140px) {
    .mk-footer-copyright {
        padding-left: 20px!important
    }
}

@media handheld,
only screen and (max-width:767px) {
    #mk-footer-navigation {
        float: none;
        width: auto;
        text-align: center
    }
    #mk-footer-navigation ul li {
        display: block!important
    }
    .mk-footer-copyright {
        display: block;
        float: none!important;
        text-align: left;
        clear: both;
        padding: 10px 10px 5px!important
    }
    #mk-footer-navigation ul li {
        float: none!important;
        width: 100%!important
    }
    #mk-footer-navigation ul li a {
        margin: 5px auto
    }
    .mk-footer-copyright {
        text-align: center
    }
}

.mk-footer-tweets {
    padding: 40px 0 20px;
    text-align: center
}

.mk-footer-tweets ul {
    padding: 0;
    margin: 0 auto;
    width: 50%
}

.mk-footer-tweets ul li .tweet-text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
    display: block
}

.mk-footer-tweets ul li .tweet-username {
    font-size: 38px;
    display: block;
    margin-bottom: 30px;
    line-height: 32px
}

.mk-footer-tweets ul li .tweet-time {
    font-size: 14px;
    margin-bottom: 30px;
    display: block;
    color: #999
}

.mk-footer-tweets.mk-light-skin .tweet-text {
    color: #444
}

.mk-footer-tweets.mk-light-skin .tweet-text a {
    color: #444
}

.mk-footer-tweets.mk-dark-skin .tweet-text {
    color: #fff
}

.mk-footer-tweets.mk-dark-skin .tweet-text a {
    color: #fff
}

.mk-footer-tweets.mk-dark-skin .tweet-time {
    color: #999
}


.search-result-item {
    margin-top: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, .2)
}

.search-result-item .search-loop-meta {
    display: block;
    margin-bottom: 6px;
    color: #999
}

.mk-search-loop .widget_search {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px
}

.mk-search-loop .widget_search .mk-searchform {
    margin: 0 auto
}

.mk-search-loop .widget_search p {
    margin-bottom: 20px
}

.widget {
    margin-bottom: 40px
}

.mk-side-dashboard .widget {
    margin-bottom: 20px
}

.widgettitle {
    position: relative;
    display: block;
    margin-bottom: 15px;
    letter-spacing: 1px
}

#mk-footer ul,
#mk-sidebar ul,
.mk-side-dashboard .widget ul {
    margin: 0
}

.widget_archive li,
.widget_authors li,
.widget_categories li,
.widget_contact_info li,
.widget_links li,
.widget_meta li,
.widget_pages li,
.widget_popular_posts li,
.widget_popular_tags li,
.widget_product_categories li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_recent_posts li,
.widget_rss li,
.widget_text li,
.widget_twitter li {
    margin: 0;
    list-style: none
}

.widget_archive li a,
.widget_categories li a,
.widget_contact_info li a,
.widget_links li a,
.widget_meta li a,
.widget_pages li a,
.widget_popular_tags li a,
.widget_recent_comments .recentcomments,
.widget_recent_entries li a,
.widget_text li a {
    display: inline-block;
    margin: 0 0 8px 0;
    text-decoration: none;
    line-height: 18px
}

.tw_list .tweet_list li a:before,
.widget_archive li a:before,
.widget_authors li a:before,
.widget_categories li a:before,
.widget_links li a:before,
.widget_meta li a:before,
.widget_nav_menu li a:before,
.widget_pages li a:before,
.widget_popular_tags li a:before,
.widget_product_categories li a:before,
.widget_rss li a:before {
    margin-right: 7px;
    content: "\f105";
    font-size: 12px
}

.tw_list .tweet_list li a .mk-svg-icon,
.widget_archive li a .mk-svg-icon,
.widget_authors li a .mk-svg-icon,
.widget_categories li a .mk-svg-icon,
.widget_links li a .mk-svg-icon,
.widget_meta li a .mk-svg-icon,
.widget_nav_menu li a .mk-svg-icon,
.widget_pages li a .mk-svg-icon,
.widget_popular_tags li a .mk-svg-icon,
.widget_product_categories li a .mk-svg-icon,
.widget_rss li a .mk-svg-icon {
    margin-right: 7px;
    height: 12px;
    width: 12px
}

.widget_recent_entries li a {
    margin-left: 0!important
}

.widget.widget_archive li a,
.widget.widget_categories li a,
.widget.widget_links li a,
.widget.widget_meta li a,
.widget.widget_pages li a,
.widget.widget_recent_entries li a {
    margin: 5px 0
}

.widget.widget_archive .sub-menu li,
.widget.widget_categories .sub-menu li,
.widget.widget_links .sub-menu li,
.widget.widget_meta .sub-menu li,
.widget.widget_pages .sub-menu li,
.widget.widget_recent_entries .sub-menu li {
    margin-left: 0;
    border-top: 1px solid rgba(128, 128, 128, .1)
}

.widget-sub-navigation,
.widget_nav_menu,
.widget_product_categories,
.woocommerce-MyAccount-navigation {
    padding: 4px
}

.widget-sub-navigation>ul,
.widget_nav_menu>ul,
.widget_product_categories>ul,
.woocommerce-MyAccount-navigation>ul {
    border: 1px solid #ebebeb;
    border-radius: 2px
}

.widget-sub-navigation ul.menu,
.widget_nav_menu ul.menu,
.widget_product_categories ul.menu,
.woocommerce-MyAccount-navigation ul.menu {
    border: 1px solid #ebebeb;
    border-radius: 2px
}

.widget-sub-navigation ul,
.widget_nav_menu ul,
.widget_product_categories ul,
.woocommerce-MyAccount-navigation ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none
}

.widget-sub-navigation ul li,
.widget_nav_menu ul li,
.widget_product_categories ul li,
.woocommerce-MyAccount-navigation ul li {
    margin: 0;
    border-bottom: 1px solid #ebebeb
}

.widget-sub-navigation ul li:last-child,
.widget_nav_menu ul li:last-child,
.widget_product_categories ul li:last-child,
.woocommerce-MyAccount-navigation ul li:last-child {
    border-bottom: none!important
}

.widget-sub-navigation ul li a,
.widget_nav_menu ul li a,
.widget_product_categories ul li a,
.woocommerce-MyAccount-navigation ul li a {
    display: inline-block;
    padding: 6px 10px
}

.widget-sub-navigation ul li.current_page_item a,
.widget_nav_menu ul li.current_page_item a,
.widget_product_categories ul li.current_page_item a,
.woocommerce-MyAccount-navigation ul li.current_page_item a {
    background-color: rgba(0, 0, 0, .03);
    font-weight: 700
}

.widget-sub-navigation ul .cat-parent,
.widget-sub-navigation ul .page_item_has_children,
.widget-sub-navigation ul.menu>.menu-item-has-children,
.widget_nav_menu ul .cat-parent,
.widget_nav_menu ul .page_item_has_children,
.widget_nav_menu ul.menu>.menu-item-has-children,
.widget_product_categories ul .cat-parent,
.widget_product_categories ul .page_item_has_children,
.widget_product_categories ul.menu>.menu-item-has-children,
.woocommerce-MyAccount-navigation ul .cat-parent,
.woocommerce-MyAccount-navigation ul .page_item_has_children,
.woocommerce-MyAccount-navigation ul.menu>.menu-item-has-children {
    position: relative
}

.widget-sub-navigation ul .cat-parent.toggle-active:before,
.widget-sub-navigation ul .page_item_has_children.toggle-active:before,
.widget-sub-navigation ul.menu>.menu-item-has-children.toggle-active:before,
.widget_nav_menu ul .cat-parent.toggle-active:before,
.widget_nav_menu ul .page_item_has_children.toggle-active:before,
.widget_nav_menu ul.menu>.menu-item-has-children.toggle-active:before,
.widget_product_categories ul .cat-parent.toggle-active:before,
.widget_product_categories ul .page_item_has_children.toggle-active:before,
.widget_product_categories ul.menu>.menu-item-has-children.toggle-active:before,
.woocommerce-MyAccount-navigation ul .cat-parent.toggle-active:before,
.woocommerce-MyAccount-navigation ul .page_item_has_children.toggle-active:before,
.woocommerce-MyAccount-navigation ul.menu>.menu-item-has-children.toggle-active:before {
    content: "-";
    right: 12px;
    top: 4px
}

.widget-sub-navigation ul .cat-parent:before,
.widget-sub-navigation ul .page_item_has_children:before,
.widget-sub-navigation ul.menu>.menu-item-has-children:before,
.widget_nav_menu ul .cat-parent:before,
.widget_nav_menu ul .page_item_has_children:before,
.widget_nav_menu ul.menu>.menu-item-has-children:before,
.widget_product_categories ul .cat-parent:before,
.widget_product_categories ul .page_item_has_children:before,
.widget_product_categories ul.menu>.menu-item-has-children:before,
.woocommerce-MyAccount-navigation ul .cat-parent:before,
.woocommerce-MyAccount-navigation ul .page_item_has_children:before,
.woocommerce-MyAccount-navigation ul.menu>.menu-item-has-children:before {
    content: "+";
    font-size: 20px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 6px;
    right: 9px;
    font-weight: 700;
    color: rgba(128, 128, 128, .6)
}

.widget-sub-navigation ul .cat-parent>ul,
.widget-sub-navigation ul .page_item_has_children>ul,
.widget-sub-navigation ul.menu>.menu-item-has-children>ul,
.widget_nav_menu ul .cat-parent>ul,
.widget_nav_menu ul .page_item_has_children>ul,
.widget_nav_menu ul.menu>.menu-item-has-children>ul,
.widget_product_categories ul .cat-parent>ul,
.widget_product_categories ul .page_item_has_children>ul,
.widget_product_categories ul.menu>.menu-item-has-children>ul,
.woocommerce-MyAccount-navigation ul .cat-parent>ul,
.woocommerce-MyAccount-navigation ul .page_item_has_children>ul,
.woocommerce-MyAccount-navigation ul.menu>.menu-item-has-children>ul {
    border-top: 1px solid #ebebeb;
    display: none
}

.widget-sub-navigation ul .cat-parent>ul .sub-menu>li,
.widget-sub-navigation ul .page_item_has_children>ul .sub-menu>li,
.widget-sub-navigation ul.menu>.menu-item-has-children>ul .sub-menu>li,
.widget_nav_menu ul .cat-parent>ul .sub-menu>li,
.widget_nav_menu ul .page_item_has_children>ul .sub-menu>li,
.widget_nav_menu ul.menu>.menu-item-has-children>ul .sub-menu>li,
.widget_product_categories ul .cat-parent>ul .sub-menu>li,
.widget_product_categories ul .page_item_has_children>ul .sub-menu>li,
.widget_product_categories ul.menu>.menu-item-has-children>ul .sub-menu>li,
.woocommerce-MyAccount-navigation ul .cat-parent>ul .sub-menu>li,
.woocommerce-MyAccount-navigation ul .page_item_has_children>ul .sub-menu>li,
.woocommerce-MyAccount-navigation ul.menu>.menu-item-has-children>ul .sub-menu>li {
    padding-left: 20px
}

.widget-sub-navigation ul .cat-parent>ul ul,
.widget-sub-navigation ul .page_item_has_children>ul ul,
.widget-sub-navigation ul.menu>.menu-item-has-children>ul ul,
.widget_nav_menu ul .cat-parent>ul ul,
.widget_nav_menu ul .page_item_has_children>ul ul,
.widget_nav_menu ul.menu>.menu-item-has-children>ul ul,
.widget_product_categories ul .cat-parent>ul ul,
.widget_product_categories ul .page_item_has_children>ul ul,
.widget_product_categories ul.menu>.menu-item-has-children>ul ul,
.woocommerce-MyAccount-navigation ul .cat-parent>ul ul,
.woocommerce-MyAccount-navigation ul .page_item_has_children>ul ul,
.woocommerce-MyAccount-navigation ul.menu>.menu-item-has-children>ul ul {
    border-top: 1px solid #ebebeb
}

.widget-sub-navigation ul .cat-parent>ul>li a,
.widget-sub-navigation ul .page_item_has_children>ul>li a,
.widget-sub-navigation ul.menu>.menu-item-has-children>ul>li a,
.widget_nav_menu ul .cat-parent>ul>li a,
.widget_nav_menu ul .page_item_has_children>ul>li a,
.widget_nav_menu ul.menu>.menu-item-has-children>ul>li a,
.widget_product_categories ul .cat-parent>ul>li a,
.widget_product_categories ul .page_item_has_children>ul>li a,
.widget_product_categories ul.menu>.menu-item-has-children>ul>li a,
.woocommerce-MyAccount-navigation ul .cat-parent>ul>li a,
.woocommerce-MyAccount-navigation ul .page_item_has_children>ul>li a,
.woocommerce-MyAccount-navigation ul.menu>.menu-item-has-children>ul>li a {
    padding-left: 10px
}

.widget_product_categories ul li a {
    display: inline-block!important
}

.widget_meta .mk-svg-icon,
.widget_nav_menu .mk-svg-icon,
.widget_recent_comments .mk-svg-icon {
    position: relative;
    top: 2px
}

#mk-footer .widget-sub-navigation ul,
#mk-footer .widget_nav_menu ul {
    border: none!important
}

#mk-footer .widget-sub-navigation ul li,
#mk-footer .widget_nav_menu ul li {
    border: none!important
}

#mk-footer .widget-sub-navigation ul li a,
#mk-footer .widget_nav_menu ul li a {
    padding: 5px 15px 5px 5px
}

#mk-footer .widget-sub-navigation ul li a:before,
#mk-footer .widget_nav_menu ul li a:before {
    display: none
}

.widget_tag_cloud a {
    display: inline-block;
    margin: 8px 3px 0 0;
    padding: 8px 10px;
    border: 2px solid rgba(0, 0, 0, .1);
    text-transform: capitalize;
    font-size: 12px!important;
    line-height: 100%
}

.widget_contact_form {
    padding-bottom: 5px
}

.widget_contact_form .text-input {
    margin-bottom: 6px;
    width: 100%
}

.widget_contact_form .textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 120px
}

.widget_contact_form .mk-form-row-widget {
    position: relative
}

.widget_contact_form .mk-button {
    border: 0
}

.widget_contact_form .captcha-change-image {
    display: block;
    font-size: 10px
}

.widget_contact_form .captcha-image {
    max-height: 50px
}

.mk-invalid {
    border: 1px solid #fd5e5e!important
}

#mk-footer .widget_contact_form .text-input,
#mk-footer .widget_contact_form .textarea {
    border-color: rgba(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, .03)
}

.widget_contact_info ul {
    margin: 0;
    padding: 0
}

.widget_contact_info ul li {
    position: relative;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
    line-height: 20px
}

.widget_contact_info ul li a {
    margin: 0
}

.widget_contact_info ul li svg {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    vertical-align: middle
}

.widget .mk-contact-form {
    position: relative
}

.widget .mk-contact-form .mk-contact-loading,
.widget .mk-contact-form .mk-contact-success {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 16px;
    height: 16px;
    font-size: 16px
}

.mk-instagram-feeds .item-holder {
    margin: 0 2px 2px 0;
    position: relative
}

.mk-instagram-feeds a {
    line-height: 4px;
    float: left
}

.mk-instagram-feeds .featured-image {
    line-height: 4px
}

.mk-instagram-feeds .featured-image img {
    position: relative
}

.mk-instagram-feeds .one-columns {
    width: 100%
}

.mk-instagram-feeds .two-columns {
    width: 49.9%
}

.mk-instagram-feeds .three-columns {
    width: 33.2%
}

.mk-instagram-feeds .four-columns {
    width: 24.9%
}

.mk-instagram-feeds .five-columns {
    width: 19.9%
}

@media handheld,
only screen and (max-width:600px) {
    .mk-instagram-feeds .five-columns,
    .mk-instagram-feeds .four-columns,
    .mk-instagram-feeds .three-columns {
        width: 50%!important
    }
}

.widget_posts_lists ul li {
    overflow: hidden;
    margin: 0 0 12px;
    padding: 0;
    list-style: none
}

.widget_posts_lists ul li .post-list-thumb {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 7px 0 0;
    width: 80px
}

.widget_posts_lists ul li .post-list-info {
    margin: 0 10px 5px 100px
}

.widget_posts_lists ul li .post-list-info.posts-no-thumb {
    margin-left: 0
}

.widget_posts_lists ul li .post-list-title {
    display: block;
    font-size: 13px;
    line-height: 18px
}

.widget_posts_lists ul li .post-list-meta {
    display: block;
    padding-top: 4px;
    font-size: 11px;
    line-height: 16px;
    font-style: italic
}

.widget_posts_lists ul li .post-list-meta time {
    color: #999
}

.widget_social_networks .align-left {
    text-align: left
}

.widget_social_networks .align-center {
    text-align: center
}

.widget_social_networks .align-right {
    text-align: right
}

.widget_social_networks a {
    position: relative;
    display: inline-block;
    margin: 5px 15px 5px 0;
    line-height: 100%;
    opacity: .5;
    transition: all .2s ease
}

.widget_social_networks a:hover {
    opacity: 1
}

.widget_social_networks a.mk-circle-frame,
.widget_social_networks a.mk-square-pointed,
.widget_social_networks a.mk-square-rounded {
    background-color: #fff;
    background-color: rgba(50, 50, 50, 0)
}

.widget_social_networks a.mk-circle-frame svg,
.widget_social_networks a.mk-square-pointed svg,
.widget_social_networks a.mk-square-rounded svg {
    vertical-align: middle
}

.widget_social_networks a.mk-circle-frame.small svg,
.widget_social_networks a.mk-square-pointed.small svg,
.widget_social_networks a.mk-square-rounded.small svg {
    padding: 10px
}

.widget_social_networks a.mk-circle-frame.medium svg,
.widget_social_networks a.mk-square-pointed.medium svg,
.widget_social_networks a.mk-square-rounded.medium svg {
    padding: 12px
}

.widget_social_networks a.mk-circle-frame.large svg,
.widget_social_networks a.mk-square-pointed.large svg,
.widget_social_networks a.mk-square-rounded.large svg {
    padding: 16px
}

.widget_social_networks a.mk-circle-frame.dark,
.widget_social_networks a.mk-square-pointed.dark,
.widget_social_networks a.mk-square-rounded.dark {
    border: 1px solid #828282
}

.widget_social_networks a.mk-circle-frame.light,
.widget_social_networks a.mk-square-pointed.light,
.widget_social_networks a.mk-square-rounded.light {
    border: 1px solid #ebebeb
}

.widget_social_networks a.mk-circle-frame.custom,
.widget_social_networks a.mk-square-pointed.custom,
.widget_social_networks a.mk-square-rounded.custom {
    border: 1px solid #828282
}

.widget_social_networks a.mk-circle-frame {
    border-radius: 50%
}

.widget_social_networks a.mk-square-rounded {
    border-radius: 15%
}

.widget_social_networks a.dark,
.widget_social_networks a.dark:hover {
    color: #828282
}

.widget_social_networks a.light,
.widget_social_networks a.light:hover {
    color: #ebebeb
}

.widget_social_networks a.small svg {
    height: 16px;
    width: 16px
}

.widget_social_networks a.medium svg {
    height: 24px;
    width: 24px
}

.widget_social_networks a.large svg {
    height: 32px;
    width: 32px
}

.mk-jupiter-icon-simple-xing:before,
.mk-jupiter-icon-square-xing:before,
.mk-jupiter-icon-xing:before {
    vertical-align: middle!important;
    line-height: 1!important;
    position: relative;
    top: -3px
}

.widget_testimonials .widgettitle {
    margin-bottom: -17px
}

.widget_testimonials .testimonial-slider li {
    margin: 0
}

.widget_testimonials .testimonial-slider .testimonial-quote {
    position: relative;
    padding: 15px;
    border: 1px solid #ededed;
    background-color: #fafafa;
    color: grey!important;
    border-radius: 2px
}

.widget_testimonials .testimonial-slider .testimonial-quote:after {
    position: absolute;
    bottom: -7px;
    left: 20px;
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #ededed;
    border-top: none;
    border-left: none;
    background-color: #fafafa;
    content: "";
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.widget_testimonials .testimonial-slider .testimonial-author {
    display: block;
    margin: 25px 0 7px 20px;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px
}

.widget_testimonials .testimonial-slider .testimonial-position {
    display: block;
    margin-left: 20px;
    font-size: 11px;
    line-height: 12px
}

.widget_testimonials .testimonial-slider .testimonial-author-image {
    display: inline-block;
    float: left;
    margin: 18px 10px 3px 5px;
    width: 50px;
    height: 50px;
    border-radius: 100px
}

.testimonial-slider.mk-flexslider {
    padding: 35px 0 0 0
}

.testimonial-slider.mk-flexslider .flex-direction-nav {
    position: absolute;
    top: 0;
    right: 5px
}

.testimonial-slider.mk-flexslider .flex-direction-nav .mk-jupiter-icon-arrow-left:before,
.testimonial-slider.mk-flexslider .flex-direction-nav .mk-jupiter-icon-arrow-right:before {
    color: #aaa
}

.testimonial-slider.mk-flexslider .flex-direction-nav a {
    right: 0!important;
    width: 10px;
    height: 11px
}

.testimonial-slider.mk-flexslider .flex-direction-nav .flex-prev {
    margin-right: 15px
}

.mk-widget-mini-slideshow li img {
    border-radius: 2px
}

.mk-widget-mini-slideshow .flex-direction-nav a {
    top: 50%;
    width: 18px;
    height: 18px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    position: absolute;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
    opacity: 0
}

.mk-widget-mini-slideshow .flex-direction-nav a:hover {
    background-color: rgba(0, 0, 0, .6)
}

.mk-widget-mini-slideshow .flex-direction-nav a svg {
    fill: #fff!important;
    margin: 0
}

.mk-widget-mini-slideshow .flex-prev {
    left: 10px
}

.mk-widget-mini-slideshow .flex-next {
    right: 10px
}

.mk-widget-mini-slideshow:hover .flex-direction-nav a {
    opacity: 1
}

.widget_news_feed {
    padding-bottom: 5px
}

.widget_news_feed .widgettitle {
    margin-bottom: -18px
}

.widget_news_feed .mk-flexslider {
    padding-top: 30px
}

.widget_news_feed .flex-direction-nav {
    position: absolute;
    top: 0;
    right: 5px
}

.widget_news_feed .flex-direction-nav .mk-svg-icon {
    fill: #aaa!important
}

.widget_news_feed .flex-direction-nav a {
    right: 0!important;
    width: 10px;
    height: 11px
}

.widget_news_feed .flex-direction-nav .flex-prev {
    margin-right: 18px
}

.widget_news_feed .mk-button {
    float: right;
    margin-top: 8px;
    color: #fff!important
}

.news-widget-thumbnail {
    display: block;
    margin-bottom: 10px
}

.news-widget-thumbnail img {
    border-radius: 2px
}

.news-widget-title {
    margin-bottom: 5px
}

.news-widget-title a {
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px
}

.news-widget-excerpt p {
    margin: 0;
    line-height: 18px
}

.widget_recent_portfolio {
    overflow: visible
}

.widget_recent_portfolio ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.widget_recent_portfolio ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%
}

.widget_recent_portfolio ul li:hover .widget-portfolio-overlay {
    opacity: .4
}

.widget_recent_portfolio ul li:hover .portfolio-widget-lightbox,
.widget_recent_portfolio ul li:hover .portfolio-widget-permalink {
    opacity: 1
}

.portfolio-widget-thumb {
    position: relative;
    display: block
}

.portfolio-widget-thumb img {
    width: 100%
}

.widget-portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.portfolio-widget-lightbox,
.portfolio-widget-permalink {
    position: absolute;
    top: 40%;
    margin-top: -15px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 2px;
    opacity: 0
}

.portfolio-widget-lightbox svg,
.portfolio-widget-permalink svg {
    fill: #fff;
    vertical-align: middle
}

.portfolio-widget-lightbox:hover,
.portfolio-widget-permalink:hover {
    background-color: rgba(0, 0, 0, .7)
}

.portfolio-widget-lightbox {
    right: 50%;
    margin-right: -42px
}

.portfolio-widget-permalink {
    left: 50%;
    margin-left: -42px
}

.portfolio-widget-info {
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    padding: 10px;
    background-color: #333;
    text-align: center;
    border-radius: 3px;
    opacity: 0
}

.portfolio-widget-title {
    display: inline-block;
    color: #fff!important;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px!important
}

.mk-tweet-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none
}

.mk-tweet-list li {
    position: relative;
    margin: 0 0 10px 20px
}

.mk-tweet-list li .mk-svg-icon {
    position: absolute;
    height: 16px;
    top: 8px;
    left: -28px
}

.mk-tweet-list li .tweet-text {
    display: block
}

.mk-tweet-list li .tweet-time {
    display: block;
    opacity: .7;
    font-size: 80%
}

.mk-tweet-list.light li {
    color: #777
}

.mk-tweet-list.light li a {
    color: #777!important;
    opacity: .7
}

.mk-tweet-list.dark li {
    color: #fff
}

.mk-tweet-list.dark li a {
    color: #fff!important;
    opacity: .7
}

.widget .mk-searchform {
    position: relative
}

.widget .mk-searchform .text-input {
    margin: 0;
    padding: 12px 28px 12px 15px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .12)
}

.widget .mk-searchform .text-input:focus {
    border-color: rgba(0, 0, 0, .25)
}

.widget .mk-searchform i {
    position: absolute;
    top: 13px;
    right: 14px;
    opacity: .4
}

.widget .mk-searchform i:hover {
    opacity: 1
}

.widget .mk-searchform i svg {
    height: 16px
}

.widget .mk-searchform i .search-button {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    background-color: transparent
}

#mk-footer .mk-searchform .search-button {
    color: #fff
}

#mk-footer .mk-searchform .mk-icon-search {
    color: rgba(255, 255, 255, .3)
}

#mk-footer .mk-searchform .text-input {
    border-color: rgba(255, 255, 255, .05);
    background-color: rgba(255, 255, 255, .03)
}

#mk-footer .mk-searchform .text-input:focus {
    border-color: rgba(255, 255, 255, .08)
}

@media screen and (max-width:600px) {
    #wpadminbar {
        position: fixed!important
    }
}

.wpcf7-form p {
    margin-bottom: 10px!important
}

.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-textarea {
    box-sizing: border-box
}

.wpcf7-form .wpcf7-textarea {
    width: 80%
}

@media handheld,
only screen and (max-width:767px) {
    .wpcf7-form .wpcf7-email,
    .wpcf7-form .wpcf7-text,
    .wpcf7-form .wpcf7-textarea {
        width: 100%
    }
}

@media only screen and (min-width:320px) and (max-width:480px) {
    .no-smartphone {
        display: none!important
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .no-ipad {
        display: none!important
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
    .no-iphone {
        display: none!important
    }
}

.mk-svg-icon {
    width: auto;
    height: auto;
    fill: currentColor
}

.mk-svg-icon-wrapper {
    line-height: normal;
    vertical-align: middle
}

[class*=" mk-icon-"] .mk-svg-icon path,
[class*=" mk-jupiter-icon-"] .mk-svg-icon path,
[class*=" mk-li-"] .mk-svg-icon path,
[class^=mk-icon-] .mk-svg-icon path,
[class^=mk-jupiter-icon-] .mk-svg-icon path,
[class^=mk-li-] .mk-svg-icon path {
    -webkit-transform: translateY(1%);
    -ms-transform: translateY(1%);
    transform: translateY(1%)
}

.center-icon {
    display: -webkit-inline-box!important;
    display: -ms-inline-flexbox!important;
    display: inline-flex!important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.center-icon .mk-svg-icon {
    margin: 0 auto
}

.mk-svg-icon-wrapper {
    display: inline-block;
    width: 100%;
    position: relative
}

.mk-svg-icon-wrapper img,
.mk-svg-icon-wrapper svg {
    display: inline-block
}

#wp-calendar #next:before,
#wp-calendar #prev:before,
.blog-blockquote-content:before,
.ls-jupiter .ls-nav-next:before,
.ls-jupiter .ls-nav-prev:before,
.main-navigation-ul li.with-menu>a:before,
.mk-accordion-tab:before,
.mk-blockquote.quote-style:before,
.mk-jupiter-icon-simple-xing:before,
.mk-jupiter-icon-square-xing:before,
.mk-jupiter-icon-xing:before,
.mk-main-navigation ul:before,
.mk-toggle-title:before,
.mk-tweet-list li:before,
.mk-woocommerce-pagination .next:before,
.mk-woocommerce-pagination .prev:before,
.product-loading-icon:before,
.sf-sub-indicator:before,
.tw_list .tweet_list li a:before,
.widget-sub-navigation li a:before,
.widget_archive li a:before,
.widget_authors li a:before,
.widget_categories li a:before,
.widget_links li a:before,
.widget_meta li a:before,
.widget_nav_menu li a:before,
.widget_pages li a:before,
.widget_popular_tags li a:before,
.widget_product_categories li a:before,
.widget_recent_comments li:before,
.widget_recent_entries li a:before,
.widget_rss li a:before,
[class*=" mk-icon-"]:before,
[class*=" mk-jupiter-icon-"]:before,
[class*=" mk-li-"]:before,
[class*=" mk-moon-"]:before,
[class^=mk-icon-]:before,
[class^=mk-jupiter-icon-]:before,
[class^=mk-li-]:before,
[class^=mk-moon-]:before {
    display: none!important
}

[class*=" mk-icon-"]:before,
[class^=mk-icon-]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none
}

a [class*=" mk-icon-"],
a [class^=mk-icon-] {
    display: inline-block
}

.mk-jupiter-icon-square-xing:before,
.mk-jupiter-icon-xing:before,
.mk-woocommerce-pagination .next:before,
.mk-woocommerce-pagination .prev:before,
.product-loading-icon:before,
[class*=" mk-moon-"],
[class^=mk-moon-] {
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0;
    vertical-align: middle;
    direction: ltr
}

[class*=" mk-moon-"],
[class^=mk-moon-] {
    display: inline-block;
    line-height: 1
}

a [class*=" mk-moon-"],
a [class^=mk-moon-] {
    display: inline-block
}

.rtl #theme-page [class*=" mk-moon-"],
.rtl #theme-page [class^=mk-moon-] {
    font-family: Icomoon!important
}

[class*=" mk-li-"],
[class^=mk-li-] {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*=" mk-jupiter-icon-"],
[class^=mk-jupiter-icon-] {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}