#mainBody{
	margin: 0 auto;
	max-width: 1100px;
	padding: 10px;
}
.logoutBtn{
	color: #fff;
	float: right;
}
#navBar{
	margin-bottom: 20px;
	margin-top: 10px;
}

#superAdminDeptDD{
	border-right: 1px solid #666;
	cursor: pointer;
	padding-right: 20px;
}


.addDiv{

}
.addDiv td{
	padding-top: 5px;
}
.nameCell{
	font-size: 0.9em;
	font-style: italic;
	padding-left: 10px;
}

.greenIco{
	color: #009a00;
}
.redIco{
	color: #980000;
}
.yellowIco{
	color: #ffbf27;
}
.removeRowIco{
	color: #777;
	cursor: pointer;
}
.removeRowIco:hover{
	color: #222;
}
.inputNoticeIco{
	color: #888;
	font-size: .8em;
	padding-left: 3px;
}

.directoryForm input:disabled{
	cursor: default;
}

.cnsGreenText,
.titleFH{
	color: #304C2F;
}
.titleSH{
	color: #555;
}

.userPic{
	background: #DDD;
	border: 1px solid #444;
	width: 100%;
}
	@media only screen and (max-width: 780){
		.userPic{
			width: 50%;
		}
	}
.photoDiv{
	margin: 0 auto;
}
.photoBtn{
	margin: 0 5px 5px 5px;
}
.groupSettingsBtn{
	margin: 0 5px 5px 5px;
}

.userPicCir{

}

/* Picture uploader */
.picRow{
}
.uploadPicHolder{
	margin: 0 auto;
	max-height: 500px;
	max-width: 500px;
}
.uploadPic{

}

.sSpan{
	font-weight: bold;
}
.ifFail{
	display: none;
}

#pubOL{
	margin: 20px 0 0 0;
	padding: 0;
}
.pubLI{
	background: #efefef;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px;
}
.pubTop{}
.lHolder{
	display: inline-block;
	color: #777;
}
.rHolder{
	float: right;
}
.handle{
	cursor: move;
}
.pubLI .form-group{
	margin-bottom: 2px;
}
.pubLI label{
	font-size: .9em;
	margin-bottom: 0;
	padding-bottom: 0;
}
.source-type{
    border: 1px 0 1px 1px;
    border-color: #ced4da;
    border-style: solid;
}
#addPubDiv{
	margin: 20px auto 0 auto;
	text-align: center;
}

.updatePersonBtn{
	margin: 20px auto;
}

.tablesorter thead .disabled {display: none}
.tablesorter .tablesorter-filter-row td{margin: 0; padding: 3px 0 3px 0; text-align: left;}
.tablesorter-filter{margin: 0;}

@media only screen and (max-width: 990px) {
	.tablesorter-filter-row [data-column="3"],
	.tablesorter-filter-row [data-column="4"],
	.tablesorter-filter-row [data-column="5"]{
		display: none;
	}
}