/*Proxima Nova thin*/
@font-face {
    font-family: 'prox-thin';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_thin_macroman/ProximaNova-Thin-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_thin_macroman/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_thin_macroman/ProximaNova-Thin-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_thin_macroman/ProximaNova-Thin-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_thin_macroman/ProximaNova-Thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Proxima Nova thin italic*/
@font-face {
    font-family: 'prox-thin';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_thinitalic_macroman/ProximaNova-ThinIt-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_thinitalic_macroman/ProximaNova-ThinIt-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_thinitalic_macroman/ProximaNova-ThinIt-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_thinitalic_macroman/ProximaNova-ThinIt-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_thinitalic_macroman/ProximaNova-ThinIt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*Proxima Nova light*/
@font-face {
    font-family: 'prox-light';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_light_macroman/ProximaNova-Light-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_light_macroman/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_light_macroman/ProximaNova-Light-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_light_macroman/ProximaNova-Light-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_light_macroman/ProximaNova-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Proxima Nova light italic*/
@font-face {
    font-family: 'prox-light';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_lightitalic_macroman/ProximaNova-LightIt-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_lightitalic_macroman/ProximaNova-LightIt-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_lightitalic_macroman/ProximaNova-LightIt-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_lightitalic_macroman/ProximaNova-LightIt-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_lightitalic_macroman/ProximaNova-LightIt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*Proxima Nova regular*/
@font-face {
    font-family: 'prox-regular';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_regular_macroman/ProximaNova-Reg-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_regular_macroman/ProximaNova-Reg-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_regular_macroman/ProximaNova-Reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Proxima Nova regular italic*/
@font-face {
    font-family: 'prox-regular';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_italic_macroman/ProximaNova-RegIt-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_italic_macroman/ProximaNova-RegIt-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_italic_macroman/ProximaNova-RegIt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*Proxima Nova bold*/
@font-face {
    font-family: 'prox-regular';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_bold_macroman/ProximaNova-Bold-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_bold_macroman/ProximaNova-Bold-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_bold_macroman/ProximaNova-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*Proxima Nova bold italic*/
@font-face {
    font-family: 'prox-regular';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/*Proxima Nova semibold*/
@font-face {
    font-family: 'prox-semibold';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf') format('truetype');
    font-weight: regular;
    font-style: normal;
}

/*Proxima Nova semibold italic*/
@font-face {
    font-family: 'prox-semibold';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibolditalic_macroman/ProximaNova-SboldIt-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibolditalic_macroman/ProximaNova-SboldIt-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibolditalic_macroman/ProximaNova-SboldIt-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibolditalic_macroman/ProximaNova-SboldIt-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_semibolditalic_macroman/ProximaNova-SboldIt-webfont.ttf') format('truetype');
    font-weight: regular;
    font-style: italic;
}

/*Proxima Nova extra bold*/
@font-face {
    font-family: 'prox-extra-bold';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabold_macroman/ProximaNova-Xbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Proxima Nova extra bold italic*/
@font-face {
    font-family: 'prox-extra-bold';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabolditalic_macroman/ProximaNova-XboldIt-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabolditalic_macroman/ProximaNova-XboldIt-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabolditalic_macroman/ProximaNova-XboldIt-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabolditalic_macroman/ProximaNova-XboldIt-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_extrabolditalic_macroman/ProximaNova-XboldIt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*Proxima Nova black*/
@font-face {
    font-family: 'prox-black';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_black_macroman/ProximaNova-Black-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_black_macroman/ProximaNova-Black-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_black_macroman/ProximaNova-Black-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_black_macroman/ProximaNova-Black-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_black_macroman/ProximaNova-Black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Proxima Nova black italic*/
@font-face {
    font-family: 'prox-black';
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_blackitalic_macroman/ProximaNova-BlackIt-webfont.eot');
    src: url('//static.colostate.edu/fonts/proxima-nova/proximanova_blackitalic_macroman/ProximaNova-BlackIt-webfont.eot?#iefix') format('embedded-opentype'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_blackitalic_macroman/ProximaNova-BlackIt-webfont.woff2') format('woff2'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_blackitalic_macroman/ProximaNova-BlackIt-webfont.woff') format('woff'),
        url('//static.colostate.edu/fonts/proxima-nova/proximanova_blackitalic_macroman/ProximaNova-BlackIt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
