/*
Theme Name:     Jupiter Child Theme - CNS
Theme URI: 	http://themeforest.net/user/artbees
Description:    Child theme for the Jupiter theme for CNS
Author:         Steve Garten
Template:       jupiter
Version:        1.0
*/

/*
This file is pulled into each of the dept theme's, too. Used for "universal" styles across themes.
*/

/* General Header Styles */
#responsiveHeaderContainer{
	display: flex;
	align-items: center;
	vertical-align: center;
	height: 100%;
}


/* CSU Header Styles */
@media only screen{
    #csuLargeLogo{
        display: inline-block;
    }
    #csuMedLogo,
    #csuSmallLogo{
        display: none;
    }
}
@media only screen and (max-width: 1140px){
    #csuMedLogo{
        display: inline-block;
    }
    #csuLargeLogo,
    #csuSmallLogo{
        display: none;
    }
    /* If page has the page header, push it down to account for mobile menu */
    #mk-page-introduce{
        margin-top: 35px;
    }
}
@media only screen and (max-width: 800px){
    #csuSmallLogo{
        display: inline-block;
    }
    #csuMedLogo,
    #csuLargeLogo{
        display: none;
    }
    /* Look into the A tag being 123px wide... this is the only case of the 3 that has that additional 10px */
    #csuHeaderLink{
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
}
#csuHeaderLink{
	margin-left: 15px;
	z-index: 1000;
	line-height: 0;
}

/* CNS Header Styles */
#responsiveLogoSubsystem{
	align-items: center;
	vertical-align: baseline;
	box-sizing: border-box;
	color: rgb(108, 108, 108);
	display: flex;
	font-family: Lato, sans-serif;
	font-size: 0px;
	height: 42.0469px;
	line-height: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 32px;
	position: relative;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#responsiveLogoSubsystem::before{
	border-left-color: rgb(255, 255, 255);
	border-left-style: solid;
	border-left-width: 2px;
	bottom: 0px;
	box-sizing: border-box;
	content: "";
	display: block;
	height:42.0469px;
	left: 0px;
	margin-left: 15px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 999;
}
#cnsHeaderLink{
	display: block;
	color: #FFFFFF;
	z-index: 2000;
}
#cnsHeaderLink h1{
	margin: 0;
	padding: 0;
	z-index: 1001;
}
/* CSU Unit Identifier Font */
.larger-CSUtext{
  font-family: 'prox-light';
  letter-spacing: .11em;
  line-height: 1em;
  font-size: 19px;
  text-transform: uppercase;
}
#deptDIV a{
  color: rgba(255, 255, 255, 0.9);
  margin-left: 15px;
  vertical-align: middle;
  font-size: 24px;
}

/* Vertically Center Buttons in a Row */
/* Work in progress... reference "Undergradute Research" page's buttons */
.buttonRowVCenter .vc_btn3-container,
.buttonRowVCenter .vc_btn3-container button{
	vertical-align: middle;
}


/* Modify footer to span full width */
.mk-footer-copyright{
     width: 100%;
}

/* Since mobile menu has been moved below header,
   make necessary adjustments */
.mk-nav-responsive-link{
	position: relative;
	float: none;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #3C6548;
	overflow: hidden;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.mk-css-icon-menu{
	margin: 0 auto;
	overflow: hidden;
}
.mk-responsive-wrap{
	/*overflow: auto;*/
	margin-top: 35px;
}

/* Large Footer */
#mk-footer .widget:not(.widget_social_networks) a{
	color: #DDDDDD;
}
#mk-footer .widget:not(.widget_social_networks) a:hover{
	color: #FFFFFF;
}


/* Custom Sub-Footer (Copyright) */
.mk-footer-copyright{

}


/* Links */
.mk-footer-copyright{
	padding: 0px !important;
}
.mk-footer-copyright ul{
	list-style-type: none;
}
.mk-footer-copyright li{
	float: left;
	margin-left: 0;
	margin-right: 20px;
}
.mk-footer-copyright a{
	color: #FFFFFF;
}
.mk-footer-copyright a:hover{
	text-decoration: underline;
}
.flexbox-footer{
	padding: 10px;
}
@media(min-width: 1141px){
	.flexbox-footer{
		display: flex;
		align-items: center;
	}
}
.flexbox-footer-left{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.flexbox-footer-left div{
	display: block;
}

.flexbox-footer-left-bottom{
    text-align: left;
}
.flexbox-footer-right{

}


/* For Admin VC Directory Settings Dialog Box */
div[data-vc-shortcode-param-name="sg_vc_directory_group"] label.vc_checkbox-label{
     display: block !important;
}

/*
Failed CSS accessibility solution -> Try JS
nav.mk-main-navigation ul#menu-main-nav li.menu-item-has-children a:focus{
    border: 1px solid green !important;
}
nav.mk-main-navigation ul#menu-main-nav li.menu-item-has-children a:focus + ul.sub-menu{
    display: block;
}
*/

nav.mk-main-navigation ul#menu-main-nav li.menu-item-has-children a:focus{
    border: 1px solid #AAA;
}

/* ISSUE IS WITH .mk-footer-copyright */

/*
<div id="theme-page" class="master-holder">
	<div class="theme-page-wrapper mk-main wrapper mk-grid full-layout">
		<div class="theme-content" itemprop="mainEntityOfPage".


*/


#sub-footer a:hover{
	color: #fff;
}
.noHoverUnderline:hover,
.noHoverUnderline a:hover{
	text-decoration: none;
}

.news-featured-image {
	text-align: center;
}

.news-featured-image img {
	max-height: 128px;
}

.news-div {
	padding-bottom: 10px;
}

.main-nav-side-search {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: top;
    position: relative;
}

.navigation div {
	padding-bottom: 10px;
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }